{{#if hasCalls }}

<table class="calls table table-striped">
  <thead>
    <tr>
      <th>Time</th>
      <th>Expert</th>
      <th>request</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

{{else}}

  <p>You have yet to schedule a call with an expert.</p>

{{/if }}
