{{#if hasRequests }}

<header class="entry-header">
  <h1 class="entry-title" itemprop="headline">Your requests</h1>
</header>

<div class="entry-content">
  <table class="requests table table-striped">
    <thead>
      <tr>
        <th>Created</th>
        <th>Status</th>
        {{! <th>For</th> }}
        <th>Tags</th>
        <th>Suggested</th>
        {{!-- <th>Calls</th> --}}
        <th class="reqOptions"></th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>

{{else}}

<div id="noRequests">
  <header class="entry-header">
    <h1 class="entry-title" itemprop="headline">No requests!</h1>
  </header>

  <div class="entry-content">

    <p style="padding:20px 0;font-weight:bold">I see you have no requests. Here's 10 reasons to <a href="/find-an-expert">create a request</a> NOW:</p>
    <ul>
      <li>Get the help you need quickly and painlessly.</li>
      <li>Choose the cure, not a bandaid and learn how to fix problems with help from and expert developer.</li>
      <li>Have your project or business validated by a savvy engineer.</li>
      <li>Push through barriers.</li>
      <li>Avoid wasting time on frustrating bugs.</li>
      <li>Keep your skills up to date.</li>
      <li>Incorporate expert feedback to minimize technical debt.</li>
      <li>Two heads are better than one.</li>
      <li>Help a dev pay his bills.</li>
      <li>It's something to share with your friends :-)</li>
    </ul>

    <p><a class="button" href="/find-an-expert">Get help now!</a></p>

    <p>If there's nothing you need help with at this moment, make sure you've <a style="font-weight:bold" href="/be-an-expert">filled in your expert profile</a>.</p>
  </div>

</div>

{{/if }}
