body {
  padding-top: 20px;
  padding-bottom: 40px;
}

.main { display:none;margin-top:20px; }

.c900 {
  margin: 0 auto;
  max-width: 900px;
  font-size:14px;
}

.header { color:#999999;border-bottom:solid 1px #d3d3d3; }
.header div { height:60px; }
.header img { display:inline-block;float:left }
.header span { display:inline-block;float:left;padding:6px }

.codeline { padding:8px;clear:both;font-family:courier }
.codeline em { color:blue; }

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 900px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.asession { border-bottom:solid 1px #d3d3d3;padding:30px 0px; }

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.leadRow td { font-size:11px; }
.leadRow .label-skill { background-color:maroon;margin-right:4px; }

#review label { display:inline-block;font-weight:bold }
#review .label { margin-right:10px;padding:3px 5px; }
#review .suggetion { border:solid 1px #d3d3d3;padding:20px;width:220px;font-size:11px;display:inline-block;margin-right:20px; }
#review .suggetion img.profile { width:220px;display:block;margin-bottom:16px; }
#review .suggetion img.icon { width:32px; }
#review .suggetion div.links { display:inline-block;width:100px;line-height:14px; }
#review .suggetion label { color:gray;font-weight:normal;width:70px;font-size:11px; }