body { background:none repeat scroll 0 0 #E2E2E2;width:1280px;margin:auto }

nav { height:54px;border-bottom:solid 1px #d3d3d3;padding-top:6px;background:url('/images/bg-top-short.jpg') }
nav img { display:inline-block;width:180px;padding:3px 12px; }
nav h3 { display:inline-block;color:#999999;padding:16px 6px }
nav ul { float:right;margin:8px; }
nav ul li { float:right;display:block;margin-left:5px }

div.main { margin-top:20px }

.alert { display:none }

.codeline {
  clear:both;font-family:courier;color: #212F3B;
  float: left;border-bottom: dashed 1px #A4A4A5;
  border-top:dashed 1px #A4A4A5;padding:10px 0;width:900px;margin-bottom:30px;
}
.codeline em { color:#CE5424; }


/*.leadRow td { font-size:11px; }
.leadRow .label-skill { background-color:maroon;margin-right:4px; }

*/

/* Used for colorful braces */
h2 b { color:#CC523E }
h2 em { color:#7F761C;font-style:normal; }
legend b { color:#CC523E }
legend em { color:#7F761C;font-style:normal; }

.label-tag { padding:4px;background-color:#333333;font-weight:normal; }


.label-status { padding:4px; }
.label-received { background-color:#3A87AD }
.label-incomplete { background-color:#b94a48 }
.label-review { background-color:#468847 }
.label-scheduled { background-color:#333333 }
.label-completed { background-color:#999999 }
.label-canceled { background-color:#999999 }

.expert { width:300px;border:solid 0.5px #d3d3d3; }
.expert h3 { font-size:16px; }
.expert .pic { width:200px }
.expert i { display:block;margin:20px auto }
.expert .links { margin:20px 0; }
