#requestpage .main { display:none }
#requestpage .muted { font-size:12px;font-style:italic; }

#requestpage .twitter-typeahead input { width:280px; }

#requestpage h4 { padding-top:20px }
#requestpage h4 em { font-size:24px;color:#7F761C;font-style:normal; }
#requestpage h4 b { font-size:24px;color:#CC523E;font-style:normal; }


#requestpage .faces { display:block;float:left;width:160px;margin:18px 10px 0 10px }
#requestpage .welcomeMsg { float:left;width:600px;padding:30px 50px 0 30px }
#requestpage .welcomeMsg h1 { font-size:64px;margin-bottom:40px;margin-top:6px; }
#requestpage .welcomeMsg p { font-size:18px;line-height:28px }
#requestpage .rightCol { float:left;width:360px;padding:20px;min-height:700px;background:white;text-align:center; }
#requestpage .rightCol i { color:gray;font-size:12px; }
#requestpage .signinBtn-google { margin:10px 0 0 -10px; }
#requestpage h2 { }
#requestpage legend { border:none;font-size:38px;font-weight:bold;margin-bottom:34px }

#requestpage #contactInfo { padding-top:20px }
#requestpage .pic-group { float:left;width:120px;padding:4px 40px 0 0px;; }
#requestpage .pic-group img { height:126px }
#requestpage .personal-info-group { float:left;width:300px; }
#requestpage .personal-info-group { float:left;width:300px; }
#requestpage #companyInfo { width:500px;float:left;margin-left:40px; }
#requestpage #companyInfo input {  }
#requestpage #companyInfo textarea { width:90%;height:250px; }
#requestpage #companyForm { float:left; }
#requestpage #companyHelp { float:left;width:180px;padding:100px 80px;background:#d1d1d1; }

#requestpage #requestForm { float:left;width:860px;  }
#requestpage #requestForm textarea { width:90%;height:250px; }
#requestpage #requestForm .error-message { margin:-10px 0 0 5px;font-size:12px  }
#requestpage .rb-group { margin:10px;display:block;height:30px; }
#requestpage .rb-group label { float:left;margin-right:8px;color:gray; }
#requestpage .rb-group input { float:left;margin-right:30px; }
#requestpage .rb-group .error-message { display:block; }
#requestpage #requestForm .availabilty { float:right;width:34%; }
#requestpage #requestForm .availabilty input { width:120px; }

#requestpage { }