#reviewpage { }
#reviewpage .main { }
#reviewpage h2 { font-size:22px; }
#reviewpage h5 .muted { font-weight:normal;font-size:12px;font-style:italic; }
#reviewpage #cola { height:100%;width:46%;padding:0 2% 3% 1%;float:left; }
#reviewpage #colb { min-height:800px;background:white;width:46%;padding:0 2% 0 2%;float:right }

#reviewpage .customerFeedback hr { margin:10px 0; }
#reviewpage .expert { float:right;margin-bottom:20px;  }

#reviewpage .suggestionInfo { float:left;width:260px }
#reviewpage .suggestionInfo .label { padding:3px 10px 3px 10px; }
#reviewpage .suggestionInfo hr { margin:10px 0; }
#reviewpage .feedback { margin:0px 0px 10px 0 }
#reviewpage .feedback img.user { width:40px;float:left;margin:0px 10px 0 0 }
#reviewpage .feedback > div { float:left;width:80%;font-size:11px;margin:0 }
#reviewpage .well textarea { width:94%;height:100px;font-size:12px; }

#reviewpage #experts hr { clear:both;}
#reviewpage #experts .well { width:230px;padding:15px; }
#reviewpage #experts .well h4 { margin-top:0;font-size:16px; }
#reviewpage #experts .well select { width:230px }
#reviewpage #experts .well .button { width:188px; }
#reviewpage #experts .unwanted { margin-bottom:10px;display:none; }

#reviewpage #expertReviewForm {}
#reviewpage #expertReviewForm .well { width:410px!important;padding:15px;float:left; }
#reviewpage #expertReviewForm h4 { color:black; }
#reviewpage #expertReviewForm select { width:64%!important; }
#reviewpage #expertReviewForm .hideShowSave { display:none }
#reviewpage #expertReviewForm .charCount { margin:-20px 13px 0 0;float:right; }
#reviewpage #expertReviewForm .note { color:#CC523E;font-size:11px;margin-left:3px; }

#reviewpage dl { margin:0 0 6px 0 }
#reviewpage dt { padding:6px 0px 2px 4px;font-weight:bold }
#reviewpage dd { padding:0px 0px 4px 4px; }
#reviewpage .contact { padding-top:10px }
#reviewpage .contact div { float:left;width:80px;margin-right:20px;text-align:center; }
#reviewpage .contact img { float:left;margin:4px 0px 8px 0px; }
#reviewpage .contact dl { overflow:hidden;line-height:14px }
#reviewpage .contact dt { display:inline-block;font-weight:normal;width:12%;line-height:14px;color:gray; }
#reviewpage .contact dd { display:inline-block;width:78%;padding:0px; }
#reviewpage .request-info label { font-weight:bold }

#reviewpage .leftCol { width:836px }
#reviewpage .rightCol { width:360px;padding:20px;background:white;text-align:center; }
#reviewpage .form-actions { border-top: 1px solid gray; }

#reviewpage ul#experts { padding:0;margin:0 }
#reviewpage ul#experts .expertMini { float:left }
#reviewpage ul#experts .expertMini .pic { width:80px;height:80px }
#reviewpage ul#experts .expertOptions { float:left;margin-left:20px }
#reviewpage ul#experts .expertOptions em { font-weight:normal;font-style:normal;color:gray }