#reviewpage { }
#reviewpage .main { }
#reviewpage h2 { font-size:22px; }
#reviewpage .info { height:100%;width:46%;padding:0 2% 3% 2%;float:left; }
#reviewpage .suggestions { min-height:800px;background:white;width:46%;padding:0 2% 0 2%;float:right }
#reviewpage .suggestions .suggestionInfo { float:left;width:200px; }
#reviewpage .suggestions .suggestionInfo .label { padding:8px 20px; }
#reviewpage .suggestions .expert { float:right;margin-bottom:20px;  }
#reviewpage .suggestions hr { clear:both;}
#reviewpage .suggestions .well { width:236px; }
#reviewpage .suggestions .well h4 { margin-top:0; }
#reviewpage .suggestions .well select { width:230px }
#reviewpage .suggestions .well textarea { width:220px;height:100px;font-size:11px; }
#reviewpage .suggestions .well hr { margin-bottom:0; }
#reviewpage .suggestions .well .button { width:188px; }

#reviewpage dl { margin:0 0 6px 0 }
#reviewpage dt { padding:6px 0px 2px 4px;font-weight:bold }
#reviewpage dd { padding:0px 0px 4px 4px; }
#reviewpage .contact { padding-top:10px }
#reviewpage .contact div { float:left;width:80px;margin-right:20px;text-align:center; }
#reviewpage .contact img { float:left;margin:4px 0px 8px 0px; }
#reviewpage .contact dl { overflow:hidden;line-height:14px }
#reviewpage .contact dt { display:inline-block;font-weight:normal;width:12%;line-height:14px;color:gray; }
#reviewpage .contact dd { display:inline-block;width:78%;padding:0px; }
#reviewpage .request-info label { font-weight:bold }