#chat {
  text-align: left;
  min-height: 310px;
  margin-bottom: 50px;
  display: block;

  h3 {
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
  }

  & .row {
    margin-bottom: 10px;
    min-height: 25px;
  }

  .pic {
    img {
      border-radius: 15px;
      min-width: 45px !important;
    }
    &.ng-hide {
      display: block !important;
      visibility: hidden;
    }
  }

  #messages {
    .icon {
      text-align: center;
    }
    .fa {
      color: rgb(221, 74, 20);
      font-size: 25px;
    }
  }

  .message {
    background: white;
    border-radius: 15px;
    margin-left: -10px;
    padding: 4px 15px;

    &.question {
      font-weight: bold;
    }
  }

  .timestamp {
    color: #999;
    font-size: 80%;
    padding-top: 3px;
  }

  input {
    border: 1px solid silver;
    border-radius: 5px;
    width:98%;
    padding: 5px;
    &:focus { outline: none !important; }
  }
}
