#chat {
  display: block;
  min-height: 310px;
  margin-bottom: 50px;
  padding: 30px;
  text-align: left;

  h3 {
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
  }

  .pic {
    min-width: 35px !important;
    max-width: 50px !important;
    padding: 5px;
    img {
      border-radius: 15px;
    }
    &.ng-hide {
      display: block !important;
      visibility: hidden;
      img { max-height: 0 }
    }
  }

  #messages {
    .icon {
      text-align: right;
    }
    .fa {
      color: rgb(221, 74, 20);
      font-size: 17pt;
      padding: 5px;
    }
  }

  .message {
    border-radius: 15px;
    margin-left: -1%;
    padding: 4px 15px;

    input {
      margin-top: 5px;
    }
  }

  .timestamp {
    color: #999;
    font-size: 80%;
    padding-top: 3px;
  }

  input {
    border: 1px solid silver;
    border-radius: 5px;
    width:98%;
    padding: 5px;
    &:focus { outline: none !important }
  }

  #messages {
    & > .row {
      border-radius: 15px;
      min-height: 25px;
      padding-bottom: 5px;
    }
    & > .row.question { background: #fea }
    & > .row.shrink {
      padding-top: -5px;
      padding-bottom: 2px;
    }
  }

  .row.question {
    .message-content {
      font-size: 14pt;
      font-weight: 600;
    }
    &.shrink {
      padding-bottom: 10px;
    }
  }
}
