
// Mobile Navbar

@media (max-width: $grid-float-breakpoint-max){
  .navbar-default {
    .navbar-header { }
    .navbar-brand-img img{
      padding-top: 4px;
      padding-left: 20px;
    }
  }
}

%link {
  &:hover {
    color: $brand-primary;
  }
}

.navbar-default {
  .nav-public {
    @media (min-width: $grid-float-breakpoint) {
      margin-left: 15px;
    }

    & > li > a {
      color: #353535;
      @extend %link;
    }
  }
  &.internal {
    margin-bottom: 0;
    min-height: 80px;
    padding-top: 7px;

    .container-fluid {
      padding-left: 45px;
    }

    li > a {
      font-weight: bold;
    }

    .navbar-header {
      padding-left: 15px;
    }
  }

  &.expert {
    background-color: #232835;
    color: #fff;
    .container-fluid {
      padding-left: 45px;
    }
    .navbar-header {
      line-height: 50px;
      padding-left: 15px;
      padding-top: 4px;
      width: 100%;
    }
    .navbar-info {
      float: right;
    }
    span {
      font-size: 16px;
      margin-right: 10px;
      min-height: 60px;
    }
    span.label {
      font-weight: bold;
    }
    span.editable {
      font-weight: lighter;
    }
    span.editable a {
      background-image: url('/images/icons/pencil.png');
      background-repeat: no-repeat;
      margin-left: 20px;
      padding-left: 20px;
      position: relative;
    }
    span.info {
      font-size: 24px;
      font-weight: lighter;
    }
    span.sub-label {
      color: #7F7F7F;
    }
  }
}

.wrapper {
  padding-left: 160px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  @media (max-width: $screen-sm-min) {
    padding-left: 0;
  }
}

.sidebar-wrapper {
  z-index: 1000;
  left: 160px;
  position: absolute;
  top: 0;
  width: 160px;
  height: 120%;
  margin-left: -160px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  @media (max-width: $screen-sm-min) {
    width: 0;
  }
}

.sidebar-nav {
  font-weight: lighter;
  list-style: none;
  margin: 0;
  padding: 25px;
  position: absolute;
  top: 0;
  width: 160px;

  li:not(.sidebar-profile) a {
    line-height: 28px;
    padding-top: 2px;
    display: block;
    text-decoration: none;
    color: #fff;
    width: 100%;
    border-bottom: 2px solid #4C4C4C;
  }

  li a:hover {
    text-decoration: none;
    color: #CE5424;
  }

  li a:active,
  li a:focus {
    text-decoration: none;
  }

  & > .sidebar-profile {
    height: 130px;
    padding: 10px 0;
    img.profile {
      border-radius: 50px;
      height: 100px;
      width: 100px;
    }
  }

  li.last {
    margin-bottom: 5px;
    a {
      border-bottom: 0;
    }
  }

  li.sidebar-name {
    margin: 0 -5px;
    padding-bottom: 20px;
    a {
      border-bottom: 0;
      color: #fff;
      font-size: 18px;
      text-transform: uppercase;
    }

    a:hover {
      color: #CE5424;
    }
  }

}

//page content
.site-container {
  background-color: #000;
  margin-top: 70px;
  padding-left: 160px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  @media (max-width: $screen-sm-min) {
    padding-left: 0;
  }

  .view-container {
    background: #fff;
    padding-left: 100px;
    padding-right: 85px;
  }
}

// Footer

footer {
  background: #222;
  text-align: center;
  color: #7A7A7A;
  padding: 25px 0;
  a {
    color: #fff;
    &:hover {
      color: #fff;
      text-decoration: underline;
  }
}
}



// Custom 5 column grid

.columns-five {
  @include clearfix;
  .column {
    // &:first-child {padding-left:0;}
    // &:last-child {padding-right:0;}
    // @include center-block();
    margin: 0 auto 30px;
    @media (min-width: $screen-xs-min) {
      width: auto;
      // margin: 0 auto 30px;
  }
  @media (min-width: $screen-sm-min) {
    width: 50%;
  }
  @media (min-width: $screen-md-min) {
    margin: 0;
    padding: 0 15px;
    float: left;
    width: 20%;
  }

}
}


