
.hero {
  @include clearfix();
  background: url("/images/pages/home/banner-home.jpg") 0 -38px;
  background-size: cover;

  @media (max-width: 1200) {
    background-size: 1200px;
  }
  @media (max-width: $grid-float-breakpoint-max) {
    background-size: 1033px;
    background-position: -270px 0;
  }


  &.behind-nav {
    margin-top: -100px;
    .hero-content {
      padding-top: 160px;
      padding-bottom: 50px;
    }
  }


  @media (max-width: $screen-xs) {

    &.behind-nav {
      .hero-content {
        padding-top: 120px;
      }
    }
    h1 {
      font-size: 29px;
    }

  }



  .hero-content {
    margin-bottom:30px;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    h1 {
      color: white;
    }
    h3 {

    }
    p {
      // width: 800px;
      margin: 0 auto;
      margin-bottom: 26px;
      margin-top: 20px;
      color: white;
      letter-spacing: 1px;
      a {
        text-decoration: underline;
        color: #fff;
      }
    }
    a.login-now {
      color: white;
      text-decoration: underline;
    }
    a.login-now:hover {
      color: #000000;
    }
    a.button {
      background-color:$brand-primary;
      opacity: 0.9;
      margin:30px 0 0 0;
      padding: 30px 50px;
      transition: all 0.5s;
      box-shadow: 0 1px 1px rgba(0,0,0,.2);
      &:hover {
        background-color: #E2522F;
      }
    }
    .cta-group .already-a-member {
      float: right;
      font-size: 14px;
      a {
        color: $brand-primary;
      }
    }

    // .btn-primary {}
  }


  .gaurantee {
    position: absolute;
    top: -52px;
    left: 0;
    width: 130px;
  }


  .nav-technologies {
    background: rgba(255, 255, 255, 0.6);
    height: 58px;
    overflow: hidden;
    ul {
      li {
        float: left;
        a {
          display: inline-block;
          padding: 20px 25px 20px 0;
          color: #555;
          font-size: 13px;
          font-weight: bold;
          &:hover {
            color: $brand-primary;
          }
        }
      }
    }
    @media (max-width: $screen-xs-max) {
      display: none;
      .container {
        overflow: auto;
      }
      ul {width: 1150px;}
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }



}




// Hero on Marketing Landing Pages

.hero .img-overlap {
  margin-top: -60px;
}

.hero-cta-text {
  @include clearfix();
  height: 116px;
}

