

.img-overlap {
  position: relative;
  height: 150px;
  img {
    position: absolute;
    width: 150px;
    margin-left: -75px;
  }
  &.three {
    img:nth-child(1) {
      margin-left: -180px;
    }
    img:nth-child(2) {
      margin-left: -75px;
      z-index: 3;
    }
    img:nth-child(3) {
      margin-left: 32px;
    }
  }

}



.hover-item {
  position: relative;
  &:hover .hover-show {
    display: block;
    opacity: 1;
  }
  .hover-show {
    @include transition(opacity .2s ease-in);
    // display: none;
    opacity: 0;
    background:rgba(255,255,255,.9);
    position: absolute;
    font-size: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}


.price-columns {
  & > div:nth-child(even) {
    background: #F8F8F8;
  }
  &.five {
    & > div {
      width: 20%;
      float: left;
      padding: 0 20px 10px;
      text-align: center;
      border: 1px solid #EEE;
    }
  }
  .price {
    font-size: 50px;
  }
}




#how-it-works {
  .img-overlap {
    img {
      width: 90px;
    }
    img:nth-child(1) {
      margin-left: -114px;
    }
    img:nth-child(2) {
      margin-left: -45px;
      z-index: 3;
    }
    img:nth-child(3) {
      margin-left: 24px;
    }
  }
  .figure {
    height: 150px;
    position: relative;
    .arrow {
      position: absolute;
      top: 58px
    }
    .arrow-right {
      right: -59px;
    }
    .arrow-left {
      left: -168px;
    }
  }
}



.gaurantee {
  position: absolute;
  top: -52px;
  left: 0;
  width: 130px;
}




// Horizontal Dividers

hr {
  .grad {
    .white {}
    .gray {}
  }
}








