








.img-overlap {
  position: relative;
  height: 150px;
  img {
    position: absolute;
    width: 150px;
    margin-left: -75px;
  }
  &.three {
    img:nth-child(1) {
      margin-left: -180px;
    }
    img:nth-child(2) {
      margin-left: -75px;
      z-index: 3;
    }
    img:nth-child(3) {
      margin-left: 32px;
    }
  }

}



.user-badge {
  @include clearfix();
  text-decoration: none;
  &:hover {
    text-decoration: none;
    .user-info .description {
      display: block;
      opacity: 1;
    }
    .btn {
      color: #FFF;
      background-color: $brand-primary;
      border-color: $brand-primary - 20;
    }
  }
  .user-info {
    position: relative;  
    .tech {
      color: $gray-light;
    }
    .description {
      @include transition(opacity .2s ease-in);
      opacity: 0;
      background:rgba(255,255,255,.9);
      position: absolute;
      font-size: 12px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      color: #555;
      text-decoration: none;
      // @media (min-width: $screen-lg-min) {
        // font-size: 14px;
      // }
      @media (max-width: $screen-xs-max) {
        font-size: 14px;
      }
      
    }
  }
  @media (max-width: $screen-xs-max) {
    width: 280px;
    margin: 0 auto;
  }
}
a.user-badge{
  .user-info {
    * {
      color: initial;
      text-decoration: none;
    }
  }
  button {
    margin-top: 20px;
    text-decoration: none;
  }
}




.price-columns {
  @include clearfix();
  & > div:nth-child(even) {
    background: #F8F8F8;
  }
  & > div:nth-child(odd) {
    background: #FFF;
  }
  .column {
    float: left;
    padding: 0 12px 10px;
    text-align: center;
    border: 1px solid #EEE;
    width: 20%;
  }

  .tier-name {
    @extend .text-muted;
    @extend .text-upper;
    margin: 20px 0;
    font-size: 12px;

  }
  .price {
    font-size: 50px;
  }

  p {
    font-weight: 300;
  }
  @media (max-width: $screen-xs-max) {
    .column {
      float: none;
      width: 270px;
      margin: 0 auto;
      height: auto;
    }
  }
  @media (min-width: $screen-sm-min) {
    .price {font-size: 40px;}
    p {font-size: 12px;}
    .column {height: 240px;}
  }
  @media (min-width: $screen-md-min) {
    .tier-name {font-size: 14px;}
    .price {font-size: 40px;}
    p {font-size: inherit;}
    .column {height: 260px;}
  }

  @media (min-width: $screen-lg-min) {
    .column {height: 230px;}
  }

}





// How it works section


.how-it-works {
  .main-points {
    @extend .list-inline;
    width: 740px;
    margin: 0 auto;
    li {
      float: left;
      margin-right: 24px;
      margin-bottom: 8px;
      &:last-child {margin-right: 0;}
    }

  }
  .diagram {
    @extend .bg-primary;
    margin: 40px auto 100px;
    border-radius: 3px;
    .img-overlap {
      img {
        width: 90px;
      }
      img:nth-child(1) {
        margin-left: -114px;
      }
      img:nth-child(2) {
        margin-left: -45px;
        z-index: 3;
      }
      img:nth-child(3) {
        margin-left: 24px;
      }
    }

    .figure {
      height: 150px;
      position: relative;
      .arrow {
        position: absolute;
        top: 50px;
        @include scale(.8);
        @media (max-width: $grid-float-breakpoint-max) {
          display: none;
        }
      }
      .arrow-right {
        right: -77px;
      }
      .arrow-left {
        left: -163px;
      }
    }

  }
  @media (max-width: $grid-float-breakpoint-max) {
    .diagram, .main-points {    
      width: 360px;
      margin-right: auto;
      margin-left: auto;
    }
  }    
  @media (max-width: $screen-xs) {
    .diagram, .main-points {
      width: 290px;
    }
  }    
}




// Avatar img with a logo

.avatar-logo {
  position: relative;
  &, > img {
    height: 120px;
    width: 120px;
  }
  .logo {
    @include transition(all .2s ease-in-out);
    position: absolute;
    background: rgba(255,255,255,.95);
    border-radius: 100%;
    height: 40%;
    width: 40%;
    bottom: 0;
    right: 0;
    img {
      width: 76%;
      top: 12px;
      position: relative;
    }
  }
}




// Testimonials

.testimonial-list {
  @extend .center-block;
  padding: 40px 0;

  @media (min-width: $screen-md-min) {
    width: 680px;
  }
  .testimonial {
    border-bottom: 1px solid #eee;
    padding: 30px 0;
    &:hover {
      .logo {
        @include transform(scale(2.54) translate(-14px, -14px));
        background:rgba(255,255,255,.9);
      }
    }
    &:first-child {
      padding-top: 0;
    } 
    &:last-child {
      border-bottom: none;
    }
  }
}
.testimonial {
  padding-bottom: 20px;
  .avatar-logo {
    margin: 15px auto 0;
  }
}









// Horizontal Dividers

hr {
  &.grad {
    height: 3px;
    border: none;
    width: 80%;
    &.white {
      @include gradient-radial(rgba(255,255,255, .6), rgba(255,255,255, 0));
    }
    &.gray {
      @include gradient-radial(rgba(0,0,0,.3), rgba(0,0,0,0));
    }
  }
}











.bg-img-box {
  @include clearfix();
  position: relative;
  overflow: hidden;
  background:#000;
  .bg {
    opacity: .8;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    @media (max-width: 1200px) {
      width: 1200px;
    }
    &.bg-desk {
      top: -270px;
    }

  }

  .bg-white {
    position: relative;
    background: rgba(255,255,255,.9);
    border-top: 7px solid $brand-primary;
    margin: 90px 10px;
    // width: 680px;
    padding: 15px;
    text-align: center;
    p {
      line-height: 25px;
      font-size: 14px;
    }
    @media (min-width: $screen-md-min) {
      width: 680px;
      margin: 90px auto;
      padding: 40px;
      p {font-size: inherit;}
    }

  }
}












