
%link {
  &:hover {
    color: $brand-primary;
  }
}



// Nav Public

.navbar-default{
  .nav-public {
    margin-left: 40px;

    & > li > a {
      color: #353535;
      @extend %link;
    }
  }
  
}







.img-overlap {
  position: relative;
  height: 150px;
  img {
    position: absolute;
    width: 150px;
    margin-left: -75px;
  }
  &.three {
    img:nth-child(1) {
      margin-left: -180px;
    }
    img:nth-child(2) {
      margin-left: -75px;
      z-index: 3;
    }
    img:nth-child(3) {
      margin-left: 32px;
    }
  }

}



.user-badge {
  position: relative;
  &:hover .hover-show {
    display: block;
    opacity: 1;
  }
  .hover-show {
    @include transition(opacity .2s ease-in);
    opacity: 0;
    background:rgba(255,255,255,.9);
    position: absolute;
    font-size: 15px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
  }
}




.price-columns {
  & > div:nth-child(even) {
    background: #F8F8F8;
  }
  & > div:nth-child(odd) {
    background: #FFF;
  }
  &.five {
    & > div {
      width: 20%;
      float: left;
      padding: 0 20px 10px;
      text-align: center;
      border: 1px solid #EEE;
    }
  }
  .price {
    font-size: 50px;
  }
}






#how-it-works {
  .img-overlap {
    img {
      width: 90px;
    }
    img:nth-child(1) {
      margin-left: -114px;
    }
    img:nth-child(2) {
      margin-left: -45px;
      z-index: 3;
    }
    img:nth-child(3) {
      margin-left: 24px;
    }
  }
  .figure {
    height: 150px;
    position: relative;
    .arrow {
      position: absolute;
      top: 58px
    }
    .arrow-right {
      right: -59px;
    }
    .arrow-left {
      left: -168px;
    }
  }
}




.avatar-logo {
  position: relative;
  &:hover {
    .logo {
      @include scale(1.7);
      background:rgba(255,255,255,.99);
    }
  }
  &, > img {
    height: 120px;
    width: 120px;
  }
  .logo {
    @include transition(all .2s ease-in-out);
    position: absolute;
    background: rgba(255,255,255,.95);
    border-radius: 100%;
    height: 40%;
    width: 40%;
    bottom: 0;
    right: 0;
    img {
      width: 76%;
      top: 12px;
      position: relative;
    }
  }
}





// Horizontal Dividers

hr {
  &.grad {
    height: 3px;
    border: none;
    width: 80%;
    &.white {
      @include gradient-radial(rgba(255,255,255, .6), rgba(255,255,255, 0));
    }
    &.gray {
      @include gradient-radial(rgba(0,0,0,.3), rgba(0,0,0,0));
    }
  }
}







// Testimonials

.testimonial-list {
  @extend .center-block;
  width: 680px;
  padding: 40px 0;
  .testimonial {
    border-bottom: 1px solid #eee;
    padding: 30px 0;
    &:first-child {
      padding-top: 0;
    } 
    &:last-child {
      border-bottom: none;
    }
  }
}
.testimonial {
  padding-bottom: 20px;
  .avatar-logo {
    margin-top: 15px;
  }
}






.bg-img-glass {
  @include clearfix();
  position: relative;
  overflow: hidden;
  background:#000;
  .bg {
    opacity: .8;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    @media (max-width: 1200px) {
      width: 1200px;
    }

  }

  .bg-white {
    position: relative;
    background: rgba(255,255,255,.9);
    border-top: 7px solid $brand-primary;
    margin: 90px auto;
    width: 680px;
    padding: 40px;
    text-align: center;
    p {
      line-height: 25px;
    }
  }
}












