.page.expert-me
  .section
    h1 Connect Your Profiles
    p We take data from your existing social profiles to rapidly fill in your airpair expert profile.
    .control-group(ng-repeat="socialType in socialTypes")
      hr
      label.control-label(for="{{ socialType }}") {{ socialType }}
      .controls
        div(ng-show="user[socialType]")
          a.zocial(href="/auth/{{ socialType }}" class="{{ socialType }}" target="_self") Update
          span.muted &nbsp; Connected!
        div(ng-hide="user[socialType]")
          a.zocial(href="/auth/{{ socialType }}" class="{{ socialType }}" target="_self") Connect
          span.muted &nbsp; Connect {{ socialType }} to improve your profile.
  .section
    span.warning(ng-hide="allowContinue()") *You must connect at least github, bitbucket or twitter to continue.
    a.btn(href="/be-an-expert/info" ng-show="allowContinue()") Continue
    a.btn(href="/dashboard" target="_self") Cancel
