.page.expert-me(ng-init="init()")
  .section
    .info
      .received
      div
        span {{ requestStats().requestCount }}
      div
        span.sub-label requests received
      .response
      div
        span {{ requestStats().responseRate | number:0 }}%
      div
        span.sub-label response rate
      .pairs
      div
        span {{ orderStats().paidOrderCount }}
      div
        span.sub-label Air Pairs

  .section
    h1 notification status

    form.availability(ng-model-options="{ getterSetter: true }")
      .expert-status
        .send-toggle.top
          .toggle.on.active
          .toggle.off
        label Send me AirPairs!
        input(type="checkbox", id="status", ng-checked="status()", ng-model="status", ng-change="update()")
      .hours
        select.top(ng-model="hoursAvailable", ng-change="update()", ng-options="h for h in hourRange")
        label Hrs/Week
      .times
        .top
          input(id="availability", type="text", placeholder="What days and times are you available to AirPair?", ng-model="availability", ng-change="update()", ng-delay="500")
        label(for="availability") Best Times

  .section
    h1 notification price range
    .slider-row.header
      .slider-wrapper
        .slider-col
          .row.dispersed
            .col-xs-2.text-center $10
            .col-xs-2.text-center $40
            .col-xs-2.text-center $70
            .col-xs-2.text-center $110
            .col-xs-2.text-center $160
            .col-xs-2.text-center $230
    .slider-row.hourly
      .slider-wrapper
        .slider.slider-col
      .type Hourly Range


  .section
    h1 subscription settings
    .slider-row.header
      .slider-wrapper
        .slider-col
          .row
            .col-xs-4 Beginner
            .col-xs-4 Intermediate
            .col-xs-4 Expert
      .type What types of airpairs
    form.tags(ng-model-options="{ getterSetter: true }")
      .slider-row.level(ng-repeat="tag in tags()")
        .slider-wrapper
          .slider-col
            .row
              .col-xs-4
                input(type="checkbox", ng-checked="tagHasLevel(tag, 'beginner')", ng-model="tag.levelBeginner", ng-change="update()", ng-delay="500")
              .col-xs-4
                input(type="checkbox", ng-checked="tagHasLevel(tag, 'intermediate')", ng-model="tag.levelIntermediate", ng-change="update()", ng-delay="500")
              .col-xs-4
                input(type="checkbox", ng-checked="tagHasLevel(tag, 'expert')", ng-model="tag.levelExpert", ng-change="update()", ng-delay="500")
        .type {{tag.name}}
          .all-levels

//-pre(ng-bind='expertOrderStats() | json')
