<div class="content-sidebar-wrap">
  <main class="content">
    <article class="post type-post format-standard entry">
      <header class="entry-header">
        <h1 class="entry-title" itemprop="headline">Find Your Expert</h1>
        <p class="entry-meta"><time>Step 2 of 3: </time>
          <b>Supply your contact info</b>
        </p>
      </header>
      <div id="infoForm" class="entry-content">


      </div>
      <footer class="entry-footer">
        <div class="form-actions">
          <a href="save" class="save button large">Continue</a>
          <a href="/dashboard" class="btn-cancel button button-gray large">Cancel</a>
        </div>
      </footer>
    </article>
  </main>
</div>

<aside class="sidebar sidebar-primary widget-area">

  <section class="widget featured-content featuredpost">

  </section>
</aside>
