<div class="content-sidebar-wrap">
  <main class="content">
    <article class="post type-post format-standard entry">
      <header class="entry-header">
        <h1 class="entry-title" itemprop="headline">Find Your Expert</h1>
        <p class="entry-meta"><time>Step 2 of 3: </time>
          <b>Supply your contact info</b>
        </p>
      </header>
      <div id="infoForm" class="entry-content">


      </div>
      <footer class="entry-footer">
        <div class="form-actions">
          <a href="save" class="save button large">Continue</a>
          <a href="/dashboard" class="btn-cancel button button-gray large">Cancel</a>
        </div>
      </footer>
    </article>
  </main>
</div>

<aside class="sidebar sidebar-primary widget-area">

  <section class="widget featured-content featuredpost">

    <div class="widget-wrap">
      <h4 class="widget-title widgettitle">FAQ</h4>

      <article class="entry">
        <span class="alignleft">
          <img src="//2.gravatar.com/avatar/780d02a99798886da48711d8104801a4?s=120" class="avatar avatar-65 photo">
        </span>
        <header class="entry-header">
          <h2 class="entry-title">What can AirPair <br />be used for?</h2>
          <p class="entry-meta">
            <span class="entry-author">Jonathon Kresner</span>, AirPair Customer Account Manger
          </p>
        </header>

        <div class="entry-content">
          <p>AirPair can <b>get you un-stuck</b> quickly. Many customers
          user AirPair for <b>technical advice</b> on architecture, frameworks and best practices.
          Teams use AirPair to <b>ramp up faster</b> on new
          technology and future proof their code with regular <b>code reviews</b>.</p>
        </div>
      </article>

      <article class="entry">
        <span class="alignleft">
          <img src="//1.gravatar.com/avatar/7488028f4cfd7a427dc3b9a73e9ffb0e?s=120" class="avatar avatar-65 photo">
        </span>
        <header class="entry-header">
          <h2 class="entry-title">Who uses AirPair already?</h2>
          <p class="entry-meta">
            <span class="entry-author">Maksim Ioffe</span>, AirPair Customer Account Manger
          </p>
        </header>

        <div class="entry-content">
          <p>AirPair services many types of customers, from hobbyist developers who need a second pair of eyes, to startups needing to crank out more features. Enterprise software teams like <b>Intel</b> have used AirPair to work on complex, cutting edge applications.</p>
        </div>

      </article>

    </div>
  </section>
</aside>
