 <div class="content-sidebar-wrap">
  <main class="content">
    <article class="post type-post format-standard entry">
      <header class="entry-header">
        <h1 class="entry-title" itemprop="headline">Find Your Expert</h1>
        <p class="entry-meta"><b>All done for now.</b></p>
      </header>
      <div class="entry-content" style="padding:20px">

        <h4>Thank you!</h4>

        <p>Your request is submitted. One of us will be in contact with you shortly.</p>

        <p>Please follow us.</p>
<br />
        <center>
        <ul id="secondary" class="social" style="margin-top:10px;display: inline;">
          <li style="display: inline;margin-right:6px;">
            <a href="http://twitter.com/airpair" target="_blank"><img src="//airpair.com/img/tw.png"></a></li>
          <li style="display: inline;margin-right:6px;">
            <a href="http://facebook.com/airpair" target="_blank"><img src="//airpair.com/img/fb.png"></a></li>
          <li style="display: inline;margin-right:6px;">
            <a href="https://plus.google.com/105075583437166504731" target="_blank"><img src="//airpair.com/img/gp.png"></a></li>
          <li style="display: inline;margin-right:6px;">
            <a href="http://www.linkedin.com/company/airpair" target="_blank"><img src="//airpair.com/img/in.png"></a></li>
          <li style="display: inline;margin-right:6px;">
            <a href="http://angel.co/airpair" target="_blank"><img src="//airpair.com/img/al.png"></a></li>
      </ul>
      </center>
      <br /><br />
      </div>
      <footer class="entry-footer">
        <br /><br /><br />
      </footer>
    </article>
  </main>
</div>

<aside class="sidebar sidebar-primary widget-area">

  <section class="ap-team widget featured-content featuredpost">
    <div class="widget-wrap">
      <h4 class="widget-title widgettitle">AirPair Team</h4>
      <article class="entry">
        <span class="alignleft">
          <img src="//1.gravatar.com/avatar/db9930d52800ce88550dd11a1c80bef0?s=120" class="avatar avatar-65 photo">
        </span>
        <header class="entry-header">
          <h2 class="entry-title">{ DS }</h2>
          <p class="entry-meta">
            <span class="entry-author">Dilys Sun</span>, AirPair Customer Account Manager
          </p>
        </header>

        <div class="entry-content">
          <p>Before joining AirPair I spent all day on Codecademy.</p>
        </div>
      </article>
      <article class="entry">
        <span class="alignleft">
          <img src="//2.gravatar.com/avatar/780d02a99798886da48711d8104801a4?s=120" class="avatar avatar-65 photo">
        </span>
        <header class="entry-header">
          <h2 class="entry-title">{ JK }</h2>
          <p class="entry-meta">
            <span class="entry-author">Jonathon Kresner</span>, AirPair Customer Account Manager
          </p>
        </header>

        <div class="entry-content">
          <p>Before joining AirPair I rock climbed in 9 different countries.</p>
        </div>
      </article>
      <article class="entry">
        <span class="alignleft">
          <img src="//1.gravatar.com/avatar/7488028f4cfd7a427dc3b9a73e9ffb0e?s=120" class="avatar avatar-65 photo">
        </span>
        <header class="entry-header">
          <h2 class="entry-title">{ MI }</h2>
          <p class="entry-meta">
            <span class="entry-author">Maksim Ioffe</span>, AirPair Customer Account Manager
          </p>
        </header>

        <div class="entry-content">
          <p>Before joining AirPair I paired all day for a living.</p>
        </div>
      </article>
      <article class="entry">
        <span class="alignleft">
          <img src="//0.gravatar.com/avatar/2db848de65112c20aa13f566c0cbf9d7?s=120" class="avatar avatar-65 photo">
        </span>
        <header class="entry-header">
          <h2 class="entry-title">{ IL }</h2>
          <p class="entry-meta">
            <span class="entry-author">Igor Lebovic</span>, AirPair Customer Account Manager
          </p>
        </header>
        <div class="entry-content">
          <p>Before joining AirPair I flew fighter jets for kicks.</p>
        </div>
      </article>
    </div>
  </section>

  <br /><br />
</aside>


