 <div class="content-sidebar-wrap">
  <main class="content">
    <article class="post type-post format-standard entry">
      <header class="entry-header">
        <h1 class="entry-title" itemprop="headline">Find Your Expert</h1>
        <p class="entry-meta"><b>All done for now.</b></p>
      </header>
      <div class="entry-content" style="padding:20px">

        <h4>Thank you!</h4>

        <p>Your request is submitted. One of us will be in contact with you shortly.</p>

        <p>Please follow us.</p>
<br />
        <center>
        <ul id="secondary" class="social" style="margin-top:10px;display: inline;">
          <li style="display: inline;margin-right:6px;">
            <a href="http://twitter.com/airpair" target="_blank"><img src="//airpair.com/img/tw.png"></a></li>
          <li style="display: inline;margin-right:6px;">
            <a href="http://facebook.com/airpair" target="_blank"><img src="//airpair.com/img/fb.png"></a></li>
          <li style="display: inline;margin-right:6px;">
            <a href="https://plus.google.com/105075583437166504731" target="_blank"><img src="//airpair.com/img/gp.png"></a></li>
          <li style="display: inline;margin-right:6px;">
            <a href="http://www.linkedin.com/company/airpair" target="_blank"><img src="//airpair.com/img/in.png"></a></li>
          <li style="display: inline;margin-right:6px;">
            <a href="http://angel.co/airpair" target="_blank"><img src="//airpair.com/img/al.png"></a></li>
      </ul>
      </center>
      <br /><br />
      </div>
      <footer class="entry-footer">
        <br /><br /><br />
      </footer>
    </article>
  </main>
</div>

<aside class="sidebar sidebar-primary widget-area">

  <section class="ap-team widget featured-content featuredpost">

  </section>

  <br /><br />
</aside>


