<style>

  #subscribe { background:#90d1cc;height:66px;display:none;padding-top:0px; }
  #subscribe img { width:280px;margin-top:-32px;float:left; }
  #subscribe .container { width:1024px;margin:auto; }
  #subscribe .container p { text-align:center;padding:16px;font-size:22px; }
  #subscribe .form-group { float:left;margin:1px 0 0 20px;font-size:20px;color:#4d4e4e;width:680px; }
  #subscribe label { display:block;font-size:14px;margin:2px 0px }
  #subscribe input { width:320px;display:inline;height:32px;padding:3px }
  #subscribe button { height:32px;margin:0 1px;background:#FF5F20;padding:2px 20px; }
  #subscribe.affix { width:100%;z-index:100;opacity:0.95;top:30px; }

  @media (max-width:1024px) {
    #subscribe .container { width:800px }
    #subscribe label { font-size:11px;font-weight:normal; }
    #subscribe input { width:240px}
    #subscribe img { width:180px;margin-top:-7px }
    #subscribe .form-group { margin:5px 0 0 20px;width:60%; }
  }

  @media (max-width:801px) {
    #subscribe .container { width:640px }
    #subscribe label { font-size:11px; }
    #subscribe img { display:none }
    #subscribe .form-group { margin:5px 0 0 20px;width:100%; }
  }

  @media (max-width:640px) {
    #subscribe { height:106px }
    #subscribe .container { text-align:center;width:100%;padding-top:5px;height:90px }
    #subscribe .form-group { width:100%;text-align:center;margin:0;padding:0;font-size:16px; }
    #subscribe label { display:block;margin-bottom:2px; }
    #subscribe input { width:84% }
    #subscribe button { height:28px;padding-top:5px;padding-bottom:5px;margin-top:1px;width:84%   }
  }

</style>

<div id="subscribe" class="subscribeform">
  <div class="container">
      <img src="/images/landing/airconf/full-logo.png" />
      <div class="form-group">
        <label class="control-label">Space is limited. Subscribe to be notified when we release the next batch of tickets.</label>
        <input type="text" name="subscribe" placeholder="Your email address" value="" data-error-style="inline" class="form-control">
        <button class="btn btn-primary btnSubscribe">Reserve My Seat</button>
      </div>
   </div>
</div>


<script type="text/javascript">

  function validateEmail(email) {
    var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
  }

  function storage(k, v) {
    if (window.localStorage)
    {
      if (typeof v == 'undefined')
      {
        return localStorage[k];
      }
      localStorage[k] = v;
      return v;
    }
  }

</script>
