<section class="subscribe">
  <div class="container">
    <img src="/images/landing/airconf/full-logo.png" />
    <div class="form-group">
      <label>Space is limited. Subscribe to be notified when we release the next batch of tickets.</label>
      <div class="row">
        <div class="col-md-8"><input type="text" name="subscribe" placeholder="Your email address" value="" data-error-style="inline" class="form-control"></div>
        <div class="col-md-4"><button class="btnSubscribe">Reserve My Seat</button></div>
      </div>
    </div>
  </div>
</section>
