.expertMini { width:100px;border:solid 0.5px #d3d3d3;background-color:#E2E2E2;text-align:center }
.expertMini hr { margin:0; }
.expertMini .fullName { background-color:#CC523E;color:white;font-size:10px;padding:2px }
.expertMini .username { display:block;font-size:10px;color:black;margin-top:4px }
.expertMini .pic { width:80px;margin:8px; }
.expertMini .links { margin:5px 0 5px 0; }
.expertMini .links .icon { width:0.7em;height:0.7em;margin-right:-2px; }
.expertMini .links .zocial:before { font: 40%/1.4 zocial; }
.expertMini .tags { padding:8px;background:black; }
.expertMini .label-tag { padding:0px 2px 1px 2px;font-size:9px; }
