<div class="form-actions" style="margin-top:0">
  <div class="controls">
    <a href="#request/{{ rId }}" class="btn btn-inverse">Back</a>
  </div>
</div>


<h2>Room</h2>

<div class="control-group">
  <label class="control-label">Room name</label>
  <div class="controls">
    <input type="text" data-error-style="inline" value="{{ name }}" placeholder="Room name" name="roomName" class="input-block-level">
    <a href="#" class="btn-create btn">Create</a>
    <div style="float:right">{{{tagsString}}}</div>
  </div>
</div>


<h2>Members</h2>

<style type="text/css">
  #members label.control-label { float:left;width:200px; }
  #members input { width:200px; }
  #members div.controls { clear:both; }
</style>

<div id="members"></div>

{{!-- <div class="control-group">
  <label class="control-label" for="reqOwner">Hello Msg</label>
  <div class="controls">
    <textarea style="width:100%">@HassanAjan & @JamesGill welcome to your private HipChat room! Use this room to agree on a schedule time & length (1 or 2 hours) of your AirPair. HipChat is asy  nchronous chat, so even if the other person isn't in the room, message each other here and not via email. If you want to get another person's attention when they are not in the room, @ reference their name and they will get an email notification. HipChat is a great place for pre-session questions and post session conversation + sharing links & resources. If you have any unanswered questions about the AirPair process feel free to drop them in here too.
    </textarea>
  </div>
</div>
 --}}
