.page.expert-me
  .section
    .info
      .received
      div
        span {{ expert.requestStats().requestCount }}
      div
        span.sub-label requests received
      .response
      div
        span {{ expert.requestStats().responseRate | number:0 }}%
      div
        span.sub-label response rate
      .pairs
      div
        span {{ expert.orderStats().paidOrderCount }}
      div
        span.sub-label Air Pairs

  .section
    h1 notification status

    .expert-status
      form(ng-model-options="{ getterSetter: true }")
        input(type="checkbox", id="status", ng-checked="expert.status()", ng-model="expert.status", ng-change="expert.update()")
        label(for="status") Send me AirPairs!
        select(ng-model="expert.hoursAvailable", ng-change="expert.update()")
          option(value="1") 1
          option(value="2") 2
          option(value="3") 3
          option(value="4") 4
        input(id="availability", type="text", placeholder="What days and times are you available to AirPair?", ng-model="expert.availability", ng-change="expert.update()", ng-delay="500")
        label(for="availability") Best Times


  .section
    h1 subscription settings
    .slider-row.header
      .slider-wrapper
        .slider-col
          .row
            .col-xs-4.text-left Beginner
            .col-xs-4.text-center Intermediate
            .col-xs-4.text-right Difficult
      .type What types of airpairs
    .slider-row.level
      .slider-wrapper
        .slider.slider-col
      .type Javascript
      input#value-input(type="hidden")
      input#value-input2(type="hidden")
    .slider-row.level
      .slider-wrapper
        .slider.slider-col
      .type HTML5
    .slider-row.header
      .slider-wrapper
        .slider-col
          .row
            .col-xs-2.text-left $10
            .col-xs-2.text-center $40
            .col-xs-2.text-center $70
            .col-xs-2.text-center $110
            .col-xs-2.text-center $160
            .col-xs-2.text-right $230
    .slider-row.hourly
      .slider-wrapper
        .slider.slider-col
      .type Hourly Range
    input#hourly1
    input#hourly2

//-pre(ng-bind='expertOrderStats() | json')
