.page.expert-me
  .info
    span.received {{ requestStats().requestCount }}
    span.sub-label requests received
    span.response {{ requestStats().responseRate | number:0 }}%
    span.sub-label response rate
    span.pairs {{ orderStats().paidOrderCount }}
    span.sub-label Air Pairs

  h1 notification status

//-pre(ng-bind='expertOrderStats() | json')
