.page.expert-me(ng-init="init()")
  .section
    .info
      .received
      div
        span {{ expert.requestStats().requestCount }}
      div
        span.sub-label requests received
      .response
      div
        span {{ expert.requestStats().responseRate | number:0 }}%
      div
        span.sub-label response rate
      .pairs
      div
        span {{ expert.orderStats().paidOrderCount }}
      div
        span.sub-label Air Pairs

  .section
    h1 notification status

    .expert-status
      form(ng-model-options="{ getterSetter: true }")
        input(type="checkbox", id="status", ng-checked="expert.status()", ng-model="expert.status", ng-change="expert.update()")
        label(for="status") Send me AirPairs!
        select(ng-model="expert.hoursAvailable", ng-change="expert.update()", ng-options="h for h in expert.hourRange")
        input(id="availability", type="text", placeholder="What days and times are you available to AirPair?", ng-model="expert.availability", ng-change="expert.update()", ng-delay="500")
        label(for="availability") Best Times

  .section
    h1 notification price range
    .slider-row.header
      .slider-wrapper
        .slider-col
          .row.dispersed
            .col-xs-2.text-center $10
            .col-xs-2.text-center $40
            .col-xs-2.text-center $70
            .col-xs-2.text-center $110
            .col-xs-2.text-center $160
            .col-xs-2.text-center $230
    .slider-row.hourly
      .slider-wrapper
        .slider.slider-col
      .type Hourly Range
      form(ng-model-options="{ getterSetter: true }")
        input(ng-model="expert.minRate", ng-change="expert.update()", ng-delay="500")#minRate
        input(ng-model="expert.rate", ng-change="expert.update()", ng-delay="500")#rate


  .section
    h1 subscription settings
    .slider-row.header
      .slider-wrapper
        .slider-col
          .row
            .col-xs-4 Beginner
            .col-xs-4 Intermediate
            .col-xs-4 Expert
      .type What types of airpairs
    form(ng-model-options="{ getterSetter: true }")
      .slider-row.level(ng-repeat="tag in expert.tags()")
        .slider-wrapper
          .slider-col
            .row
              .col-xs-4
                input(type="checkbox", ng-checked="expert.tagHasLevel(tag, 'beginner')", ng-model="tag.levelBeginner", ng-change="expert.update()")
              .col-xs-4
                input(type="checkbox", ng-checked="expert.tagHasLevel(tag, 'intermediate')", ng-model="tag.levelIntermediate", ng-change="expert.update()")
              .col-xs-4
                input(type="checkbox", ng-checked="expert.tagHasLevel(tag, 'expert')", ng-model="tag.levelExpert", ng-change="expert.update()")
        .type {{tag.name}}

//-pre(ng-bind='expertOrderStats() | json')
