h1 Expert Settings
h2 {{ name }}
h4 {{ expertRequestStats.requestCount() }} requests received
h4 {{ expertRequestStats.responseRate() | number:0 }}% response rate
h4 {{ expertOrderStats.paidOrderCount() }} Air Pairs
h4 {{ expertOrderStats.totalAmountReceived() }} Paid out

pre(ng-bind='expertOrderStats.paidOrders() | json')
