
  <main class="content">
    <article class="post type-post format-standard entry">
      <header class="entry-header">
        <h1 class="entry-title" itemprop="headline">Request hours with {{expert.name}}</h1>
        <p class="entry-meta"><time>Tell {{expert.name}} what you'd like to pair on.</time></p>
      </header>


      <div class="entry-content" style="padding:0px 20px">

        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <h4>Error</h4>
        </div>

        <div class="control-group" style="clear:both">
          <label class="control-label" for="reqBrief">What challenges do you want to solve? <span id="breifCount" class="muted" style="float:right;margin:5px 16px 0 0px">0 chars</span></label>
          <div class="controls controls-brief">
            <textarea id="reqBrief" name="brief" placeholder="We recommend min 250 characters. The more detail you provide, the better help you get." style="height:110px"></textarea>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="reqHrs"> How hours do you want to purchase?</label>
          <select name="hours" class="span2">
            <option value="1">1</option>
            <option value="2" selected="selected">2</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
          </select>
        </div>

        <div class="control-group pricing-group">
          <label class="control-label">Want to open source your session recordings? </label>
          <div class="pricing rb-group controls">
            <input type="radio" id="pricingOpensource" name="pricing" value="opensource" />
            <label for="pricingOpensource" class="pricingOpensource">Open source <em class="opensource">$<span></span>/hr discount</em> </label>

            <input type="radio" id="pricingPrivate" name="pricing" value="private" checked="checked" />
            <label for="pricingPrivate" class="checked">Keep private</label>

            <input type="radio" id="pricingNDA" name="pricing" value="nda" />
            <label for="pricingNDA" class="pricingNDA">Organize NDA <em class="nda">+$<span></span>/hr</label></em>
          </div>

        </div>

        <div class="control-group">
          <label class="control-label" for="availabilityInput">What is your location / timezone, urgency & availability?</label>
          <div class="controls controls-availability">
            <textarea id="availability" name="availability" placeholder="What are your  response time expectations. The expert will decline your request if they do not have availability." style="height:70px">{{ availability }}</textarea>
          </div>
        </div>

      </div>


      <div style="clear:both;height:40px"></div>
      <footer class="entry-footer">
        <div class="form-actions">
          <a href="save" class="save button large">Choose # of hours to continue</a>
          <p style="text-align:center">Your card will be charged when {{expert.name}} accepts your request.</p>
        </div>
      </footer>
    </article>
  </main>
</div>
