#chat
  h3(ng-bind="title")
  .row#chat_entry
    form.form-inline(ng-submit='addMessage()')
      .col-xs-2.pic
        img.img-responsive(ng-src="{{user.picture}}")
      .col-xs-10.message
        input(type='text' ng-model='message' placeholder='Hit enter to submit message...')

  #messages(cg-busy="messages.$loaded()")
    .row(ng-repeat="message in messages | orderBy:'-sent_at'")
      .col-xs-2.pic
        img.img-responsive(ng-src="{{message.pic}}")
      .col-xs-8.message(ng-class="{question: isQuestion(message)}")
        span(ng-bind-html="message.content | linky:'_blank'")
        .timestamp
          strong {{message.from}} &nbsp;
          span(ng-if="message.sent_at" am-time-ago="message.sent_at")
          span(ng-if="message.timestamp" am-time-ago="message.timestamp")
          | &nbsp;&nbsp;&nbsp;

          span(ng-show="canMarkAsQuestion(message)")
            | &nbsp;
            a(ng-click="markAsQuestion(message)" href="#") mark as question

          span(ng-show="canVoteUp(message)")
            | &nbsp;
            a(ng-click="voteForQuestion(message)" href="#") vote up

          span(ng-show="canFlag(message)")
            | &nbsp;&nbsp;&nbsp;
            a(ng-click="flag(message)" href="#") flag

          span(ng-show="canDelete(message)")
            | &nbsp;&nbsp;&nbsp;
            a(ng-click="delete(message)" href="#") delete

      .col-xs-2.icon
        span(ng-show="isQuestion(message)")
          i.fa.fa-question-circle
          .timestamp
            span(ng-bind="voteCount(message)")
