h3(ng-bind="title")
#chat(cg-busy="messages.$loaded()")
  .row#chat_entry
    form.form-inline(ng-submit='addMessage()')
      .col-xs-1.pic
        img.img-responsive(ng-src="{{user.picture}}")
      .col-xs-11.message
        input(type='text' ng-model='message' placeholder='Hit enter to submit message...')

  #messages
    .row(ng-repeat="message in messages | reverse")
      .col-xs-1.pic
        img.img-responsive(ng-src="{{message.pic}}")
      .col-xs-11.message
        span(ng-bind-html="message.content | linky:'_blank'")
        .timestamp
          strong {{message.from}} &nbsp;
          span(ng-if="message.sent_at" am-time-ago="message.sent_at")
          span(ng-if="message.timestamp" am-time-ago="message.timestamp")
          | &nbsp; &mdash; &nbsp;
          a(ng-show="canDelete(message)" ng-click="delete(message)" href="#") delete

