.page.coming
  .section
    h1 help us make this page a winner
  .section.help
    form.question
      p What features would you like to see here?
      textarea(placeholder="we love your honest feedback")
      a.btn(href="#") Submit

