.page.coming
  .section
    h1 help us make this page a winner
  .section.help
    form.question(ng-hide="saved")
      p What features would you like to see here?
      textarea(ng-model="feedback", placeholder="we love your honest feedback")
      a.btn(href="#", ng-click="save()") Submit
    form.question(ng-show="saved")
      p Thank you for your feedback!

