<p style="width:55%">To setup billing so that you only have to edit your credit card information one time.</p>

{{!-- , we are going to charge your card $10. This amount will be credited as a discount on your first AirPair session. --}}

<hr />

<form action="" method="POST" id="payment-form">
  <span class="payment-errors text-error"></span>

  <img src="/images/logos/stripe.png" alt="Stripe logo" style="float:right" />

  <div class="control-group">
    <label class="control-label">Card Number</label>
    <div class="controls">
      <input type="text" size="20" placeholder="Card Number" data-stripe="number"/>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">CVC</label>
    <div class="controls">
      <input type="text" size="4" placeholder="CVC" data-stripe="cvc"/>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Expiration (MM/YYYY)</label>
    <div class="controls">
      <input type="text" size="2" data-stripe="exp-month" placeholder="MM" style="width:40px" />
      <span> / </span>
      <input type="text" size="4" data-stripe="exp-year" placeholder="YYYY" style="width:40px" />
    </div>
  </div>

  <div class="form-actions" style="border-top:1px solid gray">
     <button class="button" type="submit">Setup billing</button>
  </div>

</form>
