body#beexpert { }
body#beexpert .main { display:none }
body#beexpert .muted { font-size:12px;font-style:italic; }
body#beexpert .twitter-typeahead input { width:280px; }
body#beexpert .faces { display:block;float:left;width:160px;margin:18px 10px 0 10px }
body#beexpert .welcomeMsg { float:left;width:560px;padding:30px 50px 0 30px }
body#beexpert .welcomeMsg h1 { font-size:64px;margin-bottom:40px;margin-top:6px; }
body#beexpert .welcomeMsg p { font-size:18px;line-height:28px }
body#beexpert .rightCol { text-align:center;float:left;width:360px;padding:25px;min-height:650px;background:white; }
body#beexpert .rightCol .expert { margin:30px auto; }
body#beexpert h2 { }
body#beexpert .signinBtn-google { margin:10px 0 0 -10px; }
body#beexpert legend { border:none;font-size:38px;font-weight:bold;height:45px;margin-bottom:10px; }
body#beexpert #connectForm { float:left;width:830px;padding-top:30px; }
body#beexpert #connectForm input { width:84%; }
body#beexpert #connectForm textarea { width:90%;height:250px; }
body#beexpert #connectForm .controls a { width:120px; }
body#beexpert #connectForm .control-label { font-weight:bold }
body#beexpert #connectForm .control-group { margin-bottom:20px }
body#beexpert #connectForm .icon-ok { background-color:green;border-radius:10px;width:16px;height:16px;padding:2px;background-position:-286px 3px }
body#beexpert #connectForm hr { margin-bottom:30px; }
body#beexpert #connectForm .form-actions { margin-top:44px;min-height:40px; }
body#beexpert #mininumConnect { margin:10px;color:#99923F;font-weight:bold }
body#beexpert #infoForm { padding-top:20px;float:left;width:820px;  }
body#beexpert #infoForm textarea { width:90%;height:120px; }
body#beexpert #infoForm .error-message { margin:-10px 0 0 5px;font-size:12px  }
body#beexpert .rb-group { margin:10px;display:block;height:30px; }
body#beexpert .rb-group label { float:left;margin-right:8px;color:gray; }
body#beexpert .rb-group input { float:left;margin-right:30px; }
body#beexpert .rb-group .error-message { display:block; }
body#beexpert #infoForm #tagNewForm { display:none; }
body#beexpert #infoForm #tagNewForm a { margin-left:5px; }
body#beexpert #infoForm .stackoverflow { height:30px; }
body#beexpert h4 { padding-top:20px }
body#beexpert h4 em { font-size:24px;color:#7F761C;font-style:normal; }
body#beexpert h4 b { font-size:24px;color:#CC523E;font-style:normal; }
body#beexpert #thanks { padding-top:33px }
body#beexpert #thanks .success { font-size:22px;color:green;margin:30px 0; }
