body#review h5 { margin:5px 0 0 0 }
body#review main.content { width:640px; }
body#review aside.sidebar { width:460px; }
body#review p { margin-bottom:10px }
body#review p.muted { margin-bottom:0; }
body#review .book a { line-height:8px }
body#review .brief { border-bottom:solid 1px #d3d3d3;margin-bottom:10px }
body#review .about { border-bottom:solid 1px #d3d3d3;margin-bottom:10px;font-style:italic }
body#review .contact img { float:right;width:100px;margin-top:10px; }
body#review #experts img { width:100px }
body#review #experts p { padding:0 3px; }
body#review #claim { padding-bottom:0; }
body#review #claim p { padding:20px 4px 10px 4px;margin-bottom:20px;width:90% }
body#review #claim .button { width:100%;text-align:center;background-color:#CE5323 }
body#review #about .alignleft img { width:50px;margin-right:20px; }
body#review #about .entry-title { margin:4px 20px }
body#review #about .entry-title span { color:gray;display:block;font-size:12px }
body#review #about .muted { font-size:13px;text-align:center;margin-top:-15px;width:100% }
body#review .suggestion h2 { margin-top:0px; }
body#review .suggestion header { border-bottom:solid 1px #d3d3d3;height:108px;line-height:1.9 }
body#review .suggestion label { display:block }
body#review .suggestion article { padding-bottom:0; }
body#review .suggestion .entry-author { font-weight:bold }
body#review .suggestion .entry-content { font-size:13px;padding:10px;clear:both;background:none repeat scroll 0 0 #EEEEEE;margin:0; }
body#review #expertHours main { width:540px; }
body#review #order { width:500px; }
body#review ul#bookableExperts { padding:0;margin:0;width:100%;min-height:200px }
body#review ul#bookableExperts .bookableExpert { clear:both;height:160px;padding:20px 0 30px 0; }
body#review ul#bookableExperts .expertMini { float:left }
body#review ul#bookableExperts .expertMini .fullName { line-height:22px }
body#review ul#bookableExperts .expertMini span { display:block }
body#review ul#bookableExperts .expertMini .pic { width:160px;height:160px }
body#review ul#bookableExperts .expertOptions { float:left;margin-left:60px }
body#review ul#bookableExperts .expertOptions select { padding:7px;margin-bottom:2px }
body#review ul#bookableExperts .expertOptions em { font-weight:normal;font-style:normal;color:gray }
body#review ul#bookableExperts .expertOptions h3 { margin-bottom:0; }
body#review ul#bookableExperts .expertOptions h4 { margin-top:0;font-weight:500;padding-bottom:30px }
body#review #selecthours { font-weight:bold;margin:10px 0; }
body#review #book td { vertical-align:top }
body#review #book .fullName { line-height:16px; }
body#review #summary table { margin-top:22px }
body#review #summary h1 { text-align:right; }
body#review #order .stripe p { color:gray;text-align:center }
body#review #expertReview { display:none }
body#review #expertReply { padding:0 }
body#review #expertReply header { border-bottom:solid 1px #d3d3d3;height:64px;line-height:1.9 }
body#review #expertReply .alignleft img { width:50px;margin-right:20px; }
body#review #expertReply .entry-title { margin:0px 20px -10px 20px;padding-top:4px;line-height:1 }
body#review #expertReply .entry-title span { color:gray;display:block;font-size:12px }
body#review #expertReply .entry-content { padding:20px;magin:0;background:#f5f5f5 }
body#review #expertReply .note { font-size:12px; }
body#review #expertReply select { font-size:14px; }
body#review #expertReply textarea { font-size:12px; }
body#review #expertReply h2.rate { margin:20px 30px;border-top:solid 1px gray;border-bottom:solid 1px gray;text-align:center; }
body#review #expertReply .controls-agree { padding-top:20px; }
body#review #expertReply .controls-agree input { float:left;width:20px; }
body#review #expertReply .controls-agree span { font-size:11px;float:left;margin:0px 0px 10px 8px;color:#CC523E;width:360px; }
