body#settings h1 { font-size: 24.5px; }
body#settings #payment-form { border-top:solid 1px gray;margin-top:20px;padding-top:20px; }
body#settings #payment-form img { float:right;width:100px;height:auto }
body#settings #payment-form .form-action { border-top:1px solid gray }
body#settings #payment-form .mm { width:30px; }
body#settingd #payment-form .yyyy { width:40px; }
