<div class="tagsInput">
  <input type="text" class="autocomplete" placeholder="Type tag name, git repo or technology" />
  <div class="selected"></div>
  <input type="hidden" class="tags" name="tags" value="{{ tags }}" />
</div>