<div class="alert alert-error"></div>
<div class="stackoverflow">
  <img src="/images/icons/so.png" alt="stackoverflow icon">
  <div class="input-prepend">
    <span class="add-on" style="font-size:11px">stackoverflow.com/questions/tagged/</span>
    <input type="text" class="newStackoverflow span2" name="nameStackoverflow"  data-error-style="inline" />
  </div>
  <a href="#add-skill" class="btn btn-success save-so">add</a>
  <a href="#" class="btn cancel">cancel</a>
</div>
{{!
<span style="display:none" class="text-error"></span>

<p>or</p>
<div class="github">
  <div class="input-prepend">
    <span class="add-on" style="font-size:11px">github.com/</span>
    <input type="text" class="newGithub span3" name="nameGithub" />
    <a href="#add-skill" class="btn btn-success save-gh">add</a>
    <p class="muted">copy the end of any repository urls like /ownder/reponame</p>
  </div>
</div>
}}
