<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="navbar-brand pull-left" href="/adm"></a>
      <ul class="nav pull-right">
        <li><a href="/adm/companys">Companys</a></li>
        <li><a href="/adm/experts">Experts</a></li>
        <li><a href="/adm/marketingtags">Marketing</a></li>
        <li><a href="/adm/tags">Tags</a></li>
        <li>
          <a href="/adm/orders" class="droplink">Orders</a>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/adm/ang/orders">Orders New</a></li>
            <li><a href="/adm/ang/orders/weekly">Weekly</a></li>
            <li><a href="/adm/ang/orders/growth">Mth on Mth</a></li>
            <li><a href="/adm/ang/orders/channels">Channels</a></li>
          </ul>
        </li>
        <li><a href="/adm/pipeline" class="droplink">Pipeline</a>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/adm/pipeline/inactive">Inactive</a></li>
          </ul>
        </li>
    </div>
  </div>
</div>
