<nav class="nav-secondary">
  <div class="wrap">
   <ul id="menu-technologies" class="genesis-nav-menu">
    <li class="menu-item"><a href="/category/android">Android</a></li>
    <li class="menu-item"><a href="/angularjs">AngularJS</a></li>
    <li class="menu-item"><a href="/backbone.js">Backbone.js</a></li>
    <li class="menu-item"><a href="/c-plus-plus">C++</a></li>
    <li class="menu-item"><a href="/devops">DevOps</a></li>
    <li class="menu-item"><a href="/ember.js">Ember.js</a></li>
    <li class="menu-item"><a href="/ios">iOS</a></li>
    <li class="menu-item"><a href="/javascript">JS</a></li>
    <li class="menu-item"><a href="/microsoft.net" title="Micorsoft .net, Asp .net, C#, VB .net">.Net</a></li>
    <li class="menu-item"><a href="/node.js">Node.js</a></li>
    <li class="menu-item"><a href="/php">PHP</a></li>
    <li class="menu-item"><a href="/python">Python</a></li>
    <li class="menu-item"><a href="/ruby-on-rails">Rails</a></li>
    <li class="menu-item"><a href="/ruby">Ruby</a></li>
    <li class="menu-item"><a href="/wordpress">WordPress</a></li>
  </ul>
  </div>
</nav>
