<input type="text" class="timeselect datetimepicker" placeholder="select time" name="availability" />
<div class="selected">
  {{#each availability}}
    <div>{{this}} <a href="#" class="rm" data-val="{{this}}">x</a></div>
  {{/each}}
</div>