<input type="text" class="timeselect" placeholder="select time" data-error-style="inline" />
<span id="reqTimezone"></span>
<div>
  {{#each availability}}
    <div>{{this}} <a href="#" class="deleteAvalability" data-val="{{this}}">x</a></div>
  {{/each}}
</div>