
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4>Error</h4>
    </div>

  </legend>

  <div id="companyContacts"><div id="primaryContact"></div>


  </div>

  <div id="companyInfo">
    <div>
      <div class="control-group">
        <label class="control-label" for="companyName">Company</label>
        <div class="controls">
          <input style="width:320px" type="text" id="companyName" name="name" placeholder="Company name" value="{{ name }}" data-error-style="inline">
          <a class="individual" href="#">I'm an individual</a>
        </div>
      </div>
      <div class="control-group companyUrl-group">
        <label class="control-label" for="companyUrl">Website</label>
        <div class="controls">
          <div class="input-prepend" style="width:92%">
            <span class="add-on">http://</span>
            <input class="input-block-level" type="text" id="companyUrl" name="url" placeholder="Url of company or application" value="{{ url }}" data-error-style="inline">
          </div>
        </div>
      </div>
      <div class="control-group companyAbout-group">
        <label class="control-label" for="companyAbout">What does your company do? <span class="muted">* Please supply min 50 chars</span></label>
        <div class="controls">
          <span class="charCount"></span>
          <textarea class="input-block-level" id="companyAbout" name="about" placeholder="Tell us about your industry / problems are you solving" value="{{ soId }}" data-error-style="inline"></textarea>
        </div>
      </div>
    </div>
  </div>

  <div style="clear:both"></div>
