<div class="expert">
  <div class="fullName">
    { {{ name }} }
  </div>
  <hr />
  {{#if username }}
    <b class="username">@{{ username }}</b>
  {{/if}}

  <img src="{{ pic }}?s=240" class="pic" />

  <div class="links">
    {{> DevLinks }}
  </div>

  {{#if tags }}
  <div class="tags">
    {{#each tags }}
      <span class="label label-tag">{{ short }}</span>
    {{/each }}
  </div>
  {{/if}}

  <div style="clear:both"></div>
</div>