<div class='fold cf'>
  <nav class="cf">
    <a href="/"><img src="/images/logo4.png" /></a>
    <h3>Pair up weekly with baller developers. Make friends. Learn things.</h3>

    <!-- <div class="social">
      <a class="zocial twitter icon" href="http://twitter.com/airpair" target="_blank"></a> <a class="zocial facebook icon" href="http://facebook.com/airpair" target="_blank"></a>
    </div> -->
  </nav>

  <div class="jumbotron cf" style="height:582px">

    <img src="/images/jumbfaces.png" style="width:200px">

    <div style="margin:auto">
        <h2><span>{</span> Remote pair programmers meetup <span>}</span></h2>

        <p style="width:720px;margin:40px auto">At airpair, our primary focus is developer collaboration & knowledge sharing. We believe pair programming is a powerful & critical tool to foster greater learning, faster development & better products. We run a <a href="http://www.meetup.com/remotepairprogrammers/" target="_blank" style="color:white">free virtual meetup</a> for developers interested in pairing with & learning from each other.
        </p>

        <p style="width:572px;margin:40px auto">
          <a href="http://www.meetup.com/remotepairprogrammers/" class="button" target="_blank" style="margin:20px;width:200px">{ join meetup }</a>

          <a href="#instructions" class="button green" target="_blank" style="margin:auto;width:200px;margin:20px">{ see how it works }</a>
        </p>
    </div>
  </div>
</div>