<div class='fold cf'>

  <div class="jumbotron cf" style="height:582px">

    <img src="/images/jumbfaces.png" style="width:180px">

    <div style="width:760px;margin:auto">
        <h2><span>{</span> Remote pair programmers <span>}</span></h2>

        <p style="margin:40px auto 20px auto">At airpair, we love coming to work and focusing everyday on how to pioneer developer collaboration & knowledge share. We believe pair programming is a powerful tool that fosters greater learning, faster development & better products. <a href="http://www.meetup.com/remotepairprogrammers/" target="_blank" style="color:white">Our meetup</a> is for developers interested in pairing with & learning from each other.
        </p>

        <p style="width:572px;margin:40px auto">
          <a href="http://www.meetup.com/remotepairprogrammers/" class="button" target="_blank" style="margin:20px;width:200px">{ join our meetup }</a>

          <a href="#instructions" class="button green" target="_blank" style="margin:auto;width:200px;margin:20px">{ see how it works }</a>
        </p>
    </div>
  </div>
</div>