    <div class='fold cf'>
    <nav class="cf">
      <img src="/images/logo4.png" />
      <h3>Pair up weekly with baller developers. Make friends. Learn things.</h3>
    </nav>
  </div>

  <div id="how" class="marketing" style="padding:40px">
    <h2>How our virtual meetup works</h2>

    <p style="font-size:16px;font-style:italic">Our meetup is about learning the best ways to enable developers to find pair programming help. We'd love your input, please <a href="mailto:team@airpair.com" target="_blank">email us</a> your feedback & ideas.</p>

    <p>24 hours before each meetup, we'll send instructions in a meetup message with variations of the following steps.</p>

    <h3><b>{</b> <i>1.</i> Pre-event post <b>}</b></h3>

    <p>Before the meetup, <a href="#post">post</a> the technologies & things you'd like to pair on.<p>

    <h3><em>{</em> <i>2.</i> Join the event chatroom <i style="font-weight:normal">a.k.a IRC channel</i> <em>}</em></h3>

    <p style="margin:0">At the scheduled time, <a href="http://webchat.freenode.net/?channels=pairprogrammers" target="_blank">connect to our #pariprogrammers irc channel</a></p>

    <a href="http://webchat.freenode.net/?channels=pairprogrammers" target="_blank"><img src="/images/meetup/pairprogrammersirc.png" style="width:460px" /></a>

    <h3><b>{</b> <i>3.</i> Help increase attendance. <b>}</b></h3>

    <p>As you join our chartroom share that you're virtually pair programing by clicking the share icons here:</p>

    <br >
    <div class="addthis_toolbox addthis_default_style addthis_32x32_style"   addthis:url="http://www.meetup.com/remotepairprogrammers/"
       addthis:title="Im currently in a virtual Pair Programming jam session with the Remote Pair Programmers Meetup. #pairprogrammingrocks">
      <a class="addthis_button_email"></a>
      <a class="addthis_button_twitter"></a>
      <a class="addthis_button_hackernews"></a>
      <a class="addthis_button_linkedin"></a>
      <a class="addthis_button_google_plusone_share"></a>
      <a class="addthis_button_facebook"></a>
      <a class="addthis_button_reddit"></a>
      <a class="addthis_button_stumbleupon"></a>
      <a class="addthis_button_wordpress"></a>
      <a class="addthis_button_tumblr"></a>
      <a class="addthis_button_delicious"></a>
      <a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
    </div>

    <h3><em>{</em> <i>4.</i> Find & message those you'd like to pair with<em>}</em></h3>

    <p>Use the <a href="https://docs.google.com/spreadsheet/pub?key=0AsOwlciMAOtXdDVEdFRJMUlyZFRlUHgzYnozOGhnTUE&output=html" target="_blank" style="color:#CC523E;font-weight:bold">google spreadsheet</a> to see who uses the same technologies & what everyone is interested in working on. Then start a conversation to see if it's a good fit.</p>

    <h3><b>{</b> <i>5.</i> Create & invite pairs to a google hangout <b>}</b></h3>

    <p>Once you've found one or more pairs, ONE of you must click the buttons below to create a hangout.</p>

    <p>You have the option to create a public broadcasted hangout, or a private hangout.</p>

    <a href="https://plus.google.com/hangouts/_?hso=0&gid=140030887085" class="button" target="_blank">Create recorded hangout</a>

    <a href="https://hangoutsapi.talkgadget.google.com/hangouts?authuser=0&gid=140030887085" class="button" target="_blank">Create private hangout</a>

    <div style="clear:both"></div>
    <br />
    <p>Once in the hangout, use get your pairs google accounts email address and invite them to the hangout. From there you can try with pure screensharing, or optionally agree on collaborative text editing tools.</p>

    <h3><em>{</em> <i>6.</i> Give feedback <em>}</em></h3>

    <p>The day after the meetup, we'll send a questionnaire asking for feedback of your experience as well as feedback for your pairing partner(s).</p>

    <hr />
  </div>

  </div>