<div class='fold cf'>
  <nav class="cf">
    <a href="/"><img src="/images/logo4.png" /></a>
    <h3>Pair up weekly with baller developers. Make friends. Learn things.</h3>
  </nav>
</div>

  <div class="marketing" style="padding:20px 40px">
    <h1 style="margin-bottom:40px">Share the Pair Programming love</h1>

    <a href="http://www.meetup.com/remotepairprogrammers/" target="_blank"><img src="http://img2.meetupstatic.com/906521611995523788/img/header/logo.png" style="float:left;padding:0px 30px 0 0;width:90px" /></a>

    <div style="font-size:16px;float:left;width:80%">
      <b>Less is not more!</b>

      <p>Our mission is to empower you to find the most relevant pairs as quickly as possible.</p>

      <p><i>You</i> can help by boosting the pool of awesome programmers to choose from & pair with. Simply spread the word about the <a href="http://www.meetup.com/remotepairprogrammers/" target="_blank">Remote Pair Programmers meetup</a> by clicking the icons.
      </p>


    <p style="color:gray">Please share to as many networks as possible.</p>
    <div class="addthis_toolbox addthis_default_style addthis_32x32_style"   addthis:url="http://www.meetup.com/remotepairprogrammers/"
       addthis:title="I'm excited to attend the Remote Pair Programmers Meetup. #{{hashTag}}">
      <a class="addthis_button_email"></a>
      <a class="addthis_button_twitter"></a>
      <a class="addthis_button_hackernews"></a>
      <a class="addthis_button_linkedin"></a>
      <a class="addthis_button_google_plusone_share"></a>
      <a class="addthis_button_facebook"></a>
      <a class="addthis_button_reddit"></a>
      <a class="addthis_button_stumbleupon"></a>
      <a class="addthis_button_wordpress"></a>
      <a class="addthis_button_tumblr"></a>
      <a class="addthis_button_delicious"></a>
      <a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
    </div>


    </div>

  </div>