<div class='fold cf'>
  <nav class="cf">
    <a href="/"><img src="/images/logo4.png" /></a>
    <h3>Pair up weekly with baller developers. Make friends. Learn things.</h3>
  </nav>
</div>

  <div class="marketing" style="padding:20px 40px">
    <h1 style="margin-botton:20px">Share the Pair Programming love</h1>

    <a href="http://www.meetup.com/remotepairprogrammers/" target="_blank"><img src="http://img2.meetupstatic.com/906521611995523788/img/header/logo.png" style="float:left;margin:0px 30px 0 0;width:90px" /></a>

      <b>Less is not more!</b>

      <p style="font-size:16px;float:left;width:80%">We want to bring as many developers as possible together so we can come closer than ever before to enabling developers to get pair programming help in real-time!

      Help us spread the word about our free <a href="http://www.meetup.com/remotepairprogrammers/" target="_blank">remote pair programming meetup</a> through as many networks as possible so we can help developers find better pairs to collaborate with.</p>
    <div style="clear:both;height:40px"></div>

    <p style="color:gray">Please share the link to our meetup to as many networks as possible.</p>
    <div class="addthis_toolbox addthis_default_style addthis_32x32_style"   addthis:url="http://www.meetup.com/remotepairprogrammers/"
       addthis:title="I'm excited to attend the Remote Pair Programmers Meetup. #pairprogrammingrocks">
      <a class="addthis_button_email"></a>
      <a class="addthis_button_twitter"></a>
      <a class="addthis_button_hackernews"></a>
      <a class="addthis_button_linkedin"></a>
      <a class="addthis_button_google_plusone_share"></a>
      <a class="addthis_button_facebook"></a>
      <a class="addthis_button_reddit"></a>
      <a class="addthis_button_stumbleupon"></a>
      <a class="addthis_button_wordpress"></a>
      <a class="addthis_button_tumblr"></a>
      <a class="addthis_button_delicious"></a>
      <a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
    </div>
  </div>