<div class='fold cf'>
  <nav class="cf">
    <a href="/"><img src="/images/logo4.png" /></a>
    <h3>Pair up weekly with baller developers. Make friends. Learn things.</h3>
  </nav>
</div>

<div class="marketing" style="padding:20px 40px">
  <h1>All set!</h1>

  <p style="font-size:18px">Thanks for posting. Feel free to
<a href="https://docs.google.com/spreadsheet/pub?key={{spreadsheetKey}}" target="_blank">read everyone's answers</a>
       just before the meetup starts to figure out who you want to pair with.</p>

    <hr style="margin:0 0 40px 0" />

    <h1>Improve your experience!</h1>

    <p>The more people attending our virtual meetup, the bigger the pool of like minded programmers you'll have to choose from. Share our meetup across as many networks as you can to help boost attendance.</p>
    <br />

    <div class="addthis_toolbox addthis_default_style addthis_32x32_style"   addthis:url="http://www.meetup.com/remotepairprogrammers/"
       addthis:title="I'm excited to attend the Remote Pair Programmers Meetup. #{{hashTag}}">
      <a class="addthis_button_email"></a>
      <a class="addthis_button_twitter"></a>
      <a class="addthis_button_hackernews"></a>
      <a class="addthis_button_linkedin"></a>
      <a class="addthis_button_google_plusone_share"></a>
      <a class="addthis_button_facebook"></a>
      <a class="addthis_button_reddit"></a>
      <a class="addthis_button_stumbleupon"></a>
      <a class="addthis_button_wordpress"></a>
      <a class="addthis_button_tumblr"></a>
      <a class="addthis_button_delicious"></a>
      <a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
    </div>

    <hr style="margin:0 0 40px 0" />

    <a href="#instructions" class="button" style="margin:0;padding:12px 20px;width:190px;text-align:center;margin-left:10px">Back to instructions</a>

  </div>
