<table class="table table-striped">
  <thead>
    <tr>
      <th class="r">Status</th>
      <th class="o">Owner</th>
      <th class="c">By</th>
      <th class="t">Tags (<a href="#owners">owners</a>)</th>
      <th class="s">Suggested</th>
      <th>Calls</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
