body#airconfsqueeze {

  .hero {
    color:#dff2ef;

    h2 { font-size:32px;font-weight:800;margin:16px auto; }
    img { margin:40px 0 30px 0 }
    p { font-size:18px;margin:0px auto 50px 0;font-weight:400 }
  }

  h3 {
    text-align: center;
  }

  .screenshots { text-align:center;margin:40px 0 0 0  }
  .screenshots img { display:inline-block;width:300px;margin:10px 10px 20px 10px }
  .info { margin:20px 5px 40px 5px; text-align: center }

  .subscribe, #plus {
    background-color: #D5E2D5;
    border-radius: 2px;
    padding: 15px;
    box-sizing: border-box;
  }
  .subscribe h3 {
    font-size: 14pt;
    font-weight: 800;
    margin: 0;
    margin-bottom: 5px;
  }
  .subscribe input {
    border: 1px solid #999;
    border-radius: 2px;
    padding: 4px;
  }
  .subscribe button {
    background: #FF5F20;
    border: 2px solid #ce5424;
    border-radius: 2px;
    margin: auto;
    color: white;
    font-weight: 800;
    text-transform: none;
  }
  .subscribe input, .subscribe button {
    margin: 5px;
    height: 35px;
    width: 100%;
  }

  .lead { font-size: 12pt; font-weight: 400 }

  h3 { font-size: 14pt; font-weight: 800; line-height: 16pt }

  @media (max-width:1024px) {
    .hero section h2 { font-size:26px; font-weight:800 }
    @-moz-document url-prefix() {
      .hero section h2 { font-weight:300; }
    }
  }

  .experts {
    .sessionCol {
      height: auto;
    }
  }


  code { background:none;padding:none;margin:none; }
  code { padding:0; }


  input:required:invalid, input:focus:invalid {
    border-color: red;
  }

  #widget_bounds.Yfd {
    border: 0px !important;
    border-width: 0 !important;
  }
}

@-moz-document url-prefix() {
  body#airconfsqueeze .hero h2 { font-weight:400; }
  body#airconfsqueeze .hero p { font-weight:300; }
}
