body#airconfsqueeze { text-align:center }
body#airconfsqueeze {

  .hero { background:url('/images/landing/airconf/bg-2.jpg');text-align:center;color:#dff2ef }
  .hero img { margin:40px 0 30px 0 }
  .hero h2 { font-size:32px;font-weight:800;margin:16px auto; }
  .hero p { font-size:18px;margin:0px auto 50px 0;font-weight:400 }

  h2 { text-align:center;margin:40px auto; }
  h3 { text-align:center;margin:40px auto;font-size:32px }
  a.btn-orange { font-size:22px;background:#ce5424;margin:auto;color:white;height:50px;font-weight:300;text-transform:none;padding-top:10px; }
  a.btn-orange:hover { font-weight:500;color:white; }

  .screenshots { text-align:center;margin:40px 0 0 0  }
  .screenshots img { display:inline-block;width:300px;margin:10px 10px 20px 10px }
  .info { margin:20px 5px 40px 5px }

  .subscribe, #plus {
    background-color: #D5E2D5;
    border-radius: 2px;
    padding: 15px;
    box-sizing: border-box;
  }
  .subscribe h3 {
    font-size: 14pt;
    font-weight: 800;
    margin: 0;
    margin-bottom: 5px;
  }
  .subscribe input {
    border: 1px solid #999;
    border-radius: 2px;
    padding: 4px;
  }
  .subscribe button {
    background: #FF5F20;
    border: 2px solid #ce5424;
    border-radius: 2px;
    margin: auto;
    color: white;
    font-weight: 800;
    text-transform: none;
  }
  .subscribe input, .subscribe button {
    margin: 5px;
    height: 35px;
    width: 100%;
  }

  .lead { font-size: 12pt; font-weight: 400 }

  h3 { font-size: 14pt; font-weight: 800; line-height: 16pt }

  @media (max-width:1024px) {
    .hero section h2 { font-size:26px; font-weight:800 }
    @-moz-document url-prefix() {
      .hero section h2 { font-weight:300; }
    }
  }

  @media (max-width:801px) {
    .hero section { height:146px  }
    .hero section div.about { height:140px;position:absolute;top:230px;width:100%;color:#dff2ef; }
    .hero section div.about span { display:block; }
    .hero section div.about h2 { width:500px; }
    .hero section div.about p { font-size:16px;width:500px; }
  }

  @media (max-width:640px) {
    .hero section div.about { top:220px }
    .hero section div.about h2 { width:96%; }
    .hero section div.about p { width:96%; }
    .hero img { width:60%; }
    .hero a { width:60%; }
  }

  @media (max-width:480px) {
    .hero section div.about { top:200px }
    .hero section div.about h2 { font-size:22px; }
    .hero section div.about p { }
    .hero img { width:80%; }
    .hero a { width:80%; }
  }

  #experts { text-align:center }
  #experts .speaker { width:200px;display:inline-block;margin:30px 10px;vertical-align:top }
  #experts .speaker img { width:50%;border-radius:50px }

  @media (max-width:800px) {
    #experts .speaker { margin:30px 4% 30px 0; }
  }

  @media (max-width:640px) {
    #experts .speaker { margin:30px 4% 30px 5%; }
  }

  @media (max-width:480px) {
    #experts .speaker { margin:30px auto; }
  }

  code { background:none;padding:none;margin:none; }
  code { padding:0; }
  #experts .coloumn { padding-left:10px;padding-right:10px;  }
  #experts h2 { clear:both }
  #experts h3 { font-size:18px!important;padding-bottom:0;margin-bottom:4px }
  #experts h4 { font-size:12px!important;padding-top:0;margin-top:0;color:gray; }
  #experts h5 { font-size:14px!important;color:#CE5323;font-weight:bold;margin-left:0;margin-right:0; }
  #experts .description { height:230px!important; }
  #experts .description h6 { margin-top:0!important;padding-top:0!important;font-weight:bold }
  #experts .btn-slate { font-weight:normal; }
  #experts .btn-slate:hover { font-weight:bold; }
  #experts .social-icons { padding-top:2px; }
  #experts .social-icons a { width:32px;height:32px;display:inline-block;background-color:#d3d3d3;background-size:100%;background-position:center;background-repeat:no-repeat;margin-right:1px }
  #experts .social-icons a:hover { border-bottom:solid 1px orange; }
  #experts .social-icons span { width:32px;height:32px;display:inline-block;background-color:#d3d3d3;background-size:100%;background-position:center;margin-right:1px }
  .title span { display:inline-block;color:white; }
  #experts .ap { background:url('/images/icons/ap-white.png') }
  #experts a.ap { background-color:#ce5323 }
  #experts .gh { background:url('/images/icons/gh-white.png') }
  #experts a.gh { background-color:#3b3b3b }
  #experts .tw { background:url('/images/icons/tw-white.png') }
  #experts a.tw { background-color:#00afea }
  #experts .bb { background:url('/images/icons/bb-white.png') }
  #experts a.bb { background-color:#1a4f7e }
  #experts .so { background:url('/images/icons/so-white.png') }
  #experts a.so { background-color:#ffa43c }
  #experts .in { background:url('/images/icons/in-white.png') }
  #experts a.in { background-color:#0081af }

  input:required:invalid, input:focus:invalid {
    border-color: red;
  }

  #widget_bounds.Yfd {
    border: 0px !important;
    border-width: 0 !important;
  }
}

@-moz-document url-prefix() {
  body#airconfsqueeze .hero h2 { font-weight:400; }
  body#airconfsqueeze .hero p { font-weight:300; }
}
