body#airconf {
  background: white;

  header { background:#dff2ef;height:40px }
  header {
    a { width:100px;margin:auto;display:block }
    img { width:140px;margin-left:-14px }
  }

  h2 { text-align:center;margin:40px auto; }

  a.btn {
    color:white;
    &.btn-orange { background: #ce5424 }
    &.btn-teal { background: #90d1cc }
  }

 .addthis_sharing_toolbox {
   min-height: 36px;
  }

  .hero { background:url('/images/landing/airconf/bg-2.jpg');height:480px;margin-top:0!important;text-align:center }
  .hero {
    .logo { margin:50px 0 30px 0 }
    section { height:90px;margin-bottom:40px;color:#dff2ef }
    h2 { font-size:32px;font-weight:600;margin:16px auto;color:#dff2ef; }
    p { font-size:18px;margin:auto;font-weight:400 }

    @media (max-width:1024px) {
      h2 { font-size:26px;font-weight:400 }
      @-moz-document url-prefix() {
        h2 { font-weight:300; }
      }
    }

    @media (max-width:801px) {
      .logo { margin:50px 0 20px 0 }
      section { height:110px;width:100%;color:#dff2ef; }
      section span { display:block; }
      h2 { width:500px; }
      p { font-size:16px;width:500px; }
    }

    @media (max-width:640px) {
      .logo { width:60%; }
      h2 { width:96%; }
      p { width:96%; }
    }

    @media (max-width:480px) {
      .logo { width:80%; }
      section { height:130px;top:190px; }
      h2 { font-size:22px; }
    }
  }

  #about { padding:10px 0 30px 10px }
  #about {
    p { width:80%;margin:20px auto;text-align:center;font-size:16px;max-width:1020px; }
    hr { width:80%;max-width:1020px; }
  }


  #experts { text-align:center }
  #experts {
    .sessionCol { width:202px;display:inline-block;margin:30px 10px;border:solid 1px #d3d3d3;border-radius:5px;padding:8px 2px;background:#ECF7F5;height:310px; }
    .sessionCol:hover { background:black }
    .sessionCol:hover .description { font-size:11px;display:block; }
    .sessionCol:hover .user-info { display:none; }
    time { color:gray;display:block;margin-bottom:8px }
    time span { font-size:10px;font-weight:200 }
    .description { height:226px;font-size:11px;display:none;color:white;border:solid 1px black; }
    .description h6 { margin-top:0!important;padding-top:0!important;font-weight:bold; }
    .description a { margin-top:18px;width:84% }
    .user-info { height:226px;display:block; }
    .user-info h5 { display:block;height:30px }
    .coloumn { padding-left:10px;padding-right:10px;  }
    h2 { clear:both }
    h3 { font-size:18px!important;padding-bottom:0;margin-bottom:4px;font-weight:bold }
    h4 { font-size:12px!important;padding-top:0;margin-top:0;color:gray }
    h5 { font-size:14px!important;color:#CE5323;font-weight:bold;margin-left:0;margin-right:0; }
    .tags span { display:inline-block;color:#232835; }
    .social-icons { padding-top:2px; }
    a.ap { background:url('/images/icons/ap-white.png');background-color:#ce5323 }
    a.gh { background:url('/images/icons/gh-white.png');background-color:#3b3b3b }
    a.tw { background:url('/images/icons/tw-white.png');background-color:#00afea }
    a.bb { background:url('/images/icons/bb-white.png');background-color:#1a4f7e }
    a.so { background:url('/images/icons/so-white.png');background-color:#ffa43c }
    a.in { background:url('/images/icons/in-white.png');background-color:#0081af }
    .social-icons a { width:32px;height:32px;display:inline-block;background-size:100%;background-position:center;background-repeat:no-repeat;margin:6px 0 0 0 }
    .social-icons a:hover { ;background-color:orange }

    @media (max-width:800px) {
      .sessionCol { margin:30px 4% 30px 0; }
    }

    @media (max-width:640px) {
      .sessionCol { margin:30px 4% 30px 5%; }
    }

    @media (max-width:480px) {
      .sessionCol { margin:30px auto; }
    }
  }

  #audience {
    .attendee {
      display: inline-block;
      width: 7%;
      position: relative;
      height: 0;
      padding: 7% 0 0 0;
      overflow: hidden;

      img {
        position: absolute;
        display: block;
        max-width: 100%;
        max-height: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }
}

@-moz-document url-prefix() {
  body#airconf .talk h2 { font-weight:400!important; }
  body#airconf .talk p { font-weight:300!important; }
}

.attendee {
  display: inline-block;
  height: 25px;
  margin: 5px;
  width: 5%;
}
