/**
General styles that apply for all Airconf-related pages
**/
body.airconf {
  background: white;

  h2 {
    margin: 40px auto;
    margin-bottom: 20px;
    text-align: center;
    span.explanation {
      display: block;
      font-size: 14px;
      color: gray;
      margin-top: 10px;
    }
  }

  header {
    background: #dff2ef;
    height:60px;
    a.logo {
      width: 100px;
      margin: auto;
      display: block;
    }
    img { width:140px }
  }

  @media (min-width:801px) {
    header { height: 35px }
    a.logo { padding: 0 }
  }

  @media (max-width:800px) {
    header { height: 45px }
    a.logo { padding-top: 20px }
  }

  .addthis_sharing_toolbox {
    min-height: 36px;
  }

  .btn {
    color:white;
    &.btn-orange { background: #ce5424 }
    &.btn-teal { background: #90d1cc }
  }

  .hero {
    background:url('/images/landing/airconf/bg-2.jpg');
    margin-top: 0 !important;
    text-align: center;

    h2 {
      color: #dff2ef;
      font-size: 32px;
      font-weight: 600;
      margin: 16px auto;
    }

    h3 {
      font-size: 18px;
      font-weight: 400;
      margin: auto;
    }

    section {
      color: #dff2ef;
      height: 90px;
      margin-bottom: 20px;
    }

    .logo { margin:50px 0 30px 0 }

  }

  #header-login {
    position: absolute;
    color: #689;
    text-align: right;
    margin: 3px;
    width: 100%;
    right: 20px;
    top: 5px;
  }

  .experts {
    text-align:center;

    .sessionCol {
      width:202px;
      display:inline-block;
      margin:30px 10px;
      border:solid 1px #d3d3d3;
      border-radius:5px;
      padding:8px 2px;
      background:#ECF7F5;
      height:310px;

      a { text-decoration: none !important }
    }

    time {
      color:gray;
      display:block;
      margin-bottom:8px;
    }

    .user-info {
      height:226px;
      h2 { clear:both }
      h3 { font-size:18px!important;padding-bottom:0;margin-bottom:4px;font-weight:bold }
      h4 { font-size:12px!important;padding-top:0;margin-top:0;color:gray }
      h5 { font-size:14px!important;color:#CE5323;font-weight:bold;margin-left:0;margin-right:0; }

      h6.tags span {
        display:inline-block;
        color:#232835;
      }
    }

    .social-icons { padding-top:2px; }
    a.ap { background:url('/images/icons/ap-white.png');background-color:#ce5323 }
    a.gh { background:url('/images/icons/gh-white.png');background-color:#3b3b3b }
    a.tw { background:url('/images/icons/tw-white.png');background-color:#00afea }
    a.bb { background:url('/images/icons/bb-white.png');background-color:#1a4f7e }
    a.so { background:url('/images/icons/so-white.png');background-color:#ffa43c }
    a.in { background:url('/images/icons/in-white.png');background-color:#0081af }
    .social-icons a { width:32px;height:32px;display:inline-block;background-size:100%;background-position:center;background-repeat:no-repeat;margin:6px 0 0 0 }

    @media (max-width:800px) {
      .sessionCol { margin:30px 4% 30px 0; }
    }

    @media (max-width:640px) {
      .sessionCol { margin:30px 4% 30px 5%; }
    }

    @media (max-width:480px) {
      .sessionCol { margin:30px auto; }
    }
  }

  #audience {
    .attendee {
      display: inline-block;
      width: 7%;
      position: relative;
      height: 0;
      padding: 7% 0 0 0;
      overflow: hidden;

      img {
        position: absolute;
        display: block;
        max-width: 100%;
        max-height: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }
}

@-moz-document url-prefix() {
  body#airconf .talk h2 { font-weight:400!important; }
  body#airconf .talk p { font-weight:300!important; }
}

.attendee {
  display: inline-block;
  height: 25px;
  margin: 5px;
  width: 5%;
}
