/**
 Styles that apply specifically to the airconf home page.
 Keep general airconf site styles in airconf.scss
**/
body#airconf-homepage {

  .hero {
    height: 440px;

    @media (max-width:1024px) {
      h2 { font-size:26px;font-weight:400 }
      @-moz-document url-prefix() {
        h2 { font-weight:300; }
      }
    }

    @media (max-width:801px) {
      .logo { margin:50px 0 20px 0 }
      section { height:110px;width:100%;color:#dff2ef; }
      section span { display:block; }
      h2 { width:500px; }
      p { font-size:16px;width:500px; }
    }

    @media (max-width:640px) {
      .logo { width:60%; }
      h2 { width:96%; }
      p { width:96%; }
    }

    @media (max-width:480px) {
      .logo { width:80%; }
      section { height:130px;top:190px; }
      h2 { font-size:22px; }
    }

  }

  h4#about {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 40px auto;
    max-width: 895px;
    padding-bottom: 20px;
    text-align:center;
    width:80%;
  }
  #about {
    hr { width:80%;max-width:1020px; }
  }


  #keynotes {
    margin:auto;
    max-width: 1002px;
  }

  @media (max-width:560px) {
    .keynote {
      transform: scale(.8);
      margin: -10px !important;
    }
  }

  @media (max-width:460px) {
    .keynote {
      transform: scale(.70);
      margin: -25px !important;
      summary {
        font-size: 16px;
      }
    }
  }

  @media (max-width:360px) {
    #keynotes h2 {
      margin: 0 !important;
      padding: 0 !important;
    }
    .keynote {
      transform: scale(0.65);
      margin: -5px -75px -70px -75px !important;
      summary {
        font-size: 18px;
      }
    }
  }

  .keynote {
    border-radius:26px;
    margin-bottom:20px;
    padding:0px;
    text-decoration:none;
    height: 240px;
    width:470px;

    &.left { float:left; margin-left:16px; }
    &.right { float:right; margin-right:16px; }

    h3 {
      font-size:22px;
      font-weight:400;
      line-height:22px;
      margin-top:3px;
    }

    ul {
      height:240px;
      width:60px;
      padding:0 5px 0 0;
      display:inline-block;
      background: white;
      margin:0;
      position:relative;

      img, li {
        height: 60px;
        width: 60px;
        border-radius: 24px;
        padding: 0;
        margin: 0;
        list-style:none;
      }
    }

    &.left ul img, li { border-radius: 24px 0px 0px 24px }
    &.right ul img, li { border-radius:0 24px 24px 0 }

    &.four.right {
      height: 260px;
      img, li {
        height: 52px;
      }
    }

    summary {
      font-size: 12px;
      display: inline-block;
      width: 370px;
      margin: 15px 17px 15px 18px;
      vertical-align: top;
    }
  }
}
