/* adm base styles */

/* bootstrap overrides */
[class^="icon-"],[class*=" icon-"] { background-image: url("/images/css/glyphicons-halflings.png"); }
.icon-white { background-image: url("/images/css/glyphicons-halflings-white.png"); }
.input-prepend .add-on { height:auto;padding:3px; }
.input-append .add-on { height:auto;padding:3px; }

/* adm custom styles */

body { background:none repeat scroll 0 0 #fafafa }
// E2E2E2

.navbar-static-top {margin-bottom: 20px;}

/* adm base styles */
.form-actions { margin-top:-13px;padding:15px 10px; }

nav a.zocial { padding:0; }

nav .active a {
color: #FFB878;
}

.expertPic { width:16px!important;height:16px!important }


/* keep the delete button away from the other buttons */
.controls a.btn-danger:last-child { float: right; }

/* feedback that the request is in progress */
body#mtags button:disabled {
  background: darkgray;
  border: solid 3px gray;
}


/*  Admin Styles
~-----------------------------------------*/

.label-owner { margin:10px 10px 10px 0;min-width:20px;text-align:center;font-weight:normal; }
.label-jk { background-color: #FFB878; }
.label-tb { background-color: #9A9CFF; }
.label-il { background-color: #7AE7BF; }
.label-pg { background-color: #51B749; }
.label-ds { background-color: #FF887C; }
.label-prev { background-color: #FF0000; }

.marketingTagsInput { float:left;padding:8px 0px 12px 0px; }
.marketingTagsInput .selected { display: inline; }
.marketingTagsInput .tt-hint,
.marketingTagsInput .tt-query { width: 150px; }
.marketingTagsInput .marketingtag { vertical-align: top; margin: 0; margin-top: 1px; }
.marketingtag { border: 1px solid rgba(0, 0, 0, 0.25);font-size: 14px;font-weight: bold;margin: 3px 3px 0px 0px;padding: 6px 10px; text-shadow: none; }
.marketingtag.channel { color: #b94a48; background-color: #f2dede; }
.marketingtag.campaign { color: #c09853; background-color: #fcf8e3; }
.marketingtag.usage { color: #3a87ad; background-color: #d9edf7; }

@import "nav";
@import "pages/orders";








