<p>Hi CUSTOMER,<p>

<p>EXPERTNAME declined the proposed call on CALLDATETIME<p>

Speak with your expert and schedule another time:
<br><a href='http://www.airpair.com/schedule/{{ request._id }}'>http://www.airpair.com/schedule/{{ request._id }}</a>

Here is the request page, for your records:
<br><a href='http://www.airpair.com/review/{{ request._id }}'>http://www.airpair.com/review/{{ request._id }}</a>

<p>
Best,
<br>AirPair Email Robot
<br>http://airpair.com/
<br>twitter.com/airpair
<p>
