<img src="/images/signin/faces.png" class="faces" />

<div class="welcomeMsg">
    <h1>Welcome expert!</h1>

    <p>airpair experts are a community of developers that get paid to share knowledge through video.</p>

    <p>Experts have the opportunity to practice teaching, get exposed to interesting problems & build their online presence.</p>

    <p>We facilitate chat with <i>google hangouts</i> & need your google account to invite you to each airpair. Please sign in with google to get started.</p>

    <a href="/auth/google?return_to=/be-an-expert"><img src="/images/signin/google.png" class="signinBtn-google track"/></a>

</div>
<div class="rightCol">

    <h2><em>{ </em>Expert feedback<em> }</em></h2>

    <div class="customer">
      <h4><b>{ </b>Get paid to learn!<b> }</b></h4>
      <p> <a href="//youtu.be/STHEOw8Ym4Q" target="_blank" style="font-size:12px;font-style:italic">see full session.. </a></p>
      <iframe width="360" height="220" src="//www.youtube.com/embed/OnITm3nlQGY" frameborder="0"></iframe>
    </div>

    <div class="customer">
      <h4><b>{ </b>airpair high fives!<b> }</b></h4>
      <p><a href="//youtu.be/rC7ubZ76f98" target="_blank" style="font-size:12px;font-style:italic">see full session.. </a></p>
      <iframe width="360" height="220" src="//www.youtube.com/embed/gHNLh8QpxVY" frameborder="0"></iframe>
    </div>

</div>