a.mp { width:32px;height:32px;background:url('/images/icons/mp.png');display:inline-block }
a.em { width:32px;height:32px;background:url('/images/icons/em.png');display:inline-block }
a.gm { width:32px;height:32px;background:url('/images/icons/gm.png');display:inline-block }
a.gh { width:32px;height:32px;background:url('/images/icons/gh.png');display:inline-block }
a.so { width:32px;height:32px;background:url('/images/icons/so.png');display:inline-block }
a.bb { width:32px;height:32px;background:url('/images/icons/bb.png');display:inline-block }
a.in { width:32px;height:32px;background:url('/images/icons/in.png');display:inline-block }
a.tw { width:32px;height:32px;background:url('/images/icons/tw.png');display:inline-block }
a.hm { width:32px;height:32px;background:url('/images/icons/hm.png');display:inline-block }
a.ap { width:32px;height:32px;background:url('/images/icons/ap.png');display:inline-block }
