<div class="control-group">
  <label class="control-label" for="type">Youtube ID's</label>
  <div class="controls">
    <input name="youtube" class="input-medium" type="text"
      placeholder="Youtube id or URL here">
    <button class="fetch btn btn-success" title="fetch from youtube">Fetch</button>
  </div>
</div>

<div class="list"></div>

<br>
