 <div class="content-sidebar-wrap">
  <main class="content">
    <h1 class="entry-title" itemprop="headline">Confirm contact info (last step)</h1>
    <article class="post type-post format-standard entry">
      <div id="infoForm" class="entry-content"></div>
      <footer class="entry-footer">
        <div class="form-actions">
          <a href="save" class="save button large">Finish</a>
        </div>
      </footer>
    </article>
  </main>
</div>

<aside class="sidebar sidebar-primary widget-area">

  <section class="widget featured-content featuredpost">



  </section>
</aside>

