
  <main class="content detail">
    <div class="left-container">
    <p><span>Tell me what you need</span>. You will only get charged when I confirm I can help. If I don't have enough detail, I may decline. If you need to pair sooner than I'm available, AirPair will recommend an alternate experts.</p>
  </div>

    <h1 class="how-header">Details</h1>
    <article class="post type-post format-standard entry">
      <div class="entry-content" style="padding:0px 20px">

        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <h4>Error</h4>
        </div>

        <div class="control-group" style="clear:both">
          <label class="control-label">What do you want help with?</label>
          <div class="controls controls-brief">
            <textarea id="reqBrief" name="brief" placeholder="Enter as much detail as possible." style="height:110px"></textarea>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">How many hours do you want?</label>
          <select name="hours">
            <option value="1" selected="selected">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
          </select>
        </div>

        <div class="control-group">
          <label class="control-label" for="availabilityInput">What's your timezone & urgency?</label>
          <div class="controls controls-availability">
            <textarea id="availability" name="availability" placeholder="E.g. 'San Francisco (PST). I am flexible any time in the next week.'" style="height:70px">{{ availability }}</textarea>
          </div>
        </div>

        <div class="control-group pricing-group">
          <label class="control-label">Want to 'open source' our session recordings? </label>
          <div class="pricing rb-group controls">
            <input type="radio" id="pricingOpensource" name="pricing" value="opensource" />
            <label for="pricingOpensource" class="pricingOpensource">Yes <em class="opensource">$<span></span>/hr discount</em> </label>

            <input type="radio" id="pricingPrivate" name="pricing" value="private" checked="checked" />
            <label for="pricingPrivate" class="checked">Keep private</label>

            <input type="radio" id="pricingNDA" name="pricing" value="nda" />
            <label for="pricingNDA" class="pricingNDA">Sign NDA <em class="nda">+$<span></span>/hr</label></em>
          </div>

        </div>

      </div>


      <div style="clear:both;height:20px"></div>
      <footer class="entry-footer">
        <div class="form-actions">
          <a href="save" class="save button large" style="background-color:#CE5323">Choose # of hours to continue</a>
        </div>
      </footer>
    </article>
  </main>
</div>
