<h1>AirPair with {{name}}</h1>
<div class="left-container">
  <p><span>Why I AirPair </span>"{{brief}}"</p>
  {{!-- <label><a href="/backbone.js/expert-training-jonathon-kresner" target="_blank">Full Bio on AirPair</a></label> --}}
</div>
<h1 class="how-header">How It Works</h1>
<div class="left-container">
  <p><span>Most of the world’s leading software experts are not available for hire. </span>With AirPair you can book them for one-on-one consultations to review your product, give you tips and best practices and help you problem solve through your biggest challenges.</p>
  <img src="/images/book/how-to-book.png" class="how-to-book" alt="how to book">
  <p><span>How to land an expert: </span>The more descriptive your request, the more likely to be approved so let us know what you need!</p>
</div>
