<h1>Pairing with {{name}}</h1>
<div class="left-container">
  <p><span>Why I AirPair </span>"{{brief}}"</p>
  <a id="bookme-login" class="trackBookLogin button large" href="/auth/google?return_to={{localUrl}}" style="color:white">Request {{name}}</a>
  {{!-- <label><a href="/backbone.js/expert-training-jonathon-kresner" target="_blank">Full Bio on AirPair</a></label> --}}
</div>
<h1 class="how-header">How It Works</h1>
<div class="left-container">
  <p><span>The world’s best software experts are not available full-time. </span>
  <br />With AirPair you can book them one hour at a time. Leverage our expert's experience  to solve your bottlenecks in fraction of the time.</p>
  <img src="/images/book/how-to-book.png" class="how-to-book" alt="how to book">
  <p><span>How to land an expert: </span>The more descriptive your request, the more likely to be approved so give as much detail as you can!</p>
</div>
