{{#if hasRequests }}

<h2><b>{</b> Your requests <b>}</b></h2>

<table class="requests table table-striped">
  <thead>
    <tr>
      <th>Created</th>
      <th>Status</th>
      {{! <th>For</th> }}
      <th>Tags</th>
      <th>Suggested</th>
      <th>Scheduled</th>
      <th class="reqOptions"></th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

{{else }}

<div id="noRequests">

<h2><b>{</b> No requests ... ! <b>}</b></h2>


<p style="padding:20px 0;font-weight:bold">I see you have no requests. Here's 10 reasons to <a href="/find-an-expert">create a request</a> NOW:</p>
<ul>
  <li>Get the help you need quickly and painlessly.</li>
  <li>Choose the cure, not a bandaid and learn how to fix problems with help from an expert developer.</li>
  <li>Have your project or business validated by a savvy engineer.</li>
  <li>Push through barriers.</li>
  <li>Avoid wasting time on frustrating bugs.</li>
  <li>Keep your skills up to date.</li>
  <li>Incorporate expert feedback to minimize technical debt.</li>
  <li>Two heads are better than one.</li>
  <li>Help a dev pay his bills.</li>
  <li>It's something to share with your friends :-)</li>
</ul>

<br />
<p><a class="button" href="/find-an-expert">Get help now!</a></p>

<div style="clear:both;padding:30px 0">

<p>If there's nothing you need help with at this moment, make sure you've <a style="font-weight:bold" href="/be-an-expert">filled in your expert profile</a>.</p>

</div>

</div>

{{/if }}
