{{#if hasRequests }}
<table class="requests table table-striped">
  <thead>
    <tr>
      <th class="req-created">Created</th>
      <th class="req-status">Status</th>
      <th class="req-tags" style="width:240px">Tags</th>
      <th class="req-suggested">Suggested</th>
      <th class="req-scheduled">Scheduled</th>
      <th class="req-options"></th>
    </tr>
  </thead>
  <tbody>
  {{!-- see RequestRow.hbs for content --}}
  </tbody>
</table>

{{else }}

<div class="row">
<div class="col-xs-6 col-xs-offset-3">
  <div id="noRequests" class="center-block">
    <h2 class="text-center">Welcome to AirPair</h2>
    <p class="text-center">Stay tuned for a new AirPair experience coming one piece at a time this August.</p>
    <p class="text-center">
      <a class="button" href="/find-an-expert">Find an expert, NOW.</a>
    </p>
  </div>
</div>
{{/if }}
