{{#if hasRequests }}

<h2><b></b> Your requests <b></b></h2>

<table class="requests table table-striped">
  <thead>
    <tr>
      <th>Created</th>
      <th>Status</th>
      {{! <th>For</th> }}
      <th>Tags</th>
      <th>Suggested</th>
      <th>Scheduled</th>
      <th class="reqOptions"></th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

{{else }}

<div id="noRequests" style="width:640px;padding:20px;background:white;margin:auto">

{{!-- <h2><b>{</b> No requests ... ! <b>}</b></h2>
 --}}

<h2>Welcome to AirPair</h2>

<p>Stay tuned for a new AirPair experience coming one piece at a time this July/August.</p>

<p>Interested in our product journey? Read <a href="/news/06-14/why-a-fresh-start-on-product" target="_blank">"Why we're starting fresh with product"</a></p>

{{!-- <p style="padding:20px 0;font-weight:bold">I see you have no requests. Here's 10 reasons to <a href="/find-an-expert">create a request</a> NOW:</p>
<ul>
  <li>Get the help you need quickly and painlessly.</li>
  <li>Choose the cure, not a bandaid and learn how to fix problems with help from an expert developer.</li>
  <li>Have your project or business validated by a savvy engineer.</li>
  <li>Push through barriers.</li>
  <li>Avoid wasting time on frustrating bugs.</li>
  <li>Keep your skills up to date.</li>
  <li>Incorporate expert feedback to minimize technical debt.</li>
  <li>Two heads are better than one.</li>
  <li>Help a dev pay his bills.</li>
  <li>It's something to share with your friends :-)</li>
</ul> --}}


<div style="clear:both;padding:30px 0">

</div>
<br />
<p><a class="button" href="/find-an-expert">Find an expert, NOW.</a></p>
<p><a href="http://www.airpair.com/customer-faq" target="_blank">FAQs</a></p>
</div>

{{/if }}
