

<div class="container">

  <h3 class="text-thin m-b-1">
    Month on Month
  </h3>


  <table class="table m-t-1 growth">
    <thead>
      <th class="first">LTV</th>
      <th class="gro">Hrs on Air</th>
      <th class="gro text-muted">(util)</th>
      <th class="hrs">Hours Sold</th>
      <th class="hrs text-muted">(profit/hr)</th>
      <th class="gro">Profit</th>
      <th class="mar text-muted">Margin</th>
      <th class="rev">Revenue</th>
      <th class="avh text-muted">rev/cust</th>
      <th class="hrc text-muted">hr/cust</th>
      <th class="mth">Customers</th>
      <th class="text-left text-muted">Repeat</th>
      <th class="">Orders</th>
      <th class="text-muted">req/order</th>
      <th class="last">Requests</th>
    </thead>
    <tr class="success">
      <td>{{reportTotals.ltv | currency}}</td>
      <td>{{reportTotals.hrsOnAir | number : 0}}</td>
      <td class="text-orange">{{reportTotals.hrsAirPerHrsSold*100 | number:0}}%</td>
      <td>{{reportTotals.hrsSold}}</td>
      <td class="text-orange">{{reportTotals.profitPerHour | number : 0}}</td>
      <td>{{reportTotals.gross | number : 0}}</td>
      <td class="text-orange">{{reportTotals.margin * 100 | number : 2}}%</td>
      <td>{{reportTotals.revenue | number : 0}}</td>
      <td class="text-orange">{{reportTotals.revPerCust | number : 0}}</td>
      <td class="text-orange">{{reportTotals.hrPerCust | number : 2}}</td>
      <td>{{reportTotals.customerTotal}}</td>
      <td>{{reportTotals.custReturningPercent*100 | number:0}}%</td>
      <td>{{reportTotals.ordersNum | number : 0}}</td>
      <td class="text-orange">{{reportTotals.reqPerOrders | number : 0}}</td>
      <td>{{reportTotals.requestsNum | number : 0}}</td>
    </tr>
  </table>


     <table class="table growth">

        <thead>
          <th class="mth first">Week</th>
          <th class="gro">Hrs on Air</th>
          <th class="gro text-muted">(util)</th>
          <th class="hrs">Hours Sold</th>
          <th class="hrs text-muted">(profit/hr)</th>
          <th class="gro">Profit</th>
          <th class="mar text-muted">Margin</th>
          <th class="rev">Revenue</th>
          <th class="avh text-muted">rev/cust</th>
          <th class="hrc text-muted">hr/cust</th>
          <th class="mth">Customers</th>
          <th class="text-left text-muted">Repeat</th>
          <th class="">Orders</th>
          <th class="text-muted">req/order</th>
          <th class="last">Requests</th>
        </thead>

        <tr ng-repeat="r in report" class="{{r.css}}">
          <td class="text-muted">{{r.intervalName}}</td>
          <td>
            <span ng-if="r.hrsOnAir" class="animated-fast fadeIn">{{r.hrsOnAir | number:0}}</span>
            <span ng-if="r.phrsOnAir != null" ng-class="{'text-danger': r.phrsOnAir < 0, 'text-success': r.phrsOnAir > 0}">{{(r.phrsOnAir*100 | number:0) || 0}}%</span>
          </td>
          <td class="text-orange">
            <span ng-if="r.hrsAirPerHrsSold" class="animated-fast fadeIn">{{r.hrsAirPerHrsSold*100 | number:0}}%</span>
            <span ng-if="r.phrsAirPerHrsSold" ng-class="{'text-danger': r.phrsAirPerHrsSold < 0, 'text-success': r.phrsAirPerHrsSold > 0}">{{r.phrsAirPerHrsSold*100 | number:0}}%</span>
          </td>
          <td>
            <span ng-if="r.hrsSold">{{r.hrsSold | number:0}}</span>
            <span ng-if="r.phrsSold" ng-class="{'text-danger': r.phrsSold < 0, 'text-success': r.phrsSold > 0}">{{r.phrsSold*100 | number:0}}%</span>
          </td>
          <td class="text-orange">
            <span ng-if="r.profitPerHour != null">{{r.profitPerHour | number:0}}</span>
            <span ng-if="r.pprofitPerHour != null" ng-class="{'text-danger': r.pprofitPerHour < 0, 'text-success': r.pprofitPerHour > 0}">{{r.pprofitPerHour*100 | number:0}}%</span>
          </td>
          <td>
            <span ng-if="r.gross">{{r.gross | number:0}}</span>
            <span ng-if="r.pgross" ng-class="{'text-danger': r.pgross < 0, 'text-success': r.pgross > 0}">{{r.pgross*100 | number:0}}%</span>
          </td>
          <td class="text-orange">
            <span ng-if="r.margin">{{r.margin*100 | number:0}}%</span>
            <span ng-if="r.pmargin" ng-class="{'text-danger': r.pmargin < 0, 'text-success': r.pmargin > 0}">{{r.pmargin*100 | number:0}}%
            </span>
          </td>
          <td>
            <span ng-if="r.revenue">{{r.revenue | number:0}}</span>
            <span ng-if="r.prevenue" ng-class="{'text-danger': r.prevenue < 0, 'text-success': r.prevenue > 0}">{{r.prevenue*100 | number:0}}%</span>
          </td>
          <td class="text-orange">
            <span ng-if="r.revPerCust">{{r.revPerCust | number:0}}</span>
            <!-- <span ng-if="r.revPerHour">{{r.revPerHour | number:0}}</span> -->
            <span ng-if="r.prevPerCust" ng-class="{'text-danger': r.prevPerCust < 0, 'text-success': r.prevPerCust > 0}">{{r.prevPerCust*100 | number:0}}%</span>

          </td>
          <td class="text-orange">
            <span ng-if="r.hrPerCust">{{r.hrPerCust | number:1}}</span>
            <span ng-if="r.phrPerCust" ng-class="{'text-danger': r.phrPerCust < 0, 'text-success': r.phrPerCust > 0}">{{r.phrPerCust*100 | number:0}}%</span>
          </td>
          <td>
            <span ng-if="r.customerTotal">{{r.customerTotal | number:0}}</span>
            <span ng-if="r.pcustomerTotal" ng-class="{'text-danger': r.pcustomerTotal < 0, 'text-success': r.pcustomerTotal > 0}">{{r.pcustomerTotal*100 | number:0}}%</span>
          </td>
          <td class="text-left">
            <span ng-if="r.custReturningPercent != null">{{(r.custReturningPercent*100 | number:0) || 0}}%</span>
            <span ng-if="r.pcustReturningPercent != null" ng-class="{'text-danger': r.pcustReturningPercent < 0, 'text-success': r.pcustReturningPercent > 0}">{{(r.pcustReturningPercent*100 | number:0) || 0}}%</span>
          </td>
          <td>
            <span ng-if="r.orders.length">{{r.orders.length | number:0}}</span>
            <span ng-if="r.porders" ng-class="{'text-danger': r.porders < 0, 'text-success': r.porders > 0}">{{r.porders*100 | number:0}}%</span>

          </td>
          <td class="text-orange">
            <span ng-if="r.reqPerOrders" class="animated-fast fadeIn">{{r.reqPerOrders | number:0}}</span>
            <span ng-if="r.preqPerOrders" ng-class="{'text-danger': r.preqPerOrders < 0, 'text-success': r.preqPerOrders > 0}">{{r.preqPerOrders*100 | number:0}}%</span>
          </td>
          <td>
            <span ng-if="r.requestsNum" class="animated-fast fadeIn">{{r.requestsNum | number:0}}</span>
            <span ng-if="r.prequestsNum" ng-class="{'text-danger': r.prequestsNum < 0, 'text-success': r.prequestsNum > 0}">{{r.prequestsNum*100 | number:0}}%</span>
          </td>
        </tr>
      </table>



</div>
