


  <!-- PAGE -->

  <div class="container">
    <div class="row">


      <div class="col-sm-3">
        <h1 class="text-light">
          Orders
        </h1>
        <h3 class="flush-top">
          <small class="text-muted">
            {{dateStart | date:"MMM d, yyyy"}} – {{dateEnd | date:"MMM d, yyyy"}}
          </small>
        </h3>
      </div>


      <!-- Date range -->

      <div class="col-sm-9 m-t-1">
        <div class="row">
          <div class="col-sm-5">

            <div class="input-group">
              <span class="input-group-addon">Start</span>
              <input class="form-control" type="date" name="input" ng-model="dateStart" placeholder="yyyy-MM-dd" min="2013-01-01" max="" required/>
            </div>

            <div class="input-group m-t-half">
              <span class="input-group-addon">End</span>
              <input class="form-control" type="date" name="input" ng-model="dateEnd" placeholder="yyyy-MM-dd" min="2013-01-01" max="" required/>
            </div>


          </div>

          <div class="col-sm-7">


            <div class="btn-group">
                <label class="btn btn-primary" ng-model="dateRange" btn-radio="'day'">Day</label>
                <label class="btn btn-primary" ng-model="dateRange" btn-radio="'week'">Week</label>
                <label class="btn btn-primary" ng-model="dateRange" btn-radio="'month'">Month</label>
                <label class="btn btn-primary" ng-model="dateRange" btn-radio="'6 weeks'">Six Weeks</label>
                <label class="btn btn-primary" ng-model="dateRange" btn-radio="'all'">All</label>
            </div>

            <button type="button" class="btn m-l-half" ng-click="toggleReport()" ng-class="{'btn-default': !reportVisible, 'btn-success': reportVisible}">
              <span ng-show="!reportVisible">Show Report</span>
              <span ng-show="reportVisible">Hide Report</span>
            </button>

            <br>

            <div class="btn-group m-t-half">
                <label ng-repeat="month in months" class="btn btn-default" ng-click="setDateRange(month)" ng-class="{active: getDateStr() == month.str}">{{month.str}}</label>
            </div>


          </div>


        </div>
      </div>


    </div>

  </div>

  <hr>

  <div ng-show="reportVisible">
    <div class="container">
      <h2 class="text-light m-b-1">
        Month on Month
      </h2>


      <table class="table table-numbers">

        <thead>
          <th class="mth">Mth</th>
          <th class="gro">Gross</th>
          <th class="mar">Margin</th>
          <th class="rev">Revenue</th>
          <th class="avh">Avg/Hr</th>
          <th class="hrs">Hours</th>
          <th class="hrc">Hr/Cust</th>
          <th class="cus">Customers</th>
        </thead>

        <tr ng-repeat="month in report">
          <td>{{month.monthName}}</td>
          <td>{{month.gross }}</td>
          <td class="o">{{month.margin * 100 | number : 1}}%</td>
          <td>{{month.revenue | number : 0}}</td>
          <td class="o">${{month.revPerHour | number : 0}}</td>
          <td>{{month.hrsSold}}</td>
          <td class="o">{{month.hrPerCust | number : 1}}</td>
          <td>{{month.customerTotal}}</td>
        </tr>
      </table>


      <table class="table">
        <thead>
          <th>Total Gross</th>
          <th>Avg Margin</th>
          <th>Total Revenue</th>
          <th>Avg Rev/Hr</th>
          <th>Avg Hr/Cust</th>
          <th>Total Hrs</th>
          <th>Cust Total</th>
          <th>LTV</th>
        </thead>

        <tr class="success">
          <!-- <td>{{getMonth($index)}}</td> -->
          <td>{{reportTotals.gross | currency}}</td>
          <td>{{reportTotals.margin * 100 | number : 2}}%</td>
          <td>{{reportTotals.revenue | currency}}</td>
          <td>{{reportTotals.revPerHour | currency}}</td>
          <td>{{reportTotals.hrPerCust | number : 2}} hrs</td>
          <td>{{reportTotals.hrsSold}} hrs</td>
          <td>{{reportTotals.customerTotal}}</td>
          <td>{{reportTotals.ltv | currency}}</td>
        </tr>
      </table>

    </div>

    <!-- <hr> -->
  </div>







  <!-- ORDERS -->
  <div class="container" ng-hide="reportVisible">

    <div id="list">
      <table id="orders" class="table table-striped">
        <thead>

          <tr>
            <th style="width:30px">Revenue</th>
            <th>Orders</th>
            <th>Customers</th>
            <th>Request</th>
            <th style="width:35px">Pay</th>
            <th>Hours</th>
            <th style="width:24px">Gross</th>
          </tr>


          <tr id="" class="success">
            <th id="totalRevenue">${{summary.totalRevenue}}</th>
            <th id="orderCount">{{summary.orderCount}}</th>
            <th id="customerCount">{{summary.customerCount}}</th>
            <th id="requestCount">{{summary.requestCount}}</th>
            <th>&nbsp;</th>
            <th id="hourCount">
              <!-- hours redeemed / hours completed / hours total | unique experts -->
              {{summary.totalRedeemed}} / {{summary.totalCompleted}} / {{summary.totalHours}} | {{summary.expertCount }}
            </th>
            <th id="totalProfit">${{summary.totalProfit}}</th>
          </tr>

        </thead>
        <tbody>
          <tr ng-repeat="order in visibleOrders | orderBy : 'utc' : true" class="order" ng-show="isWithinDate(order)">

            <!-- Total -->
            <td class="total">
              ${{order.total}}
            </td>

            <!-- Order Number -->
            <td>
                <span>
                  <a href="/adm/ang/orders/edit/{{order._id}}" ng-click="" class="selectOrder">
                    <img src="/images/css/{{order.paymentType}}-favicon.ico" class="favicon">
                    {{order.utc | date:"MMM d yyyy"}}
                  </a>
                </span>
                <br>
                <b ng-class="order.paymentStatus">{{order.paymentStatus}}</b>
                <!-- TODO: errors -->
            </td>

            <!-- User -->
            <td>
                <img ng-show="order.company.contacts[0].pic" ng-src="{{order.company.contacts[0].pic}}" style="float:left;margin:5px">
                <img ng-hide="order.company.contacts[0].pic" src="/images/avatars/default.jpg" style="float:left;margin:5px" />

                <div style="float:left">
                  <a href="mailto:{{order.company.contacts[0].email}}" target="_blank">
                    {{order.company.contacts[0].fullName}}
                  </a><br>
                  {{order.company.name}}
                </div>
            </td>

            <!-- Request -->
            <td class="">
                <span class="label label-owner label-{{order.owner}}">{{order.owner}}</span>
                <a href="/adm/pipeline/request/{{order.requestId}}" target="_blank" data-id="{{order.requestId}}">{{order.requestId}}</a>
                <br>
                <span ng-repeat="tag in order.marketingTags" class="marketingtag label" ng-class="tag.type">{{tag.name}} </span>
            </td>

            <!-- Pay -->
            <td>

              <b ng-if="order.paymentStatus == 'paidout'" ng-repeat="item in order.lineItems" class="paidout" data-id="{{ item._id }}">paid</b>

              <!-- not paid out -->
              <div ng-if="order.paymentStatus != 'paidout'">

                <div ng-if="order.paymentType == 'paypal' && paymentStatus == 'received'">
                  <!-- TODO: if payout options? -->
                  <!-- <b>payout</b> -->
                  <!-- else -->
                  <a class="payOutPayPalAdaptive " href="#">payout</a>
                </div>

              </div>

            </td>


            <!-- Hours -->
            <td>
              <div ng-repeat="item in order.lineItems">
                <!-- scheduled/completed/total  -->
                {{item.redeemed}} / {{item.completed}} / {{item.total}}

                <!-- TODO: check right numbers -->
                <img class="expertPic" ng-src="{{item.suggestion.expert.pic}}">
                {{item.suggestion.expert.name}}

                <br>
              </div>
            </td>


            <!-- Profit -->
            <td>
                ${{order.profit}}
            </td>


          </tr>
        </tbody>
      </table>
    </div> <!-- #list -->


  </div> <!-- .container -->
