


<div class="container">
  <div class="row">

    <div class="col-sm-4">
      <h3 class="text-thin">Weekly Report</h3>
    </div>
    
</div>


</div>

<hr>

  <div class="container">

    <div class="row">
      <div class="col-sm-4">
        <h4 class="text-thin">Demand</h4>
      </div>
      <div class="col-sm-4">
        <small class="text-muted">Start</small>
        <input class="form-control" type="date" name="startdate" ng-model="dateStart" placeholder="yyyy-MM-dd" min="2013-01-01" max="" required/>
      </div>
      <div class="col-sm-4">
        <small class="text-muted">End</small>
        <input class="form-control" type="date" name="enddate" ng-model="dateEnd" placeholder="yyyy-MM-dd" min="2013-01-01" max="" required/>
      </div>

    </div>
   


  <div ap-table-growth interval="weekly" report="report" report-totals="reportTotals"></div>




</div>


<hr>

<div class="container m-b-3">

  <h4 class="text-thin m-t-1">Orders</h4>





  <table class="table table-hover table-condensed growth"  Xng-repeat="week in weeks">

    <thead>

      <th>Week</th>
      <th>Total</th>
      <th class="text-info">Ad</th>
      <th class="text-info">Affiliate</th>
      <th class="text-info">Direct</th>
      <th class="text-info">Newsletter</th>
      <th class="text-info">Incubator</th>
      <th class="text-info">Press</th>
      <th class="text-info">SEO</th>
      <th class="text-info">Social</th>
      <!-- <th class="text-info">Stack Overflow</th> -->
      <th class="text-info">WoM</th>
      <th class="text-info">Untracked</th>
    </thead>



    <tr ng-repeat-start="week in channelGrowth">

      <td class="text-muted">{{week.str}}</td>
      <td>{{week.metrics.summary.numOrders}}</td>
      <td class="text-info">{{week.metrics.summary.tags.ad.count | number: 0}}</td>
      <td class="text-info">{{week.metrics.summary.tags.affiliate.count | number: 0}}</td>
      <td class="text-info">{{week.metrics.summary.tags.direct.count | number: 0}}</td>
      <td class="text-info">{{week.metrics.summary.tags.newsletterairpair.count | number: 0}}</td>
      <td class="text-info">{{week.metrics.summary.tags.incubator.count | number: 0}}</td>
      <td class="text-info">{{week.metrics.summary.tags.press.count | number: 0}}</td>
      <td class="text-info">{{week.metrics.summary.tags.seo.count | number: 0}}</td>
      <td class="text-info">{{week.metrics.summary.tags.social.count | number: 0}}</td>
      <!-- <td class="text-info">{{week.metrics.summary.tags.stackoverflowads.count | number: 0}}</td> -->
      <td class="text-info">{{week.metrics.summary.tags.wordofmouth.count | number: 0}}</td>
      <td class="text-info">{{week.metrics.summary.tags.untracked.count | number: 0}}</td>
    </tr>

    <tr class="row-small" ng-repeat-end ng-show="week.diffTags">

      <td></td>
      <td></td>
      <td ng-class="{'text-danger': week.diffTags.ad.count < 0, 'text-success': week.diffTags.ad.count > 0}">{{ week.diffTags.ad.count*100 | number:1}}%</td>
      <td ng-class="{'text-danger': week.diffTags.affiliate.count < 0, 'text-success': week.diffTags.affiliate.count > 0}">{{ week.diffTags.affiliate.count*100 | number:1 }}%</td>
      <td ng-class="{'text-danger': week.diffTags.direct.count < 0, 'text-success': week.diffTags.direct.count > 0}">{{ week.diffTags.direct.count*100 | number:1 }}%</td>
      <td ng-class="{'text-danger': week.diffTags.newsletterairpair.count < 0, 'text-success': week.diffTags.newsletterairpair.count > 0}">{{ week.diffTags.newsletterairpair.count*100 | number:1 }}%</td>
      <td ng-class="{'text-danger': week.diffTags.incubator.count < 0, 'text-success': week.diffTags.incubator.count > 0}">{{ week.diffTags.incubator.count*100 | number:1 }}%</td>
      <td ng-class="{'text-danger': week.diffTags.press.count < 0, 'text-success': week.diffTags.press.count > 0}">{{ week.diffTags.press.count*100 | number:1 }}%</td>
      <td ng-class="{'text-danger': week.diffTags.seo.count < 0, 'text-success': week.diffTags.seo.count > 0}">{{ week.diffTags.seo.count*100 | number:1 }}%</td>
      <td ng-class="{'text-danger': week.diffTags.social.count < 0, 'text-success': week.diffTags.social.count > 0}">{{ week.diffTags.social.count*100 | number:1 }}%</td>
      <!-- <td ng-class="{'text-danger': week.diffTags.stackoverflowads.count < 0, 'text-success': week.diffTags.stackoverflowads.count > 0}">{{ week.diffTags.stackoverflowads.count*100 | number:1 }}%</td> -->
      <td ng-class="{'text-danger': week.diffTags.wordofmouth.count < 0, 'text-success': week.diffTags.wordofmouth.count > 0}">{{ week.diffTags.wordofmouth.count*100 | number:1 }}%</td>
      <td ng-class="{'text-danger': week.diffTags.untracked.count < 0, 'text-success': week.diffTags.untracked.count > 0}">{{ week.diffTags.untracked.count*100 | number:1 }}%</td>

    </tr>

  </table>

</div>
