
      <!-- .growth CSS in 'css/adm/pages/_orders.scss' -->

      <table class="table growth">

        <thead>
          <tr>
            <th class="interval ">
              <span ng-if="interval == 'weekly'">Week</span>
              <span ng-if="interval == 'monthly'">Month</span>
            </th>
            <th style="width:5%;" class="first text-muted">LTV</th>
            <th style="width:5%">Profit</th>
            <th style="width:8%" class=" text-muted">Margin | Profit/hr</th>
            <th style="width:5%">Hr onAir</th>
            <th style="width:7%" class=" text-muted">(util)</th>
            <th style="width:4%">Hr Sold</th>
            <th style="width:6%" class="text-muted">rev/hr</th>
            <th style="width:6%">Revenue</th>
            <th style="width:7%" class=" text-muted">rev/cust</th>
            <th style="width:5%">Customer</th>
            <th style="width:8%" class=" text-muted">hr/cust | repeat</th>
            <th style="width:4%">Order</th>
            <th style="width:7%" class="text-muted">Cnv req/ord</th>
            <th style="width:5%;" class="last">Request</th>
          </tr>
        </thead>


        <tr ng-repeat="r in report" class="{{r.css}}">
          <td class="text-muted">{{r.intervalName}}</td>
          <td class="first text-orange">
            <span ng-if="r.ltv">{{r.ltv | number:0}}</span>
            <span ng-if="r.pltv != null" ng-class="{'text-danger': r.pltv < 0, 'text-success': r.pltv > 0}">{{r.pltv*100 | number:0}}%</span>
          </td>
          <td>
            <span ng-if="r.gross">{{r.gross | number:0}}</span>
            <span ng-if="r.pgross != null" ng-class="{'text-danger': r.pgross < 0, 'text-success': r.pgross > 0}">{{r.pgross*100 | number:0}}%</span>
          </td>
          <td class="text-orange">
            <table class="double">
              <tr>
                <td class="left"><span ng-if="r.margin">{{r.margin*100 | number:0}}%</span><span ng-if="r.pmargin" ng-class="{'text-danger': r.pmargin < 0, 'text-success': r.pmargin > 0}">{{r.pmargin*100 | number:0}}%</span></td>
                <td class="middle"><span class="text-muted">|</span></td>
                <td class="right"><span ng-if="r.profitPerHour">{{r.profitPerHour | number:0}}</span>
            <span ng-if="r.pprofitPerHour != null" ng-class="{'text-danger': r.pprofitPerHour < 0, 'text-success': r.pprofitPerHour > 0}">{{(r.pprofitPerHour*100 | number:0) || 0}}%</span></td>
              </tr>
            </table>
          </td>
<!--           <td class="text-orange">
            <span ng-if="r.profitPerHour">{{r.profitPerHour | number:0}}</span>
            <span ng-if="r.pprofitPerHour" ng-class="{'text-danger': r.pprofitPerHour < 0, 'text-success': r.pprofitPerHour > 0}">{{r.pprofitPerHour*100 | number:0}}%</span>
          </td>
 -->
          <td>
            <span ng-if="r.hrsOnAir" class="animated-fast fadeIn">{{r.hrsOnAir | number:0}}</span>
            <span ng-if="r.phrsOnAir != null" ng-class="{'text-danger': r.phrsOnAir < 0, 'text-success': r.phrsOnAir > 0}">{{(r.phrsOnAir*100 | number:0)|| 0}}%</span>
          </td>
          <td class="text-orange">
            <span ng-if="r.hrsAirPerHrsSold" class="animated-fast fadeIn">{{r.hrsAirPerHrsSold*100 | number:0}}%</span>
            <span ng-if="r.phrsAirPerHrsSold" ng-class="{'text-danger': r.phrsAirPerHrsSold < 0, 'text-success': r.phrsAirPerHrsSold > 0}">{{r.phrsAirPerHrsSold*100 | number:0}}%</span>
          </td>
          <td>
            <span ng-if="r.hrsSold">{{r.hrsSold | number:0}}</span>
            <span ng-if="r.phrsSold != null" ng-class="{'text-danger': r.phrsSold < 0, 'text-success': r.phrsSold > 0}">{{r.phrsSold*100 | number:0}}%</span>
          </td>
          <td class="text-orange">
            <span ng-if="r.revPerHour">{{r.revPerHour | number:0}}</span>
            <span ng-if="r.prevPerHour != null" ng-class="{'text-danger': r.prevPerHour < 0, 'text-success': r.prevPerHour > 0}">{{r.prevPerHour*100 | number:0}}%</span>
          </td>
          <td>
            <span ng-if="r.revenue">{{r.revenue | number:0}}</span>
            <span ng-if="r.prevenue != null" ng-class="{'text-danger': r.prevenue < 0, 'text-success': r.prevenue > 0}">{{r.prevenue*100 | number:0}}%</span>
          </td>
          <td class="text-orange">
            <span ng-if="r.revPerCust">{{r.revPerCust | number:0}}</span>
            <!-- <span ng-if="r.revPerHour">{{r.revPerHour | number:0}}</span> -->
            <span ng-if="r.prevPerCust != null" ng-class="{'text-danger': r.prevPerCust < 0, 'text-success': r.prevPerCust > 0}">{{r.prevPerCust*100 | number:0}}%</span>

          </td>
          <td>
            <span ng-if="r.customerTotal">{{r.customerTotal | number:0}}</span>
            <span ng-if="r.pcustomerTotal != null" ng-class="{'text-danger': r.pcustomerTotal < 0, 'text-success': r.pcustomerTotal > 0}">{{r.pcustomerTotal*100 | number:0}}%</span>
          </td>
          <td class="text-orange">
            <table class="double">
              <tr>
                <td class="left">
                  <span ng-if="r.hrPerCust">{{r.hrPerCust | number:1}}</span>
                  <span ng-if="r.phrPerCust" ng-class="{'text-danger': r.phrPerCust < 0, 'text-success': r.phrPerCust > 0}">{{r.phrPerCust*100 | number:0}}%</span>
                </td>
                <td class="middle"><span class="text-muted">|</span></td>
                <td class="right">
                  <span ng-if="r.custReturningPercent != null">{{(r.custReturningPercent*100 | number:0)|| 0}}%</span>
                  <span ng-if="r.pcustReturningPercent != null" ng-class="{'text-danger': r.pcustReturningPercent < 0, 'text-success': r.pcustReturningPercent > 0}">{{(r.pcustReturningPercent*100 | number:0) || 0}}%</span>
                </td>
              </tr>
            </table>
          </td>
<!--           <td class="text-left">
            <span ng-if="r.custReturningPercent">{{r.custReturningPercent*100 | number:0}}%</span>
            <span ng-if="r.pcustReturningPercent" ng-class="{'text-danger': r.pcustReturningPercent < 0, 'text-success': r.pcustReturningPercent > 0}">{{r.pcustReturningPercent*100 | number:0}}%</span>
          </td>
 -->
          <td>
            <span ng-if="r.orders.length">{{r.orders.length | number:0}}</span>
            <span ng-if="r.porders != null" ng-class="{'text-danger': r.porders < 0, 'text-success': r.porders > 0}">{{r.porders*100 | number:0}}%</span>

          </td>
          <td class="text-orange">
            <span ng-if="r.ordersPerReq" class="animated-fast fadeIn">{{r.ordersPerReq*100 | number:0}}%</span>
            <span ng-if="r.pordersPerReq != null" ng-class="{'text-danger': r.pordersPerReq < 0, 'text-success': r.pordersPerReq > 0}">{{r.pordersPerReq*100 | number:0}}%</span>
          </td>
          <td class="last">
            <span ng-if="r.requestsNum" class="animated-fast fadeIn">{{r.requestsNum | number:0}}</span>
            <span ng-if="r.prequestsNum != null" ng-class="{'text-danger': r.prequestsNum < 0, 'text-success': r.prequestsNum > 0}">{{r.prequestsNum*100 | number:0}}%</span>
          </td>
        </tr>



        <tr class="summary">
          <td class="text-muted"> </td>
          <td class="first text-orange">{{reportTotals.ltv | currency}}</td>
          <td>{{reportTotals.gross | number : 0}}</td>
          <td class="text-orange">
            <table class="double">
              <tr>
                <td class="left">{{reportTotals.margin * 100 | number : 0}}%</td>
                <td class="middle"><span class="text-muted">|</span></td>
                <td class="right">{{reportTotals.profitPerHour | number : 0}}</td>
              </tr>
            </table>
          <td class="">{{reportTotals.hrsOnAir | number : 0}}</td>
          <td class="text-orange ">{{reportTotals.hrsAirPerHrsSold*100 | number:0}}%</td>
          <td>{{reportTotals.hrsSold}}</td>
          <td class="text-orange">{{reportTotals.revPerHour | number : 0}}</td>
          <td>{{reportTotals.revenue | number : 0}}</td>
          <td class="text-orange">{{reportTotals.revPerCust | number : 0}}</td>
          <td>{{reportTotals.customerTotal}}</td>
          <td class="text-orange">
            <table class="double">
              <tr>
                <td class="left">{{reportTotals.hrPerCust | number : 0}}</td>
                <td class="middle"><span class="text-muted">|</span></td>
                <td class="right">{{reportTotals.custReturningPercent*100 | number:0}}%</td>
              </tr>
            </table>
          <td>{{reportTotals.ordersNum | number : 0}}</td>
          <td class="text-orange ">{{reportTotals.ordersPerReq*100 | number : 0}}%</td>
          <td class="last">{{reportTotals.requestsNum | number : 0}}</td>


        </tr>


      </table>
