


<div class="container">
  <div class="row">
    
    <div class="col-sm-4">
      <h3 class="text-light">Weekly Report</h3>
    </div>
<!--     <div class="col-sm-4">
      <small class="text-muted">Start</small>
      <input class="form-control" type="date" name="input" ng-model="dateStart" placeholder="yyyy-MM-dd" min="2013-01-01" max="" required/>
    </div>
    <div class="col-sm-4">   
      <small class="text-muted">End</small>   
      <input class="form-control" type="date" name="input" ng-model="dateEnd" placeholder="yyyy-MM-dd" min="2013-01-01" max="" required/>
    </div>

 -->  </div>


</div>

<hr>

  <div class="container">

    <h4 class="text-light">Demand</h4>

          
      <table class="table">

        <thead>
          <th class="mth first">Mth</th>
          <th class="gro">Gross</th>
          <th class="mar">Margin</th>
          <th class="rev">Revenue</th>
          <th class="avh">Avg/Hr</th>
          <th class="hrs">Hours</th>
          <th class="hrc">Hr/Cust</th>
          <th class="mth last">Customers</th>
        </thead>

        <tr ng-repeat="r in report" class="{{r.css}}">
          <td class="m">{{r.monthName}}</td>
          <td ng-bind-html="r.gross | number : 0 | pFormat : r.pgross"></td>
          <td class="o" ng-bind-html="r.margin | percent | pFormat : r.pmargin"></td>
          <td ng-bind-html="r.revenue | number : 0 | pFormat : r.prevenue"></td>
          <td ng-bind-html="r.revPerHour | number : 0 | dollar | pFormat : r.prevPerHour" class="o">$</td>
          <td ng-bind-html="r.hrsSold | pFormat: r.phrsSold"></td>
          <td class="o" ng-bind-html="r.hrPerCust | number : 1 | pFormat: r.phrPerCust"></td>
          <td ng-bind-html="r.customerTotal | pFormat: r.pcustomerTotal"></td>
        </tr>
      </table>


      <table class="table">
        <thead>
          <th class="first">LTV</th>
          <th>Total Gross</th>
          <th>Avg Margin</th>
          <th>Total Revenue</th>
          <th>Avg Rev/Hr</th>
          <th>Avg Hr/Cust</th>
          <th>Total Hrs</th>
          <th class="last">Cust Total</th>
        </thead>

        <tr class="success">
          <td>{{reportTotals.ltv | currency}}</td>
          <td>{{reportTotals.gross | currency}}</td>
          <td>{{reportTotals.margin * 100 | number : 2}}%</td>
          <td>{{reportTotals.revenue | currency}}</td>
          <td>{{reportTotals.revPerHour | currency}}</td>
          <td>{{reportTotals.hrPerCust | number : 2}} hrs</td>
          <td>{{reportTotals.hrsSold}} hrs</td>
          <td>{{reportTotals.customerTotal}}</td>
        </tr>
      </table>







    <h4 class="text-light m-t-3">Orders</h4>
  
  

  

  <table class="table table-hover table-condensed"  ng-repeat="week in weeks">

    <thead>
      <th>{{week.str}}</th>
      <th><span ng-class="{invisible: $index != 0}">Name</span></th>
      <th><span ng-class="{invisible: $index != 0}">Total</span></th>
      <th class="text-info"><span ng-class="{invisible: $index != 0}">Ad</span></th>
      <th class="text-info"><span ng-class="{invisible: $index != 0}">Affiliate</span></th>
      <th class="text-info"><span ng-class="{invisible: $index != 0}">Direct</span></th>
      <th class="text-info"><span ng-class="{invisible: $index != 0}">Newsletter</span></th>
      <th class="text-info"><span ng-class="{invisible: $index != 0}">Incubator</span></th>
      <th class="text-info"><span ng-class="{invisible: $index != 0}">Press</span></th>
      <th class="text-info"><span ng-class="{invisible: $index != 0}">Product</span></th>
      <th class="text-info"><span ng-class="{invisible: $index != 0}">SEO</span></th>
      <th class="text-info"><span ng-class="{invisible: $index != 0}">Social</span></th>
      <th class="text-info"><span ng-class="{invisible: $index != 0}">WoM</span></th>
      <th class="text-info"><span ng-class="{invisible: $index != 0}">AoA</span></th>
      <th class="text-info"><span ng-class="{invisible: $index != 0}">Untracked</span></th>
      <th class="text-success"><span ng-class="{invisible: $index != 0}">Campaigns</span></th>
    </thead>






      <tr class="success">
        <td></td>
        <td> <strong>Count</strong></td>
        <td>{{week.metrics.summary.numOrders}}</td>

        <td class="text-info">{{week.metrics.summary.tags.ad.count | number: 0}}</td>
        <td class="text-info">{{week.metrics.summary.tags.affiliate.count | number: 0}}</td>
        <td class="text-info">{{week.metrics.summary.tags.direct.count | number: 0}}</td>
        <td class="text-info"><span ng-show="week.metrics.summary.tags.newsletter-airpair.count">{{week.metrics.summary.tags.newsletter-airpair.count | number: 0}}</span></td>
        <td class="text-info">{{week.metrics.summary.tags.incubator.count | number: 0}}</td>
        <td class="text-info">{{week.metrics.summary.tags.press.count | number: 0}}</td>
        <td class="text-info">{{week.metrics.summary.tags.product.count | number: 0}}</td>
        <td class="text-info">{{week.metrics.summary.tags.seo.count | number: 0}}</td>
        <td class="text-info">{{week.metrics.summary.tags.social.count | number: 0}}</td>
        <td class="text-info">{{week.metrics.summary.tags.wordofmouth.count | number: 0}}</td>
        <td class="text-info"><!-- AoA? --></td>
        <td class="text-info">{{week.metrics.summary.tags.untracked.count | number: 0}}</td>

        <td></td>
      </tr>
      

    





      <tr class="active">
        <td></td>
        <td>Count % of Total</td>
        <td></td>

        <td class="text-info">{{(week.metrics.summary.tags.ad.count/week.metrics.summary.numOrders*100 | number:1) || 0 }}%</td>
        <td class="text-info">{{(week.metrics.summary.tags.affiliate.count/week.metrics.summary.numOrders*100 | number:1) || 0 }}%</td>
        <td class="text-info">{{(week.metrics.summary.tags.direct.count/week.metrics.summary.numOrders*100 | number:1) || 0 }}%</td>
        <td class="text-info">{{(week.metrics.summary.tags.newsletter-airpair.count/week.metrics.summary.numOrders*100 | number:1) || 0 }}%</td>
        <td class="text-info">{{(week.metrics.summary.tags.incubator.count/week.metrics.summary.numOrders*100 | number:1) || 0}}%</td>
        <td class="text-info">{{(week.metrics.summary.tags.press.count/week.metrics.summary.numOrders*100 | number:1) || 0 }}%</td>
        <td class="text-info">{{(week.metrics.summary.tags.product.count/week.metrics.summary.numOrders*100 | number:1) || 0 }}%</td>
        <td class="text-info">{{(week.metrics.summary.tags.seo.count/week.metrics.summary.numOrders*100 | number:1) || 0 }}%</td>
        <td class="text-info">{{(week.metrics.summary.tags.social.count/week.metrics.summary.numOrders*100 | number:1) || 0 }}%</td>
        <td class="text-info">{{(week.metrics.summary.tags.wordofmouth.count/week.metrics.summary.numOrders*100 | number:1) || 0 }}%</td>
        <td class="text-info"><!-- AoA? --></td>
        <td class="text-info">{{(week.metrics.summary.tags.untracked.count/week.metrics.summary.numOrders*100 | number:1) || 0 }}%</td>

        <td></td>
      </tr>

      <tr class="success">
        <td></td>
        <td> <strong>Revenue</strong></td>
        <td>{{week.metrics.summary.revenueTotal | currency}}</td>

        <td class="text-info">{{week.metrics.summary.tags.ad.revenue | currency}}</td>
        <td class="text-info">{{week.metrics.summary.tags.affiliate.revenue | currency}}</td>
        <td class="text-info">{{week.metrics.summary.tags.direct.revenue | currency}}</td>
        <td class="text-info"><span ng-show="week.metrics.summary.tags.newsletter-airpair.revenue">{{week.metrics.summary.tags.newsletter-airpair.revenue | currency}}</span></td>
        <td class="text-info">{{week.metrics.summary.tags.incubator.revenue | currency}}</td>
        <td class="text-info">{{week.metrics.summary.tags.press.revenue | currency}}</td>
        <td class="text-info">{{week.metrics.summary.tags.product.revenue | currency}}</td>
        <td class="text-info">{{week.metrics.summary.tags.seo.revenue | currency}}</td>
        <td class="text-info">{{week.metrics.summary.tags.social.revenue | currency}}</td>
        <td class="text-info">{{week.metrics.summary.tags.wordofmouth.revenue | currency}}</td>
        <td class="text-info"><!-- AoA? --></td>
        <td class="text-info">{{week.metrics.summary.tags.untracked.revenue | currency}}</td>

        <td></td>
      </tr>


      <tr class="active">
        <td></td>
        <td>Revenue % of Total</td>
        <td></td>

        <td class="text-info">{{(week.metrics.summary.tags.ad.revenue/week.metrics.summary.revenueTotal*100 | number:1) || 0}}%</td>
        <td class="text-info">{{(week.metrics.summary.tags.affiliate.revenue/week.metrics.summary.revenueTotal*100 | number:1) || 0}}%</td>
        <td class="text-info">{{(week.metrics.summary.tags.direct.revenue/week.metrics.summary.revenueTotal*100 | number:1) || 0}}%</td>
        <td class="text-info">{{(week.metrics.summary.tags.newsletter-airpair.revenue/week.metrics.summary.revenueTotal*100 | number:1) || 0}}%</td>
        <td class="text-info">{{(week.metrics.summary.tags.incubator.revenue/week.metrics.summary.revenueTotal*100 | number:1) || 0}}%</td>
        <td class="text-info">{{(week.metrics.summary.tags.press.revenue/week.metrics.summary.revenueTotal*100 | number:1) || 0}}%</td>
        <td class="text-info">{{(week.metrics.summary.tags.product.revenue/week.metrics.summary.revenueTotal*100 | number:1) || 0}}%</td>
        <td class="text-info">{{(week.metrics.summary.tags.seo.revenue/week.metrics.summary.revenueTotal*100 | number:1) || 0}}%</td>
        <td class="text-info">{{(week.metrics.summary.tags.social.revenue/week.metrics.summary.revenueTotal*100 | number:1) || 0}}%</td>
        <td class="text-info">{{(week.metrics.summary.tags.wordofmouth.revenue/week.metrics.summary.revenueTotal*100 | number:1) || 0}}%</td>
        <td class="text-info"><!-- AoA? --></td>
        <td class="text-info">{{(week.metrics.summary.tags.untracked.revenue/week.metrics.summary.revenueTotal*100 | number:1) || 0}}%</td>

        <td></td>
      </tr>



  </table>

  </div>