<fieldset>

  <legend>Confirm your email</legend>

  <p style="width:620px;margin:0 0 20px 0">Shortly, you will receive an email from your AirPair account manager who will handpick the best experts for you. <span style="color:#CC523E">You must reply to this initial email in order for us to begin connecting you with experts.</span> Please confirm we have the right address.</p>

  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Error</h4>
  </div>

    <div class="control-group">
      <div class="controls">
        <input type="text" data-error-style="inline" value="{{ email }}" placeholder="Email" name="email" id="contactEmail" class="input-block-level" style="width:400px">
      </div>
    </div>

  <div style="clear:both"></div>

  <div class="form-actions">
    <a href="save" class="save button" style="width:160px">Confirm email</a>
  </div>


</fieldset>

