<fieldset>

  <legend><b>{</b> Technical brief <b>}</b>
      <span class="stepNum">Step 3 of 3</span>
  </legend>

  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Error</h4>
  </div>

    <div class="control-group" style="height:100px">
      <label class="control-label" for="tagsInput">What technologies do you want help with?</label>
      <div id="tagsInput" class="controls controls-tags">
          <div id="tagNewForm"></div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="reqBrief">What challenges do you want to solve? <span id="breifCount" class="muted">0 chars</span></label>
      <div class="controls controls-brief">
        <textarea id="reqBrief" name="brief" placeholder="Give as MUCH detail  as possible on your problems + what you'd like to learn.">{{ brief }}</textarea>
      </div>
    </div>

    <div class="control-group" style="display:none">
      <label class="control-label" for="reqHrs"> Around how many hours of help do you need?</label>
      <select name="hours" class="span2">
        <option value="1">1</option>
        <option value="2" selected="selected">2</option>
        <option value="3-5">3-5</option>
        <option value="5-10">5-10</option>
        <option value="10-20">10-20</option>
      </select>
    </div>

   <div class="control-group" style="height:86px;margin:22px 0">
      <label class="control-label">What are your privacy requirements with the session recording? </label>
      <div class="pricing rb-group controls">
        <label for="pricingOpensource" class="pricingOpensource">Open source ( -$<span></span> p.h. )</label> <input type="radio" id="pricingOpensource" name="pricing" value="opensource" />
        <label for="pricingPrivate" class="checked">Private</label>  <input type="radio" id="pricingPrivate" name="pricing" value="private" checked="checked" />
        <label for="pricingNDA" class="pricingNDA">NDA ( +$<span></span> p.h. )</label>  <input type="radio" id="pricingNDA" name="pricing" value="nda" />

        <p class="pricingExplanation opensource">Get <b>$20 per hour discount</b> for sharing your session publicly for educational purposes.</p>
        <p class="pricingExplanation private">We record the session for your reference and only you have access to it.</p>
        <p class="pricingExplanation nda">Experts sign your non-disclosure agreement. You choose if you want your session recorded.</p>
      </div>

    </div>


    <div class="control-group" style="height:86px;margin:22px 0">
      <label class="control-label" for="reqBudget">What's your hourly budget?</label>
      <div class="budget rb-group controls">
        <label for="budget1">$80</label>  <input type="radio" id="budget1" name="budget" value="80" />
        <label for="budget2" class="checked">$110</label>  <input type="radio" id="budget2" name="budget" value="110" checked="checked" />
        <label for="budget3">$150</label>  <input type="radio" id="budget3" name="budget" value="150" />
        <label for="budget4">$200</label>  <input type="radio" id="budget4" name="budget" value="180" />
        <label for="budget5">$270</label>  <input type="radio" id="budget5" name="budget" value="270" />

        <p class="budgetExplanation budget1"><b>20%</b> of our experts do airpairs in this budget</p>
        <p class="budgetExplanation budget2"><b>50%</b> of our experts do airpairs in this budget</p>
        <p class="budgetExplanation budget3"><b>75%</b> of our experts do airpairs in this budget</p>
        <p class="budgetExplanation budget4"><b>95%</b> of our experts do airpairs in this budget</p>
        <p class="budgetExplanation budget5"><b>All</b> our experts do airpairs in this budget</p>
      </div>
    </div>


  <div class="control-group">
    <label class="control-label" for="availabilityInput">What is your location / timezone, urgency & availability?</label>
    <div class="controls controls-availability">
      <textarea id="availability" name="availability" placeholder="How soon do you need this solved, what location + timezone are you in & when are you available?" style="height:60px">{{ availability }}</textarea>
    </div>
  </div>

  <div style="clear:both"></div>

  <div class="form-actions">
    <a href="save" class="save button">Submit</a>
    <a href="#info" class="back button button-gray">Back</a>
  </div>

</fieldset>

