
<img src="/images/faces.png" class="faces" />

<div class="welcomeMsg">
    <h1>Let's get started!</h1>

    <p><i>Step 1 of 3</i></p>

    <p>As you can see on the right, we use <i>google hangouts</i> for video chat.</p>

    <p>Before jumping on your own airpair, we ask you to supply a technical brief that we use to suggest 3 relevant experts in your budget.</p>
    <p>
    Once you choose the expert you like most,
    we use your google account to invite you to your first airpair hangout. Sign in with google to continue.</p>

    <a href="/auth/google?return_to=/find-an-expert"><img src="/images/signin/google.png" class="signinBtn-google"/></a>

</div>
<div class="rightCol">

    <h2><em>{</em> Example airpairs <em>}</em></h2>

    <div class="customer">
      <h4><b>{</b> environment setup <b>}</b><br />
        <span class="label label-tag">ruby-on-rails</span>
        <span class="label label-tag">postgres</span>
        </h4>
      <p><i>Customer feedback:</i> We got so much done in an hour!</p>
      <iframe width="360" height="220" src="http://www.youtube.com/embed/l9BItvriQmk" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="customer">
      <h4><b>{</b> getting unstuck quicker <b>}</b>
          <br /><span class="label label-tag">backbone.js</span> <span class="label label-tag">auth</span> <span class="label label-tag">CORS</span>
      </h4>
      <p><i>Customer feedback:</i> This was exactly what I wanted. </p>
      <iframe width="360" height="220" src="http://www.youtube.com/embed/G3q5GBlPEHI" frameborder="0" allowfullscreen></iframe>
    </div>

</div>