 <div class="content-sidebar-wrap">
  <main class="content">
    <article class="post type-post format-standard entry">
      <header class="entry-header">
        <h1 class="entry-title" itemprop="headline">Find Your Expert</h1>
        <p class="entry-meta"><time>Step 1 of 3: </time>
          <b>Sign in with your google account</b>
        </p>
      </header>
      <div class="entry-content" style="padding:20px">

        <h4>Sign in to access the world's best software engineers.</h4>

        <div class="signin">
          <a href="/auth/google?return_to=/find-an-expert" class="signinBtn-google track"><img src="/images/signin/google.png"/></a>
        </div>

        <div style="width:310px;margin-bottom:0" class="wp-caption alignright"><img src="//airpair-blog.s3.amazonaws.com/wp-content/uploads/2014/01/Node.js-Pair-Programming-Help-On-AirPair-300x176.png" alt="Online Pair Programming"><p class="wp-caption-text" style="padding-top:1px;font-weight:normal">Live AirPair help through video chat</p>
        </div>
        <h4>Why Google?</h4>
        <p style="margin-bottom:6px">We've <a href="http://www.google.com/+AirPair" target="_blank">connected hundreds of customers</a> just like you to the world's best software experts through Google video chat. We use your Google account to invite you into chat for your AirPair session.</p>
      </div>

      <footer class="entry-footer">
        <p><b>Step 1</b> Sign In <em>>></em> <b>Step 2</b> Supply info <em>>></em> <b>Step 3</b> Book expert</p></footer>
    </article>
  </main>
</div>

<aside class="sidebar sidebar-primary widget-area">

  <section class="widget featured-content featuredpost">

    <div class="widget-wrap">
      <h4 class="widget-title widgettitle">AirPair FAQ</h4>

      <article class="entry">
        <span class="alignleft">
          <img src="http://m.c.lnkd.licdn.com/media/p/1/000/1cf/26b/3c5c271.jpg" class="avatar avatar-65 photo">
        </span>
        <header class="entry-header">
          <h2 class="entry-title">How much does an AirPair session cost?</h2>
          <p class="entry-meta">
            <span class="entry-author">Dilys Sun</span>, AirPair Customer Account Manager
          </p>
        </header>

        <div class="entry-content">
          <p>AirPair is a marketplace. Experts set their own rate and we match you on your budget.</p>

          <table class="pricing">
           <tr>
            <th style="background:#FFB485">$60<i>/hr</i></th>
            <th style="background:#EBB2E7">$90<i>/hr</i></th>
            <th style="background:#A1E3A6">$130<i>/hr</i></th>
            <th style="background:#98D0ED">$200<i>/hr</i></th>
            <th style="background:#E8A0A0">$300<i>/hr</i></th>
          </tr>
          <tr>
            <td>Access <div>15%</div> of experts</td>
            <td>Access <div>40%</div> of experts</td>
            <td>Access <div>60%</div> of experts</td>
            <td>Access <div>90%</div> of experts</td>
            <td>Access <div>100%</div> of experts</td>
          </tr>
          <tr>
            <td style="background:#FADBC8">Solve any beginner challenge</td>
            <td style="background:#F5D3F2">Write software like an expert</td>
            <td style="background:#D4FCD7">Solve deep technical problems</td>
            <td style="background:#D2ECFA">Get solutions from world class talent</td>
            <td style="background:#F5D5D5">Leverage industry leaders</td>
          </tr>
        </table>

        <p style="color:#63C969;margin-top:10px;font-style:italic;float:right">Most customers choose $130/hr</p>
        </div>
      </article>

      <article class="entry">
        <span class="alignleft">
          <img src="https://0.gravatar.com/avatar/2db848de65112c20aa13f566c0cbf9d7?s=120" class="avatar avatar-65 photo">
        </span>
        <header class="entry-header">
          <h2 class="entry-title">How long until I get help from an expert?</h2>
          <p class="entry-meta">
            <span class="entry-author">Igor Lebovic</span>, AirPair Customer Account Manager
          </p>
        </header>

        <div class="entry-content">
          <p><em>AirPair is optimized for quality</em>, not speed. To get the best expert, we ask a few questions about the tech you use and challenges you are facing. With this info, your <b>Customer Account Manager</b> can have you connected to an expert and on AirPair as quickly as 15 minutes. Challenging requirements can take us 1 or 2 days to find the best match.</p>
        </div>

      </article>

    </div>
  </section>

  <br /><br />
</aside>


