
<img src="/images/signin/faces.png" class="faces" />

<div class="welcomeMsg">
    <h1>Let's get started!</h1>
    <p style="color:#7F761C"><i>Step 1 of 3: Sign up using your google account</i></p>

    <p>As you see on the right, we use <i>google hangouts</i> for video chat.</p>

    <p>In a sec we will ask you to supply info about your company (step 2) and what you need help with (step 3).</p>
    <p>
    Once you're matched with an expert, we'll use your google account to invite you to your first AirPair session.</p>

    <br />

    <a href="/auth/google?return_to=/find-an-expert" class="signinBtn-google track"><img src="/images/signin/google.png"/></a>
    <p style="font-size:14px">Sign in with google to create your AirPair account.</p>

</div>
<div class="rightCol">

    <h2><em>{</em> Example airpairs <em>}</em></h2>

    <div class="customer">
      <h4><b>{</b> environment setup <b>}</b><br />
        <span class="label label-tag">ruby-on-rails</span>
        <span class="label label-tag">postgres</span>
        </h4>
      <p><i>Customer feedback:</i> We got so much done in an hour!</p>
      <iframe width="360" height="220" src="http://www.youtube.com/embed/l9BItvriQmk" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="customer">
      <h4><b>{</b> learning new frameworks <b>}</b>
          <br /><span class="label label-tag">angularjs</span>
      </h4>
      <p><i>Customer feedback:</i> This was exactly what I wanted.</p>
      <iframe width="360" height="220" src="http://www.youtube.com/embed/Qt2-Oy-wAFk" frameborder="0" allowfullscreen></iframe>
    </div>

</div>