<div style="height:50px">

  <div class="payTypeImg">
    <img src="/images/css/paypal.png">
  </div>

  <div class="alert alert-success" style="float:left;margin-left:20px;width:300px">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Saved</h4>
  </div>

</div>

<i style="display:block;margin:10px 0 20px 0">Note: When money arrives to your PayPal account it will already <br />have PayPal fees (approx 30c + 2.9%) deducted.</i>

<div class="control-group">
  <label class="control-label" for="tagsInput"><b>PayPal Email</b></label>
  <div class="controls">
      <input type="text" id="paypalEmail" name="paypalEmail" placeholder="PayPal email" value="" class="span3" data-error-style="inline">
    </div>
  </div>
</div>

<div style="clear:both"></div>

<div class="form-actions">
  <a href="save" class="save button">Save</a>

</div>
