doctype html
html(ng-app='ngAirPair')
  head
    title AirConf Foyer ("the hallway track")
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    meta(name='robots' content='index, follow')
    meta(name='HandheldFriendly' content='True')
    meta(name='MobileOptimized' content='320')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    meta(name='author' content='airpair, inc.')
    meta(name='keywords' content='Future of consulting')
    meta(name='description' content='One month long virtual Software Conference')
    link(rel="canonical" href="https://www.airpair.com"+reqUrl)
    link(rel='stylesheet' href='/css/ap.css')
    link(rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600')
    link(rel='stylesheet' type='text/css' href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
    script(src="/javascripts/site.js")
    script(src="/javascripts/airconf.js")
    script(src='//cdn.firebase.com/js/client/1.0.18/firebase.js')
    script(src='//cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js')

  body#airconfFoyer(ng-controller='SessionController',style="background:black")
    .hero
      a(href="/airconf2014",target="_self")
        img(src="/images/landing/airconf/full-logo.png", alt="AirConf")
    .container
      .row
        .col-md-8
          .m-t-1
            chat(title="The Foyer" slug="airconf2014-foyer" questions="true")

        .col-md-4
          h2.m-t-1(style="font-weight: bold") Welcome
          p Network with other attendees and ask AirPair staff questions about AirConf. No one has ever done this before and we're making it better and better with your feedback as we go.
          p(ng-hide="isSignedIn()  ")
            a.btn.btn-orange.loginRequired(href="/airconf-registration" data-return="/airconf-registration") Register to Attend Talks
          h2.m-t-2(style="font-weight: bold") Frequently asked Questions
          label What's the best way to follow the changing schedule?
          p If you haven't yet, subscribe to the
            b &nbsp;
              a(href="http://airpair.us7.list-manage1.com/track/click?u=707a79398ffed7972e1e87db6&id=f17c414d03&e=69dfe6dc4d") AirConf iCal
            | to always have the most up to date schedule.
          label How do I see talk recordings?
          p Simply visit the talk page. If you RSVP'ed, the recording will show.


          h2.m-t-2(style="font-weight: bold") Foyer Exhbitors
          .row(style="padding: 10px 40px 0 0")
            .col-xs-8
              img.img-responsive(src="/images/landing/airconf/sponsors/leanpub.png")
              img.img-responsive(src="/images/landing/airconf/sponsors/keenio.png")

    script(type="text/javascript").
      window.session = {
        firebase: !{ firebase ? JSON.stringify(firebase) : 'null' },
        user: !{ session ? JSON.stringify(session) : 'null'}
      };

      require('scripts/site/workshop');
