

/* clearfix */
ul:before, li:before, ul:after, li:after, .cf:before,
.cf:after {
  content:"";
  display:table;
}
ul:after, li:after, .cf:after {
  clear:both;
}
ul, li, .cf {
  zoom:1;
}


/* epik overrides */
.check-list li {
  background-image: url(images/css/checkmark.png);
}
