// Weight and style
// .text-lighter { font-weight: 100; }
.text-light { font-weight: 200; }
.text-bold { font-weight: bold; }
.text-normal { font-weight: normal; }
.text-upper { text-transform: uppercase; }


.text-bright {color: #fff;}

.text-xs {font-size: 12px;}
.text-lg {font-size: 20px;}
.text-xl {font-size: 28px;}


// Rendering
.text-smooth{
  -webkit-font-smoothing: antialiased;
}
