/* ap base styles */


/* epik overrides */
.check-list li {
  background-image: url(images/css/checkmark.png);
}


/* airpair customization */
.site-title a {
  background:url('/images/logos/airpair.png') no-repeat;
  width:225px;
  height:60px;
  display:block;
  margin-top:7px;
}
