<table>
  <tr>
    <td class="leftCol">

  <h2><b>{ </b>Book expert hours<b> }</b></h2>

  <ul id="bookableExperts">

  </ul>

  <div>
    <div class="satisfactionText">
      Remember, you are covered by AirPair's satisfaction guarantee: if you 
      aren't satisfied with your session, we will either make it right or give you a full refund.
    </div>
    <div class="satisfactionImage">
      <img src="/images/satisfaction-guarantee.png"/>
    </div>
  </div>

  <div style="clear:both"></div>
  <div class="form-actions">

      <p id="selecthours">Please select at least 1 hour to checkout.</p>

  </div>

</td>
<td class="rightCol">
  <div id="order">
      <h2><em>{ </em>Order summary<em> }</em></h2>

      <div id="summary"></div>

      <div id="pay" style="padding:5px 0 0 0">

        <form action="https://www.{{#if useSandbox}}sandbox.{{/if}}paypal.com/webapps/adaptivepayment/flow/pay" target="PPDGFrame" class="standard button button-pay">
          <a href="#" class="pay"><img src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" /></a>
          <input type="image" id="submitBtn" src="" value="" style="display:none">
          <input id="paykey" type="hidden" name="paykey" value="insert_pay_key">
        </form>

      </div>

      <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>Error</h4>
      </div>

  </div>
</td>
</tr>
</table>