<div class="cola">

<h2><b>{ </b>Book experts<b> }</b></h2>

<ul id="experts">

</ul>

</div>
<div class="colb form-actions">
  <div id="summary">

  </div>

  <a href="#save" class="save btn btn-warning btn-large">Continue</a>
</div>