 <div class="content-sidebar-wrap">
  <main class="content">
    <article class="post type-post format-standard entry">
      <header class="entry-header">

        <h1 class="entry-title" itemprop="headline">Thank you</h1>
        <p class="entry-meta"><time></time><b></b></p>

      </header>
      <div class="entry-content" style="padding:0px 20px">

        <p>We received your payment and are looking forward to your AirPair! If you haven't already, you'll hear from us very shortly.</p>

        <p>Please note you can come back to your request page a book more hours with your existing experts at anytime without needing to create a new request.</p>

      <br />
    </div>

      <footer class="entry-footer">
          <div class="form-actions">
            <p><a class="button" href="/review/{{ requestId }}">Return to request</a></p>
          </div>
      </footer>

    </article>
  </main>
</div>
