.container
  .row
    h1 Matching Console

    .col-xs-6
      h3 Max Rate (Budget)
      p
        input(ng-model="budget" ng-change="update()")

      h3 Pricing
      p
        select(ng-options="o as o for o in pricingOptions" ng-model="pricing" ng-change="update()")

      h3 Tags
      p
        tagger(ng-model="tagsSelected" options="tagsAvailable" style="width: 100%")
        p.help-block Specify in order of importance

    .col-xs-6
      h3 Popular Tags
      span.angular-tagger__tag(ng-click="selectTag(tag)" ng-repeat='tag in popularTags' ng-style="tagColor(tag)") {{ tag }}

.container
  .row
    h3 Expert List
    table.table
      tr
        th(width="10%") Score
          &nbsp;
          a(ng-click="sort = 'score'") ⇑
          &nbsp;
          a(ng-click="sort = '-score'") ⇓
        th Name
          &nbsp;
          a(ng-click="sort = 'name'") ⇑
          &nbsp;
          a(ng-click="sort = '-name'") ⇓
        th Email
        th Rate
          &nbsp;
          a(ng-click="sort = 'rate'") ⇑
          &nbsp;
          a(ng-click="sort = '-rate'") ⇓
        th Tags
      tr(ng-repeat='expert in experts | orderBy:sort')
        td {{ expert.score }}
        td {{ expert.name }}
        td
          a(href="mailto:{{expert.gmail}}") {{ expert.gmail }}
        td {{ expert.rate }}
        td
          span.angular-tagger__tag(ng-click="selectTag(tag.soId)" ng-repeat='tag in expert.tags' ng-style="tagColor(tag.soId)") {{ tag.soId }}
