h1 Automatch Console
h2 Select Tags...
p
  tagger(ng-model="tags" options="options")

.container
  table.table
    tr
      th Name
      th Email
      th Rate
        a(ng-click="predicate = 'rate'") ^
        a(ng-click="predicate = '-rate'") ,
      th Tags
    tr(ng-repeat='expert in experts | orderBy:predicate')
      td {{ expert.name }}
      td {{ expert.gmail }}
      td {{ expert.rate }}
      td
        span.angular-tagger__tag(ng-repeat='tag in expert.tags')
          {{ tag.soId }}


