.route { max-width:1240px;margin:auto; }

.label-owner { margin:10px 10px 10px 0;min-width:20px;text-align:center;font-weight:normal; }
.label-jk { background-color: #FFB878; }
.label-tb { background-color: #9A9CFF; }
.label-il { background-color: #7AE7BF; }
.label-pg { background-color: #51B749; }
.label-ds { background-color: #FF887C; }
.label-prev { background-color: #FF0000; }

.label-tag {
    background-color: #99923F;
    font-weight: 400;
    margin-bottom: 4px;
    padding: 4px;
}
.label-status { padding: 4px; }
.label-received { background-color: #3A87AD; }
.label-incomplete { background-color: #B94A48; }
.label-review { background-color: #468847; }
.label-scheduled { background-color: #333333; }
.label-complete { background-color: #999999; }
.label-canceled { background-color: #999999; }
.label-waiting { background-color: #3A87AD }
.label-abstained { background-color: #B94A48 }
.label-unwanted { background-color: #B94A48 }
.label-available { background-color: #468847 }
.border-waiting { border: 1px solid #3A87AD }
.border-abstained { border: 1px solid #B94A48 }
.border-unwanted { border: 1px solid #B94A48; }
.border-available { border: 1px solid #468847; }
.rating { font-weight: 700; }
.rating .label { font-weight: 400; padding: 1px 4px !important; }

a.mp { width:32px;height:32px;background:url('/images/icons/mp.png');display:inline-block }
a.em { width:32px;height:32px;background:url('/images/icons/em.png');display:inline-block }
a.gm { width:32px;height:32px;background:url('/images/icons/gm.png');display:inline-block }
a.gh { width:32px;height:32px;background:url('/images/icons/gh-white.png') #3B3B3B;background-size:100%;display:inline-block }
a.so { width:32px;height:32px;background:url('/images/icons/so-white.png') #FFA43C;background-size:100%;display:inline-block }
a.bb { width:32px;height:32px;background:url('/images/icons/bb-white.png') #1A4F7E;background-size:100%;display:inline-block }
a.in { width:32px;height:32px;background:url('/images/icons/in-white.png') #0081AF;background-size:100%;display:inline-block }
a.tw { width:32px;height:32px;background:url('/images/icons/tw-white.png') #00AFEA;background-size:100%;display:inline-block }
a.hm { width:32px;height:32px;background:url('/images/icons/hm-white.png') #25DBBF;background-size:100%;display:inline-block }
a.ap { width:32px;height:32px;background:url('/images/icons/ap.png');display:inline-block }

a.gh-white { background:url('/images/icons/gh-white.png') }
a.so-white { background:url('/images/icons/so-white.png') }
a.bb-white { background:url('/images/icons/bb-white.png') }
a.in-white { background:url('/images/icons/in-white.png') }
a.tw-white { background:url('/images/icons/tw-white.png') }
a.hm-white { background:url('/images/icons/hm-white.png') }

.expertMini .icon {
  width:16px!important;
  height:16px!important;
  display:inline-block;
  background-size:100%;
  margin:1px;
}


.admin-nav { margin-top:-15px;padding:15px 10px;background-color:white;border:none; }
.admin-nav .controls { margin-left:5px!important; }

/* keep the delete button away from the other buttons */
.controls a.btn-danger:last-child { float: right; }
