<div class="marketingTagsInput controls-tags">
  <input type="text" class="autocomplete input-small"
    placeholder="marketing tag name"
    name="marketingTags">
  <div class="selected"></div>
</div>
