<h3>Existing marketing tags</h3>

{{#empty marketingtags}}
<p>Save your first marketing source with the form below.</p>
{{/empty}}

<table>
  <thead>
    <tr>
      <th>name</th>
      {{!-- TODO --}}
      {{!-- <th>type</th> --}}
      {{!-- <th>group</th> --}}
    </tr>
  </thead>
  <tbody>
    {{#each marketingtags}}
    <tr>
      <td>{{name}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
