<h3>Existing marketing tags</h3>

{{#empty marketingtags}}
<p>Save your first marketing tag with the form below.</p>
{{/empty}}

<table class="table table-condensed" style="display: inline">
  <tr>
    <th>Group</th>
    <th>Type</th>
    <th>Name</th>
  </tr>
  {{#each marketingtags}}
  <tr>
    <td>{{group}}</td><td>{{type}}</td><td>{{name}}</td>
  </tr>
  {{/each}}
</table>
