.angular-tagger__wrapper .angular-tagger__tag {
  background-color: white !important;
  border: 1px solid silver;
  color: black;
}

tr.expert.busy {
  border-left: 2px solid #d9534f;
}

th button {
  font-size: 0.8em;
  padding: 2px;
}

.stats.row {
  color: #777;
  .stat { font-size: 0.8em }
}
