nav a.zocial { padding:0; }

#admexpertspage {}
#admexpertspage .main { display:none }
#admexpertspage #experts { float:left;width:900px }
#admexpertspage #experts img { max-width:40px }
#admexpertspage #experts td { font-size:11px; }
#admexpertspage #expertPreview { float:right;width:300px }
#admexpertspage .select { font-weight:bold }

#admorderspage {}
#admorderspage .selectOrder { display:block;font-size:9px; }
#admorderspage .total { font-weight:bold;text-align:right;padding-right:10px; }
#admorderspage th { font-size:12px; }
#admorderspage #rowsSummary th { font-size:10px;padding:2px 8px; }

#admorderspage td { padding:2px 0px 2px 8px;font-size:12px; }
#admorderspage td span { display:inline-block;width:40px; }
#admorderspage .expertPic { width:16px!important;height:16px!important }


#adminboundpage .form-actions { margin-top:0;padding:15px 10px; }

#adminboundpage #requests a { display:block; }
#adminboundpage #requests a.edit { width:50px; }
#adminboundpage #requests img { max-width:32px;border-style:solid;border-width:1.5px;float:left;margin-right:5px;padding:1px; }
#adminboundpage #requests td { font-size:11px;line-height:15px }
#adminboundpage #requests img { width:32px;height:32px; }

#adminboundpage #requests .r { width:110px; }
#adminboundpage #requests .o { width:70px; }
#adminboundpage #requests .c { width:220px; }
#adminboundpage #requests .t { width:380px; }
#adminboundpage #requests .s { width:220px; }
#adminboundpage #requests .label-tags { font-weight:normal;margin:2px 0; }
#adminboundpage #requests .label-owner { margin:10px 10px 10px 0;width:20px;text-align:center }
#adminboundpage #requests .label-jk { background-color:orange; }
#adminboundpage #requests .label-mi { background-color:purple; }

#adminboundpage #request textarea { width:90%;height:100px;font-size:11px; }
#adminboundpage #request legend { margin-bottom:2px;line-height:24px;background:black;padding:4px;color:white; }
#adminboundpage #request .colA { width:49%;float:left }
#adminboundpage #request .colB { width:49%;float:right }
#adminboundpage #request #reqBudget { width:50px; }
#adminboundpage #request #reqPricing { width:140px; }

#adminboundpage #farm {}
#adminboundpage #farm hr { margin:20px 0px;clear:both; }
#adminboundpage #farm .zocial { float:right;clear:left;margin-top:0px;padding:0 4px 0 0;font-size:10px }
#adminboundpage #farm input.url { font-size:11px;width:97%;height:16px;padding:3px 1px 3px 3px;border-radius:0 }
#adminboundpage #farm input { border-radius:0;float:left;width:28% }
#adminboundpage #farm textarea { font-size:10px;border-radius:0;padding:1px;float:left;width:68%;line-height:16px }

#adminboundpage .table-events td { padding:0 }
#adminboundpage #company-controls { font-weight:bold;margin-bottom:0 }
#adminboundpage dl { margin-bottom:6px }
#adminboundpage dt { padding:0px 0px 4px 4px;font-weight:normal }
#adminboundpage dd { padding:0px 0px 4px 4px; }
#adminboundpage #events { font-size:10px; }
#adminboundpage .contact { padding-top:10px }
#adminboundpage .contact div { float:left;width:40px;margin-right:20px;text-align:center; }
#adminboundpage .contact img { float:left;margin:4px 0px 8px 0px; }
#adminboundpage .contact table { font-weight:normal }
#adminboundpage .contact table th { width:80px; }
#adminboundpage .contact .email { width:100px;padding:1px 7px;text-align:left }
#adminboundpage #suggestions { margin-bottom:30px;}
#adminboundpage #suggestions .nav-pills { padding-top:10px }
#adminboundpage .suggestion { float:left;margin-bottom:6px }
#adminboundpage .suggestion .pic { width:40px;margin:2px;float:left; }
#adminboundpage .suggestion .deets { overflow:hidden;height:76px }
#adminboundpage .suggestion .fullName { font-size:9px;line-height:12px }
#adminboundpage .suggestion .links { width:50%;margin:0 4px 0px 0px;float:right; }
#adminboundpage .suggestion .tags { padding:1px 2px!important;clear:both;height:100px;overflow:hidden }
#adminboundpage .suggestion .label-tag { padding:0px 2px 1px 2px;font-size:9px;margin-bottom:1px }
#adminboundpage .suggestion .add-suggestion { padding-top:0px;width:48px;line-height:13px;margin:0;float:left;height:26px; }
#adminboundpage .suggestion a.email { padding:4px 7px;margin:0;float:left; }
#adminboundpage .suggested { border-top:solid 0.5px #d3d3d3;margin:5px; }
#adminboundpage .suggested hr { margin:0; }
#adminboundpage .suggested .pic { width:40px;height:40px;margin:0;float:left; }
#adminboundpage .suggested .deets { background-color:#CC523E;color:white;font-size:11px;float:right;width:500px }
#adminboundpage .suggested .names { padding:0px 0 0 4px;float:left;}
#adminboundpage .suggested .links { margin:0 4px 0px 0px;height:20px; }
#adminboundpage .suggested .links .icon { width:1.2em;height:1.2em;margin-right:-2px;margin-top:1px }
#adminboundpage .suggested .links .zocial:before { font: 60%/1.5 zocial; }
#adminboundpage .suggested .tags { margin-top:-1px;padding:0px 2px;float:right;max-width:250px;text-align:right }
#adminboundpage .suggested .tags .label-tag { margin:-2px 1px 0 1px; }
#adminboundpage .suggested .label-tag { padding:0px 2px 1px 2px;font-size:9px;float-right }
#adminboundpage .suggested .email { float:right }
#adminboundpage .suggested .delete { float:right }
#adminboundpage .suggested .status { float:left;margin:7px 0px; }
#adminboundpage .suggested .btn { margin:3px 0px 0 3px;padding:0px 7px;line-height:15px }
#adminboundpage .suggested .rate { height:30px;width:55px;float:left;margin:0;padding:4px 0;font-size:14px; }
#adminboundpage .suggested .rate em { display:block;color:gray;font-size:11px;font-style:normal; }
#adminboundpage .suggested p { clear:both;font-size:11px; }



nav div { padding-top:6px;height:54px;width:1240px;margin:auto;border-bottom:solid 1px white; }
nav div > a { float:left; }
nav img { display:inline-block;width:180px;padding:3px 12px; }
nav h3 { display:inline-block;color:#999999;padding:16px 6px }
nav ul { float:right;margin:10px 0px 8px 8px;display:inline; }
nav ul li { float:right;display:block;margin-left:5px }

#admorderspage #orders img { height: 32px;width: 32px }
#admorderspage #orders .pending { color:#b94a48; }
#admorderspage #orders .received { color:#333333 }
#admorderspage #orders .paidout { color:#468847; }
