body#book-new {
	background: #f2f2f2;
}


ul {
	list-style: none;
}

a:hover {
	text-decoration: none !important;
}

.airpairme-name {
	margin: -40px 0 40px 0;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0, .2);
}

.wrap {
	width: 90% !important;
}

.site-header .wrap {
	padding: 0;
	margin: 0;
}

.head-wrap {
	margin-bottom: 2px !important;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0, .2);
}

body#book-new .content {
	max-width: 740px;
	min-width: 610px;
	width: 65%;
}

body#book-new .sidebar-primary {
	max-width: 360px;
	min-width: 300px;
	width: 32%;
}

body#book-new h1 {
	font-weight: 100;
	font-size: 24px;
	color: #6C6C6C;
	margin: 0;
	padding: 15px 0px;
	letter-spacing: 1px;
}

body#book-new h1 span {
	color: #ce5323;
}

body#book-new h1.how-header {
	padding-left: 20px;
	border: 3px solid #e6e6e6;
	font-size: 16px;
	text-transform: uppercase;
}

body#book-new a {
	color: #ce5323;
}

body#book-new #welcome {
	margin-bottom:0px;
}

article {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0, .2);
}

ul.toggle-header {
	background: #FAFAFA;
	border-bottom: 1px solid #e2e2e2;
	padding-left: 30px
}

ul.toggle-header li a, ul.book-session li {
	display: block;
	cursor: pointer;
	font-size: 18px;
	float: left;
	padding: 16px 0;
	line-height: 24px;
	text-align: center;
	border-radius: 3px;
	margin: 5px 15px;
	transition: background 0.5s, color 0.5s;
	-webkit-transition: background 0.5s, color 0.5s;
	font-weight: bold;
	color: #4d4d4d !important;
}

ul.toggle-header li a.selected, ul.toggle-header li a:hover {
	color: #CE5323 !important;

}

ul.book-session {
	margin: 0 3px 0 3px !important;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0, .2);
}

ul.book-session li {
	margin-left: 0;
	cursor: default;
	color: #CE5323 !important;
}

.left-container {
	background: white;
	margin: 0 0 200px 0;
	display: none;
}

.left-container h4 {
	color: black !important;
}

.left-container p {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 21px;
	color: #333333;
	font-weight: normal;
	padding: 41px;
}

.left-container p span {
	color: #ce5323;
}

img.how-to-book {
	padding: 75px 53px;
	border-bottom: 1px solid #e2e2e2;
	border-top: 1px solid #e2e2e2;
}

#stripeRegister {
	display: none;
}

section#text-2 {
	display: none;
}

.left-container section {
	border-top: 1px solid #e2e2e2;
	padding: 0 40px 40px 40px;
}



/**************************** profiles ****************************/

.profiles {
	padding: 0;
}

.social-icons-large a {
	width: 46px;
	height: 117px;
	display: inline-block;
	float: left;
	background-color: #f2f2f2;
	margin-right: 6px;
	background-position: center;
	background-size: 94px;
	background-repeat: no-repeat;
}

.social-icons-large a.selected {
	background-color: #ce5323;
}

.social-icons-large a.selected:hover {
	background-color: #ce5323;
}

.social-icons-large a:first-child {
	margin-right: 8px;
}

.social-icons-large a:last-child {
	margin-right: 0px;
}

a.github-large {
	background-image: url('../images/icons/social-github.png');
}

a.github-large.selected {
	background-color: #3B3B3B;
}

a.twitter-large {
	background-image: url('../images/icons/social-twitter.png');
}

a.twitter-large.selected {
	background-color: #00AFEA;
}

a.bitbucket-large {
	background-image: url('../images/icons/social-bitbucket.png');
}

a.bitbucket-large.selected {
	background-color: #1A4F7E;
}

a.linkedin-large {
	background-image: url('../images/icons/social-linkedin.png');
}

a.linkedin-large.selected {
	background-color: #0081AF;
}

a.stackoverflow-large {
	background-image: url('../images/icons/social-stackoverflow.png');
}

a.stackoverflow-large.selected {
	background-color: #FFA43C;
}

a.home-large {
	background-image: url('../images/icons/social-home.png');
}

a.home-large.selected {
	background-color: #25DBBF;
}

body#book-new #stripeRegister { margin-bottom:300px;display:none; }
body#book-new #stripeRegister h1 { margin-left:13‹‹0px }
body#book-new #stripeRegister #payment-form img { float:right;width:66px;height:auto;margin-bottom:0px; }
body#book-new #stripeRegister #payment-form footer { margin-top:30px; }
body#book-new #stripeRegister #payment-form .form-actions { display:block; }
body#book-new #stripeRegister #payment-form .mm { width:60px; }
body#book-new #stripeRegister #payment-form .yyyy { width:70px; }
body#book-new #stripeRegister #payment-form button { background-color:#CE5323;color:#FFFFFF;font-size:18px;line-height:24px;margin:0;padding:16px 32px;text-align:center;width:100%; }


/**************************** profiles end ****************************/


/**************************** sidebar ****************************/

h1.book-session {
	color: white !important;
	background: #4d4d4d;
	padding: 10px 107px;
	margin-left: -5px;
	font-size: 18px !important;
	text-align: center;
}

.sidebar ul > li:last-child {
	margin-bottom: 5px !important;
}

.book .entry {
	padding: 20px;
	background: white;
}

.book .entry h5 {
	text-transform: uppercase;
	color: #4c4c4c;
	font-weight: normal;
	font-size: 13px;
	letter-spacing: 1px;
	float: left;
	margin: 0;
	margin-top: 10px;

}

#book-new h4 {
	color: #4c4c4c;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 16px;
	margin: 40px 0 20px 0px;
	float: left;
	width: 100%;
	font-weight: normal;
}

a#bookme-login {
	background: #CE5323;
	margin: 20px 0 20px 3%;
	letter-spacing: 1px;
	width: 94%;
}

img.avatar.user {
	width: 94%;
	margin-left: 3%;
	max-width: 300px;
}

.social-icons {
	width: 100%;
	float: left;
}

.social-icons a {
	float: left;
}

.social-icons a:first-child {
	margin-left: 0;
}

ul.booking-stats li {
	width: 100%;
	background: #e2e2e2;
	float: left;
	padding: 20px;
	margin-bottom: 3px;
}

ul.booking-stats li h3 {
	float: right;
	margin: 0;
}

span.highlight-color {
	color:  #CE5323;
}

ul.expertise li {
	float: left;
	background: #3B3B3B;
	padding: 5px 15px;
	margin: 0 10px 10px 0;
	color: white;
	font-weight: normal;
}

.pricing-group { height:86px;margin:22px 0 0px 0 }
.pricing-group em { font-style:normal; }
.pricing-group em.selected { font-weight:bold;color:#CC523E; }
.rb-group { margin:18px 8px 0 0;display:block;height:20px; }
.rb-group label { float:left;margin-right:38px;color:gray; }
.rb-group input { float:left;margin-top:7px;margin-right:4px;width:20px; }
.rb-group .error-message { display:block; }


/**************************** end sidebar ****************************/

/*********************** iframe css for article

<style type="text/css">
@media screen and (width:740px){
body {background: white;}
.head-wrap {display:none;}
aside.sidebar {display:none;}
div#habla_panel_div {display:none !important;}
.site-inner {padding:0px;}
#layout {padding: 0 40px;}
.content {padding: 0 20px;}
}
.entry {box-shadow: none; -webkit-box-shadow: none; margin: 0 0 40px;}
</style>

***********************************/

/**************************** media queries ****************************/

@media only screen and (max-width: 1023px) {
	#full-bio {
		display: none;
	}

	body#book-new .sidebar-primary {
	min-width: 300px;
	width: 100%;
	float: left;
	max-width: none;
	}
	ul.booking-stats {
		float: left;
		min-width: 275px;
		width: 100%;
	}
	img.avatar.user {
		margin-bottom: 20px;
		width: 100%;
		max-width: 300px;
		margin-left: 0px;
	}
	#menu-services {
		display: none !important;
	}
	body#book-new .content {
	width: 100%;
	min-width: 0px;
	max-width: none;
	}
	img.how-to-book {
		display: none;
	}
	.site-header .wrap {
		margin: 0;
	}
	.site-header {
	width: 90% !important;
	}
}

/**************************** end media queries ****************************/









