body {
  font-size:1rem
}

.site-header .wrap {
  padding:0;
}

.head-wrap {
  background:white!important;
}

.title-area {
  width:390px!important;
}

.site-title {
  margin:0;
}

.site-title a {
  background:url('/images/logos/airpair.png') no-repeat;
  width:225px;
  height:60px;
  display:block;
  margin-top:7px;
}

figure.gSignin { display:none; }
#sidebar-action figure.gSignin { display:inherit;background:white;text-align:center;padding:10px auto; }
#sidebar-action figure.gSignin p { font-size:13px; }

#menu-technologies {

}

#menu-technologies a {
  width:1100px!;
  margin:auto;
  padding:8px 12px;
}

#menu-services {
  margin:10px 10px;
}


#menu-services .menu-item > a {
  color:black;
  font-size:17px;
  font-weight:500;
  letter-spacing:0.07em;
  padding: 13px 18px;
}


#menu-services .menu-item > a:hover {
  color:#CE5323;
}

article h2 {
  font-size:1.4rem!important;
}


.entry-title {
  font-size:1.6rem;
  margin-bottom:5px!important;
}

p.entry-meta {
  padding:0 20px 10px 20px!important;
  font-size: 0.7rem!important;
}

#sidebar-action {
  text-align:center
}

a.trackCustomerLogin {
  width:100%;
  margin-bottom:0!important;
  text-align:center;
}

a.trackCustomerLogin:hover {
  background-color:#DB0000!important;
  opacity:0.85!important
}

a.trackExpertLogin {
}

.bio {
  font-size:1.02rem
}

.bio h2 {
  font-size:1.3rem!important;
}

.bio p {
  margin-bottom:1rem;
}

.bio em {
  font-weight:500;
  font-style:none;
}

.bio div.pics { width:110px;float:left;margin-right:20px }
.bio div.pics p { margin-top:5px;text-align:center;font-size:13px; }
.bio div.pics em { display:block }
.bio div.links { float:right;display:inline }
.bio div.links a { width:32px;height:32px;display:inline-block;margin-left:6px;float:right; }

.icon { width:32px;height:32px;display:inline-block;margin-left:6px;float:right; }
.social-icons a { width:32px;height:32px;display:inline-block;margin-left:6px;float:right; }
.github { background:url('/images/icons/gh.png') }
.twitter { background:url('/images/icons/tw.png') }
.bitbucket { background:url('/images/icons/bb.png') }
.stackoverflow { background:url('/images/icons/so.png') }
.linkedin { background:url('/images/icons/in.png') }

.bio-action {
  color:gray;
  font-style:italic;
  font-size:0.9em;
  margin-top:0;
}

.session {
  display:block;
  clear:both;
  background:#F2F2F2;
  padding:20px 30px 1px 30px;
  margin-bottom:0px;
  font-size:0.9em;
}

.session h2 {
  font-size: 0.9rem!important;
  font-weight:500;
  font-style: italic;
}

.session p {
  margin-bottom: 1rem!important;
}

#session-action a {
  width:100%;
  text-align:center;
  font-color:white!important;
  margin-bottom:15px;
}


.signature {
  background:#F2F2F2;
  height:90px;
  margin:10px 0;
  padding:10px;
}
.signature img { float:left;width:70px;margin-right:20px }
.signature div { float:left;line-height:1.38em }

.signature .trackCustomerLogin, a.signature-action {
  text-align:center;
  float:right;
  font-color:white!important;
  margin:5px 0 15px 0;
  width:60%;
}

.quoter { margin:10px auto;width:200px;text-align:center }
.quoter img { width:100px;margin:auto }
.quoter label { margin:10px auto;width:160px;font-style:italic;text-align:center;font-size:14px }
.quoter b { display:block }

.pricing th { border:solid 1px white }
.pricing td { background:#d3d3d3;text-align:center;border:solid 1px white;padding:5px 3px; }
.pricing td div { font-weight:bold }
.pricing td em { display:block }

section#text-3 { border:none;padding-bottom:0 }
article#howMuch { padding-top:0 }
article#howMuch img { width:65px;float:left;margin-bottom:5px }
article#howMuch label { font-size:22px;margin:3px 10px;display:block;float:left;color:#333333;font-weight:500 }
article#howMuch label p { font-size:12px;color:gray;font-weight:400 }
article#howMuch div { clear:both;border-top:solid 1px #EEEEEE }
article#howMuch div p { margin:8px 12px }
article#howMuch th { font-weight:500;width:18% }
article#howMuch th i { font-size:10px }
article#howMuch td { font-size:12px }

/* Firefox fix for tech landing pages profile pic spilling over the column */
.featuredpost a { max-width:100% }


@media (max-width:1140px) {
  #menu-technologies { display:none }
  aside.header-widget-area { width:660px!important; }
  #menu-services a { font-size:26px;font-weight:600;letter-spacing:0.05em;padding:13px; }
  #menu-item-20637 { display:none }
  .sidebar-primary { width:300px; }
  table.pricing { display:none; }
}

@media (max-width:1024px) {
  .title-area { width:200px;padding:5px 0 0 0; }
  aside.header-widget-area { width:580px!important;padding:5px 0 0 0; }
  #menu-item-20638 { display:none }
}

@media (max-width:880px) {
  .title-area { width:200px; }
  aside.header-widget-area { width:416px!important; }
  .menu-services li { height:35px; }
  .menu-services a { font-size:15;font-weight:800 }
  #menu-item-20487 { display:none }
}

@media (max-width:700px) {
  .title-area { width:200px; }
  aside.header-widget-area { width:224px!important; }
  #menu-item-20324 { display:none }
}

@media (max-width:540px) {
  .title-area { float:none;display:block }
  aside.header-widget-area { width:380px!important;float:none!important;display:block!important }
  #menu-services { margin:0px!important;padding:0px;display:block;float:none; }
/*  .menu-services li { height:35px; }*/
  #menu-services a { padding-left:0; }
  #menu-item-20324 { display:inline-block; }
}
