#reviewDetail p, #brief { font-size:12px;color:gray }
#reviewDetail a:hover { color:black!important }
#reviewDetail .links { height:70px }
#reviewDetail .skills { height:70px }
#reviewDetail .skills .label { margin-right:2px!important;padding:2px 4px!important;font-size:10px }


#reviewDetail .links a { display:block;border-bottom:solid 1px #d1d1d1;padding:3px 2px 4px 2px; }