html, body {
  height: 100%;
}

body {
  font-family: Open Sans, helvetica, sans-serif;
  letter-spacing: 0.2px;
  background: #e2e2e2;
  color: #333333;
  font-size: 14px;
  margin:0;
  padding-top: 60px;
}

@media (max-width: 640px) {
  body {
    width: 1000px;
  }
}


a {color: white; text-decoration: none;}

a:hover { text-decoration:none;color:#ffffff }

ul {
  padding: 0;
}

h1 {
  font-size: 34px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 48px;
  margin: 0;
}

h2 {
  font-size: 30px;
  margin: 10px 0;
  letter-spacing: 1px;
}

h3 {
  font-weight: 400;
  color: #a3a3a3;
  font-size: 24px;
  line-height: 38px;
  margin: 0;
}

p {
  font-style: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.5px;
  margin-top: 0;
}


.fold-border {
  height: 20px;
  background-color: #212F3B;
  margin-top: -20px;
}

nav {
  background-color: #212F3B;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

nav .tech { background:#172430;text-align:center;font-size:13px;padding:5px; }
nav .tech a { margin-right:14px;color:#d3d3d3!important; }
nav .tech a:hover { color:white!important; }

nav a.logo { /* logo */
  display:inline-block;
  float:left;
  width: 120px;
  height: 40px;
  margin-top: 10px;
  margin-left: 30px;
  background: url('/images/logos/header.png') no-repeat;
}

nav .contactus {
  float: left;
  color: #888888;
  margin-top: 13px;
  margin-left: 8px;
  font-size: 15px;
}

nav ul.navigation {
  float:right;
  margin-right:20px;
  margin-top:2px;
}

nav ul li {
  list-style: none;
  float: left;
  color: white;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 19px;
  padding: 10px 5px 7px 5px;
}

nav span {
  color: #CC6750;
  font-weight: 600;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

nav li span {
  color: #CC6750;
  font-weight: 600;
  opacity: 0;
}

nav li:hover span {
  opacity: 1;
}

nav li.active span {
  opacity: 1;
  color: #99923F;
}

nav a:link, nav a:visited {
  color: white;
  text-decoration: none;
}

nav ul.social {
  float:right;
  position: relative;
  margin-right: 35px;
  margin-top: -3px;
}

nav ul.social li {
  list-style: none;
  float: left;
  margin-left: 3px;
  margin-right: 3px;
  padding: 10px 2px 10px 2px;
}

nav ul.social li a {
  display:block;
  height:36px;
  width:36px;
}

nav ul li img:hover {
  margin-top: -4px;
}

nav .twitter {
  background:url('/images/icons/twitter.png')
}
nav .facebook {
  background:url('/images/icons/facebook.png')
}

.tagline {
  width: 800px;
  margin: 0 auto auto auto;
  padding-bottom: 90px;
  line-height: 36px;
  text-align: center;
}

.outer-container {
  width: 100%;
  background:url('/images/bg-top.jpg');
  background-size:100%;
  padding: 80px 0;
}

.last-outer-container {
  padding-bottom: 180px;
}

.inner-container {
  margin: 10px auto;
  width: 940px;
  color: white;
}

/************** Jumbotron **************/

.jumbotron { height:612px; text-align: center; }
.jumbotron img.main { width:350px;margin:50px auto 40px auto;display:block }
.jumbotron .col { float:left;width:46%;height:240px }
.jumbotron p {float: left; margin-left: 340px; color: #0E1419;}
.jumbotron p a {color: #99923F;}
.jumbotron p a:hover {color: #CC867A;}
.jumbotron .tagline {padding-bottom: 50px;}
.jumbotron .button {
  margin: 30px 0 10px 244px;
  width: 400px;
}

.jumbotron .button:hover {
  margin: 30px 0 10px 254px;
}

.jumbo-sub-head {
  padding: 40px;
  padding-top: 60px;
  clear: both;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  height: 400px;
}


.service-spinner {
  float: left;
  text-align: center;
  width: 235px;
}

.service-spinner h3 {
  margin-top: 20px;
  color: white;
  font-size: 18px;
  font-weight: 400;
}

.service-spinner .hi-icon {
  background: #CC6750;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-bottom: 50px solid rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  margin-top: 40px;
}

/************** End Jumbotron **************/


h2 span { color: #CC6750 }
h2.yellow span { color: #99923F; }

.header-button {
  background:#CC6750;
  padding:1px 20px 4px;
  border-radius: 0.5em;
  color:white;
  border:solid 3px #CC523E;
  font-size:18px;
  /*margin:20px 142px;*/
  text-decoration:none;
  display: inline-block;
  width:auto !important;  
  height:auto !important;  
  margin-left: 4px;
  /*float: right;*/
  
}
.button {
  background:#CC6750;
  padding:10px 20px;
  border-radius: 0.5em;
  color:white;
  border:solid 3px #CC523E;
  font-size:18px;
  margin:20px 142px;
  float:left;
  -webkit-transition: margin .2s;
  text-decoration:none;width:180px;
}

.button:hover { margin: 20px 152px; -webkit-transition: margin .2s; }
.button-gray { background:#d3d3d3;border:solid 3px darkgray }

a.green { background: #99923F;border: solid 3px #7F761C }

/* Supporting marketing content */
.marketing { margin:0 auto;max-width:940px;font-size:14px; }
.marketing .faces { width:250px;margin-top:-10px;padding-right:70px;float:right; }
.marketing p + h4 { margin-top: 28px; }
.marketing p.feedback { font-size:16px;}
.marketing hr { height:30px;clear:both;
    border-bottom:dashed 1px gray;border-top:none;border-left:none;border-right:none }
.marketing img.spinning {
  margin: 30px 0 0 75px;
}

.marketing img.spinning:hover {
  -webkit-animation: spinAround 2s linear infinite;
  -moz-animation: spinAround 2s linear infinite;
  animation: spinAround 2s linear infinite;
}




.cola {
  float: left;
  clear: left;
  width: 405px;
  margin-right: 40px;
}

.colb {
  float:right;
  width:410px;
}

.asession {
  padding:40px;
  clear:both;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 40px;
}

.asession h2 {
  text-align: center;
  margin: 0 0 50px 0;
}

.asession h4 {
  font-size: 1.2em;
  margin: 0 0 5px 0;
  color: #212F3B;
}

.asession a {
  color: #99923F;
}

.asession a:hover {
  color: #CC6750;
}

.asession h2 b { color:#CC523E }
.asession h2 em { color:#7F761C;font-style:normal; }

.privateap { width:420px;height:236px;border:dotted 1px gray;margin:0px auto;position:relative; }
.privateap i { display:block;margin:90px auto;font-style:normal;text-align:center; }

.landing-page h2 {
    margin-top: 40px;
}

.landing-page p {
    text-align: left;
}

.landing-page .button {
    float: none;
    width: 190px;
    padding: 10px 160px;
    display: inline-block;
}

.landing-page .jumbotron {
    height: 1050px;
}

.landing-page .asession {
    margin: 30px;
}

.landing-page hr {
    clear:both;
    border-bottom:dashed 1px #A4A4A5;
    border-top:none;
    border-left:none;
    border-right:none
}


/*#how h2 { margin-bottom:30px }*/
.step {margin-bottom: 50px;}
#how .step { width:280px;float:left;margin-right:50px }
.last {margin-right: 0 !important;}
#how p {
  font-size: 17px;
  text-align: center;
  margin-bottom: 22px;
}
#how b { color:#CC6750; }
.step img {
  max-width: 280px;
  background: rgba(0,0,0,0.1);
  border-radius: 5px;
}

.step h2 {
  text-align: center;
  margin-bottom: 10px;
  background-color:#CC523E;
  width:40px;
  margin:auto;
  border-radius:20px
}

#how h3 { font-weight:bold; }
#how h3 em { color:#7F761C;font-style:normal; }
#how i { color:gray;font-style:normal;font-weight:normal; }
#how p { margin-top:20px; }

#how .satisfactionGuarantee {
  float:left;
  margin-left:152px;
  margin-bottom:25px;
}

#how .satisfactionText {
  float:left;
  margin-top:15px;
  margin-left:27px;
}

#how .satisfactionImage {
  float:left;
  margin-left:30px;
}

#how .satisfactionImage img {
  width:100px;
}

.pw-widget { float:right; }

.avatar {
  box-shadow: 0px 0px 3px 0px #a3a3a3;
  border: 1px solid #c9c9c9;
  background-color: #fff;
  /*padding: 3px;*/
  height: 139px;
  width: 139px;
  border-radius: 150px;
}

#why .why-brief {
  text-align: center;
  width: 282px;
}


/************************** Landing Pages *******************/

#tech li {
  margin: -1px;
  padding: 0;
  display: inline-block;
  list-style: none;
  width: 175px;
  font-size: 11px;
  background: white;
  border-radius: 50%;
  height: 135px;
  padding-top: 40px;
  box-shadow: 0 0 0 15px rgba(153, 146, 63,0.8);
  position: relative;
  z-index: 100;
  -webkit-transition: box-shadow 0.2s ease-in-out;
  -moz-transition: box-shadow 0.2s ease-in-out;
  -o-transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
}

#tech li img {
  height: 70px;
}

#tech li a {
  text-align: center;
  color: gray;
}

#tech li:hover {
  box-shadow: 0 0 0 15px #B25747;
  z-index: 101;
}


/************************** End Landing Pages *******************/

footer {
  color: white;
  background: #212F3B;
  padding: 20px;
}


.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.cf { zoom: 1; }
