<legend>Log</legend>
<table class="table table-striped table-events">
  <thead>
    <tr>
      <th>Time</th>
      <th>Name</th>
      <th>By</th>
    </tr>
  </thead>
  <tbody>
{{#each events}}
  <tr>
    <td>{{localDateTimeSeconds utc}}</td>
    <td>{{name}}</td>
    <td>{{by.name}}</td>
  </tr>
{{/each}}
  </tbody>
</table>