<table class="table table-striped">
  <thead>
    <tr>
      <th class="r">Status</th>
      <th class="o">Owner</th>
      <th class="c">By</th>
      <th class="t">Tags</th>
      <th class="s">Suggested</th>
      <th>Calls
        (<abbr title="completed calls">C</abbr> / <abbr title="scheduled calls">S</abbr>)
      </th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
