<legend>Info</legend>

<div class="control-group">
  <label class="control-label" for="reqStatus">Status</label>
  <div class="controls">
    <select id="status" name="status">
      <option value="">please select ...</option>
      <option value="received">received</option>
      <option value="incomplete">incomplete</option>
      <option value="review">review</option>
      <option value="scheduled">scheduled</option>
      <option value="completed">completed</option>
      <option value="canceled">canceled</option>
    </select>
  </div>
</div>

<div class="control-group" style="margin:0">
  <div id="company-controls" class="controls"></div>
</div>

<div id="canceled-control-group" class="control-group" style="display:none">
  <label class="control-label" for="reqCanceledDetail">Canceled Reason</label>
  <div class="controls">
    <textarea id="reqCanceledDetail" name="canceledDetail">{{ canceledReason }}</textarea>
  </div>
</div>

<div id="incomplete-control-group" class="control-group" style="display:none">
  <label class="control-label" for="reqCanceledReason">Incomplete detail</label>
  <div class="controls">
    <textarea id="reqIncompleteDetail" name="incompleteDetail">{{ incompleteDetail }}</textarea>
  </div>
</div>


<div class="control-group">
  <label class="control-label" for="reqBudget">Budget / Pricing</label>
  <div class="controls">
    <select id="reqBudget" name="budget">
      <option value="">please select ...</option>
      <option value="30">$30</option>
      <option value="60">$60</option>
      <option value="90">$90</option>
      <option value="130">$130</option>
      <option value="180">$180</option>
      <option value="250">$250</option>
    </select>
    <select id="reqPricing" name="pricing">
      <option value="">please select ...</option>
      <option value="opensource">opensource</option>
      <option value="private">private (+$20 p.h.)</option>
      <option value="nda">nda (+$60 p.h.)</option>
    </select>
  </div>
</div>


<div class="control-group">
  <label class="control-label" for="reqStatus">Tags</label>
  <div id="tagsInput" class="controls controls-tags">
      <div id="tagNewForm"></div>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="reqBrief">Brief</label>
  <div class="controls">
    <textarea id="reqBrief" name="brief">{{ brief }}</textarea>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="reqAvailability">Availability</label>
  <div class="controls">
    <textarea id="reqAvailability" name="availability">{{ availability }}</textarea>
  </div>
</div>