<legend>Suggestions</legend>
<ul class="nav nav-pills" style="display:inline!important">
  {{#each tags}}
  <li data-name='{{short}}'><a href="#" class="js-tag">{{short}}</a></li>
  {{/each}}
</ul>
<div class="ops"></div>