<legend>Info</legend>

<div class="control-group" style="float:left;margin-bottom:0">
  <label class="control-label" for="status">Status
    <span class="label status"></span>
  </label>
  <div class="controls">
    <select id="status" name="status">
      <option value="">please select ...</option>
      <option value="received">received</option>
      <option value="incomplete">incomplete</option>
      <option value="holding">holding</option>
      <option value="review">review</option>
      <option value="scheduled">scheduled</option>
      <option value="completed">completed</option>
      <option value="canceled">canceled</option>
    </select>
  </div>
</div>

<div class="control-group" style="float:left;margin:20px 0px 0 20px">
  <label class="control-label" for="reqOwner">Owner</label>
  <div class="controls">
    <select id="reqOwner" name="owner">
      <option value="">please select ...</option>
      <option value="jk">jk</option>
      <option value="mi">mi</option>
      <option value="il">il</option>
      <option value="dt">dt</option>
      <option value="ds">ds</option>
    </select>
  </div>
</div>

<div style="clear:both"></div>

<div id="canceled-control-group" class="control-group" style="display:none">
  <label class="control-label" for="reqCanceledDetail">Canceled Reason</label>
  <div class="controls">
    <textarea id="reqCanceledDetail" name="canceledDetail">{{ canceledDetail }}</textarea>
  </div>
</div>

<div id="incomplete-control-group" class="control-group" style="display:none">
  <label class="control-label" for="incompleteDetail">Incomplete detail</label>
  <div class="controls">
    <textarea id="reqIncompleteDetail" name="incompleteDetail">{{ incompleteDetail }}</textarea>
  </div>
</div>

<div class="control-group" style="margin:0">
  <div id="company-controls" class="controls"></div>
</div>


<div class="control-group">
  <label class="control-label" for="reqBudget">Budget / pricing</label>
  <div class="controls">
    <div class="input-prepend">
      <span class="add-on">$</span><input id="reqBudget" name="budget" type="text" />
      <select id="reqPricing" name="pricing">
        <option value="">please select ...</option>
        <option value="opensource">open source</option>
        <option value="private">private</option>
        <option value="nda">nda</option>
      </select>
    </div>

  </div>
</div>


<div class="control-group">
  <label class="control-label">Tags</label>
  <div id="tagsInput" class="controls controls-tags">
      <div id="tagNewForm"></div>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="reqBrief">Brief</label>
  <div class="controls">
    <textarea id="reqBrief" name="brief">{{ brief }}</textarea>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="reqAvailability">Availability</label>
  <div class="controls">
    <textarea id="reqAvailability" name="availability">{{ availability }}</textarea>
  </div>
</div>
