<div class="form-actions admin-nav">
  <div class="controls">
    <a href="#list" class="btn">Back</a>
    <a href="#farm/{{ _id }}" class="btn btn-success btn-farm">Farm</a>
    <a href="/review/{{ _id }}" class="btn btn-inverse btn-review" target="_blank">Review</a>
    <a href="/adm/schedule/{{_id}}" class="btn btn-warning">Schedule</a>
    <a href="save" class="btn btn-primary save">Save</a>
    <a href="delete" class="btn btn-danger deleteRequest">Delete</a>
  </div>
</div>

