<table class="table table-striped">
  <thead>
    <tr>
      <th>Status</th>
      <th>By</th>
      <th>Tags</th>
      <th>Suggested</th>
      <th>Calls</th>
      <th>Rev</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>