<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Request save</h4>
</div>

<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Error</h4>
</div>


<fieldset id="reqInfo" style="width:49%;float:left">

</fieldset>

<fieldset style="width:49%;float:right">
  <legend>Suggestions</legend>

  <a class="suggestDev" href="#">add</a>

  <legend>Suggested</legend>

  <div id="reqSuggestions" class="control-group"></div>

  <hr />

  <hr />
  <legend>Scheduled</legend>
  <div id="reqCalls" class="control-group"></div>

</fieldset>

<div style="clear:both"></div>

<div class="control-group">
  <div class="controls">
    <a href="#" class="btn btn-large">Back</a>
    <a href="#" class="save btn btn-large btn-primary">Save</a>
    {{! <a href="#" class="btn btn-large btn-success" id="mailDevsContacted">Send mail</a>
     }}
    <a href="#" class="btn btn-delete deleteRequest">Delete</a>
  </div>
</div>

