<legend>Scheduled</legend>
<a class="btn btn-success scheduleCall" href="/adm/schedule/{{_id}}">
  <span class="icon-white icon-calendar"></span>&nbsp;
  Schedule Call
</a>
<div id="scheduled"><p><br />No calls scheduled</p></div>
