
.hero.talk
  .container
    .details
      .col
        div(ng-repeat="speaker in workshop.speakers")
          h2 {{speaker.name}}
          p {{speaker.fullBio}}
      .col
        h1 {{ workshop.title }}
        p {{workshop.description}}
        span(ng-repeat="tag in workshop.tags")  { {{tag}} }
     .viewer
        br
        time(datetime="{{workshop.time | date:'EEE MMM dd yyyy HH:mmZ'}}",ng-show="showLocalTimes()")
        .addthis_sharing_toolbox.m-t-1
        hr
        div(ng-show="session.isSignedIn()")
          div(ng-show="showRsvp()")
            a.btn.btn-orange.btn-rsvp(href="#", ng-click="attend()") RSVP
            br
            span to see {{ workshop.title }} live
            .player
              img.slide(src="/images/landing/airconf/slides/{{workshop.slug}}.jpg")
          div(ng-hide="registered()")
            a.btn.btn-orange(href="/airconf-registration", target='_self') Register for AirConf to watch talk
            .player
              img.slide.unregistered(src="/images/landing/airconf/slides/{{workshop.slug}}.jpg")
          div.attending(ng-show="attending()")
            p.attending You are attending {{ workshop.title }}!
            p You will be able to ask questions and watch the talk live (or after the event) on this page.
            p We will email you 24 hours before to let you know if there is space and how to get into the "front row".
            .player(ng-hide="started()")
              img.slide(src="/images/landing/airconf/slides/{{workshop.slug}}.jpg")
          div.started(ng-show="started()")
            .player
              iframe(width="785", height="443", ng-src="{{youtubeUrl()}}", frameborder="0", allowfullscreen)
        div(ng-hide="session.isSignedIn()")
          a.btn.btn-orange.loginRequired(href="/airconf-registration",data-return="/airconf-registration") Register to watch talk
          br
          span Already got an AirConf ticket? &nbsp
          a.loginRequired(href="{{$location}}") Sign in to RSVP
          hr
          a.loginRequired(href="/airconf-registration",data-return="/airconf-registration")
            img.slide.anonymous(src="/images/landing/airconf/slides/{{workshop.slug}}.jpg")

        div(ng-if="attending()")
          h3.m-t-4 Session Chat
          #chat(ng-controller='ChatController')
            div.row
              form.form-inline(ng-submit='addMessage()')
                .col-xs-1.pic
                  img.img-responsive(ng-src="{{user.picture}}")
                .col-xs-11.message
                  input(type='text', ng-model='message', placeholder='Hit enter to submit message...')
            hr
            div.row.scrollable(ng-cloak='ng-cloak', ng-repeat="message in messages | orderByPriority | reverse")
              .col-xs-1.pic
                img.img-responsive(ng-src="{{message.pic}}")
              .col-xs-11.message
                span(ng-bind-html="message.content | linky:'_blank'")
                .timestamp
                  strong {{message.from}} &nbsp;
                    {{ moment(message.timestamp).fromNow() }}
