.talk
  .container
    .row.details
      .col-md-8
        h1 {{ workshop.title }}
        time(datetime="{{workshop.time | date:'EEE MMM dd yyyy HH:mmZ'}}", ng-show="showLocalTimes()" format="dddd, MMMM Do YYYY, h:mm a")
        span.live(ng-show="live()") &nbsp;WATCH NOW LIVE
        span.live(ng-if="showCountdown()")
          timer(countdown="startsAt()" interval="1000")
            | &nbsp; Begins in {{days}} day{{daysS}}, {{hours}} hour{{hoursS}}, {{minutes}} minute{{minutesS}}


        p.description
          | {{ workshop.description }}
          span.tags(ng-repeat="tag in workshop.tags")
            | {&nbsp;
            a(href="/{{tag}}/workshops" target="_self") {{tag}}
            | &nbsp;}

        .row
          .col-md-5.m-b-1(ng-if="!registered()")
            .register
              a.btn.btn-orange(href="/airconf-registration" target="_self" ng-class="{loginRequired: !session.isSignedIn()}") Register to Watch

            .already.m-t-1.m-b-1(ng-if="!session.isSignedIn()")
              strong Already purchased an AirConf ticket?&nbsp;
              br
              a.loginRequired(href="/login" data-return="{{$location}}") Sign in to RSVP

          .col-md-5.m-b-1(ng-if="showRsvp()")
            .rsvp
              a.btn.btn-orange.btn-rsvp(href="#", ng-click="attend()") RSVP to Watch

          .col-md-7.m-b-2
            .addthis_sharing_toolbox

      .col-md-4
        div(ng-repeat="speaker in workshop.speakers")
          h1 {{speaker.name}}
          a(href="http://airpair.me/{{speaker.username}}" ng-if="speaker.username") Book an AirPair session with {{speaker.name}}
          p.description {{speaker.fullBio}}


  .container.viewer
    .player(ng-if="!registered()")
      a(href="/airconf-registration" target="_self" ng-class="{loginRequired: !session.isSignedIn()}")
        img.slide.img-responsive(ng-src="/images/landing/airconf/slides/{{workshop.slug}}.jpg")

    .player(ng-if="registered() && !attending()")
      img.slide.img-responsive(ng-src="/images/landing/airconf/slides/{{workshop.slug}}.jpg" ng-click="attend()")

    .player(ng-if="registered() && attending() && !started()")
      img.slide.img-responsive(ng-src="/images/landing/airconf/slides/{{workshop.slug}}.jpg")

    .player(ng-show="registered() && attending() && started()")
      iframe(width="100%" height="443" ng-src="{{youtubeUrl()}}" frameborder="0" allowfullscreen)



  .container.audience
    #audience.text-center.m-t-1(ng-show="audience().length")
      h3 Audience Members
      .attendee(ng-repeat="attendee in audience() | uniq:'name'")
        img(ng-src="{{ attendee.picture }}" title="{{ attendee.name }}" style="border-radius: 15px")

  .container.chat
      chat(ng-model="workshop" title="Session Chat")
