
.hero.talk
  .container
    .row
      .col-md-6
        div(ng-repeat="speaker in workshop.speakers")
          h2 {{speaker.name}}
          p {{speaker.fullBio}}
      .col-sm-6
        h1 {{ workshop.title }}
        p {{workshop.description}}
        span(ng-repeat="tag in workshop.tags")  { {{tag}} }
    .row.viewer
       hr
       img.slide(src="/images/landing/airconf/slides/{{workshop.slug}}.jpg")

       .actions
         div(ng-show="session.isSignedIn()")
           a.btn(href="#", ng-hide="attending()", ng-click="attend()") RSVP
           span(ng-show="attending()") You Are Attending
         div(ng-hide="session.isSignedIn()")
           a.btn.btn-orange.loginRequired(href="#") RSVP Now
