.talk
  .container
    .row.details
      .col-md-8
        h1 {{ workshop.title }}
        time(datetime="{{workshop.time | date:'EEE MMM dd yyyy HH:mmZ'}}", ng-show="showLocalTimes()" format="dddd, MMMM Do YYYY, h:mm a")
        span.live(ng-show="live()") &nbsp;WATCH NOW LIVE
        span.live(ng-if="showCountdown()")
          timer(countdown="startsAt()" interval="1000")
            | &nbsp; Begins in {{days}} day{{daysS}}, {{hours}} hour{{hoursS}}, {{minutes}} minute{{minutesS}}


        p.description
          | {{ workshop.description }}
          span.tags(ng-repeat="tag in workshop.tags")
            | {&nbsp;
            a(href="/{{tag}}/workshops" target="_self") {{tag}}
            | &nbsp;}

        .row
          hr(ng-if="!session.isSignedIn()")
          .col-md-6.m-b-1(ng-if="!registered()")
            .register
              strong Purchase an AirConf Ticket
              p Get full access to the conference!
              ul
                li Participate in 80+ talks with top experts
                li Get $150 AirPair credit to collaborate with experts on your project
                li Front row access to LIVE talks
                li Access to our exclusive video archive
              .registration-link.m-t-1
                a.btn.btn-orange(href="/airconf-registration" data-return="/airconf-registration" target="_self" ng-class="{loginRequired: !session.isSignedIn()}") Purchase a Ticket ($150)

            .already.m-t-1.m-b-1(ng-if="!session.isSignedIn()")
              strong
                | Already have your ticket?&nbsp;
                a.loginRequired(href="/login" data-return="{{$location}}") Sign in to RSVP

          .col-md-6.m-b-1(ng-if="!registered()")
            strong Not quite convinced yet?
            p Sign up for the free AirConf newsletter instead.
            ul
              li Get video highlights emailed to you weekly.
              li Be the first to know about newly scheduled talks.
              li Learn about free keynote panels and other special AirConf events.
            .cta-section
              form#newsletter-subscribe.m-t-1(ng-submit="subscribeToMailingList()")
                input(type="email" placeholder="Enter email address" ng-model="emailAddress")
                | &nbsp;
                input(type="submit" value="Sign Up" class="btn btn-teal")
                p
                  small We promise to not sell or spam your email address.

          .col-md-6.m-b-1(ng-if="registered()")
            .rsvp(ng-if="attending() && started()")
              strong This talk is now available. Click play on the Youtube control to watch.
            .rsvp(ng-if="attending() && !started()")
              strong Thanks!
              |  We'll send you a reminder email later. In the meantime, share with your network?
            .rsvp(ng-if="!attending() && started()")
              a.btn.btn-orange.btn-rsvp(href="#", ng-click="attend()") Click to Watch
            .rsvp(ng-if="!attending() && !started()")
              a.btn.btn-orange.btn-rsvp(href="#", ng-click="attend()") RSVP to Watch
          .col-md-6.m-b-1(ng-if="registered()")
            .addthis_sharing_toolbox(ng-if="registered()")

      .col-md-4
        div(ng-repeat="speaker in workshop.speakers")
          h1 {{speaker.name}}
          a(href="http://airpair.me/{{speaker.username}}" ng-if="speaker.username") Book an AirPair session with {{speaker.name}}
          p.description {{speaker.fullBio}}
          .pitch(ng-if="!registered()")
            strong What is AirConf?
            iframe.m-t-1(width="100%" height="215" src="//www.youtube.com/embed/q2MZYe-F8EY" frameborder="0" allowfullscreen)


  .container.viewer
    .player(ng-if="!registered()")
      a(href="/airconf-registration" target="_self" ng-class="{loginRequired: !session.isSignedIn()}")
        img.slide.img-responsive(ng-src="/images/landing/airconf/slides/{{workshop.slug}}.jpg")

    .player(ng-if="registered() && !attending()")
      img.slide.img-responsive(ng-src="/images/landing/airconf/slides/{{workshop.slug}}.jpg" ng-click="attend()")

    .player(ng-if="registered() && attending() && !started()")
      img.slide.img-responsive(ng-src="/images/landing/airconf/slides/{{workshop.slug}}.jpg")

    .player(ng-show="registered() && attending() && started()")
      iframe(width="100%" height="443" ng-src="{{youtubeUrl()}}" frameborder="0" allowfullscreen)



  .container.audience
    #audience.text-center.m-t-1(ng-show="audience().length")
      h3 Audience Members
      .attendee(ng-repeat="attendee in audience() | uniq:'name'")
        img(ng-src="{{ attendee.picture }}" title="{{ attendee.name }}" style="border-radius: 15px")

  .container.chat
      chat(ng-model="workshop" title="Session Chat")
