
.hero.talk
  .container
    .details.row
      .col-md-6
        h1 {{ workshop.title }}
        p {{workshop.description}}
        span(ng-repeat="tag in workshop.tags")  { {{tag}} }
        br
        time(datetime="{{workshop.time | date:'EEE MMM dd yyyy HH:mmZ'}}",ng-show="showLocalTimes()")
      .col-md-6
        div(ng-repeat="speaker in workshop.speakers")
          h2 {{speaker.name}}
          p {{speaker.fullBio}}
    .viewer.row
      .addthis_sharing_toolbox.m-t-1
      hr
      div(ng-show="session.isSignedIn()")

        div.attending(ng-show="registered()")
          p.attending  {{ workshop.title }}!
          p You will be able to ask questions and watch the talk live (or after the event) on this page.
          .player(ng-hide="keynoteStarted()")
            img.slide(ng-src="/images/landing/airconf/slides/{{workshop.slug}}.jpg")

        div(ng-hide="registered()")
          a.btn.btn-orange(href="/airconf-registration", target='_self') Register for AirConf to watch talk
          .player
            img.slide.unregistered(ng-src="/images/landing/airconf/slides/{{workshop.slug}}.jpg")

        div.started(ng-show="keynoteStarted()")
          .player
            iframe(width="785", height="443", ng-src="{{youtubeUrl()}}", frameborder="0", allowfullscreen)

      div(ng-hide="session.isSignedIn()")
        a.btn.btn-orange.loginRequired(href="/airconf-registration",data-return="/airconf-registration") Register to watch talk
        br
        span Already got an AirConf ticket? &nbsp
        a.loginRequired(href="{{$location}}") Sign in to RSVP
        hr
        a.loginRequired(href="/airconf-registration",data-return="/airconf-registration")
          img.slide.anonymous(ng-src="/images/landing/airconf/slides/{{workshop.slug}}.jpg")

      chat(ng-model="workshop" title="Session Chat")
