div(ng-hide="isSignedIn()")
  .modal.fade(id="loginModal", tabindex="-1", role="dialog", aria-labelledby="loginTitle", aria-hidden="true", style="opacity:0.95")
    .modal-dialog
      .modal-content
        .modal-header
          h4.modal-title#loginTitle(style="font-weight:bold;font-size:22px") Attend AirConf 2014
        .modal-body(style="text-align:center;padding:60px")
          p(style="font-size:16px;margin-bottom:60px;") AirConf is broadcasted via Google+ Hangouts
          a.btn.btn-block.btn-orange.btn-signin.trackAirConfLogin(href="#") Sign in with Google to access AirConf
          p(style="font-size:12px;margin:10px 0 0 0") *Your Google email be use to invite you to live workshops.
        .modal-footer
          button(type="button", class="btn btn-default", data-dismiss="modal") Close

script(type="text/javascript").
  // change this entire component into Angular goodness
  $("body").on('click', ".loginRequired", function(e) {
    e.preventDefault();
    var return_to = window.location.pathname;
    if ($(this).data('return')) { return_to = $(this).data('return'); }
    elemId = window.location.pathname + ':' + $(this).attr('id');

    $('#loginModal').modal({ keyboard: false });

    $(".trackAirConfLogin").click(function(e) {
      addjs.trackEvent('airconf', 'airconfLogin', elemId);
      addjs.redirectToLogin(e, "auth/google?return_to=" + return_to);
    });
  });

