doctype html
html(lang='en')
  head
    title Sign in to AirPair / AirConf
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width')

    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')

    style.
      .airconf-logo {
        vertical-align: middle;
      }
      .airpair-logo {
        vertical-align: middle;
      }
      .button {
        background-color: #CE5323;
        border-radius: 3px;
        text-align: center;
        width: 100%;
        color: #FFFFFF;
        font-size: 18px;
        line-height: 24px;
        padding: 16px 32px;
        margin: 0;
      }
      .explanation {
        font-size: 120%;
      }

  body
    .container
      .row(style="margin-top: 25px")
        .col-xs-4.col-md-offset-2
          .airconf-logo
            a(href='/', title='Pair programming, code review, software architecture help & more...')
              img.img-responsive(src="/images/logos/ap-large.png")
        .col-xs-3.col-md-offset-1
          .airpair-logo
            a(href='/airconf', title="AirConf | the world's largest online tech conference")
              img.img-responsive(src="/images/landing/airconf/full-logo.png")
        .row
          .col-md-5.col-md-offset-3
            .page-header
              h3 Login
            p.explanation
              | Due to our reliance on Google Hangouts, both <a href="/"><strong>AirPair</strong></a> and <a href="/airconf"><strong>AirConf</strong></a> depend on
              | Google OAuth for our site login. You must have a Google Account in order
              | to register and use our site.
        .row(style="margin-top: 25px")
          .col-md-5.col-md-offset-3
            a.button(href='/auth/google') Sign in with Google
