doctype html
html(ng-app='ngAirPair')
  head
    script(src="/javascripts/site.js")

  body
    h1 This is the main site

    div(ng-conroller="expertsController")
      a(href="/site") home
      span &nbsp;|&nbsp;
      a(href="/experts/me") Expert Settings
    div(ng-view)

    script.
      require('scripts/site/app');
