<div id="companysList">

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Url</th>
      <th>About</th>
      <th>Contacts</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

</div>


<div id="companyFormView">


</div>