<div id="devList">

<table class="table table-striped">
  <thead>
    <tr>
      <td></td>
      <th>Contact</th>
      <th>Skills</th>
      <th>Links</th>
      <th>Rate</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

</div>


<div id="devFormView">


</div>