<h4>In Progress ({{count}})</h4>
<br />
<table class="table table-striped">
  <thead>
    <tr>
      <th>Lead</th>
      <th>Date</th>
      <th>Company</th>
      <th>Skills</th>
      <th>Brief</th>
      <th>Suggested</th>
      <th>Calls</th>
      <th>Rev</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>