
<div id="inProgress">
  <h4>In Progress ({{count}})</h4>
  <br />
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Lead</th>
        <th>Created</th>
        <th>Company</th>
        <th>Skills</th>
        <th>Suggested</th>
        <th>Calls</th>
        <th>Rev</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<div id="completed">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Lead</th>
        <th>Created</th>
        <th>Company</th>
        <th>Skills</th>
        <th>Suggested</th>
        <th>Calls</th>
        <th>Rev</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<div id="cancelled">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Lead</th>
        <th>Created</th>
        <th>Company</th>
        <th>Skills</th>
        <th>Suggested</th>
        <th>Calls</th>
        <th>Rev</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

