<fieldset>
  <legend>Skill</legend>

  <div style="width:48%;float:left">
    <div class="control-group">
      <label class="control-label" for="skillName">Name</label>
      <div class="controls">
        <input type="text" id="skillName" name="name" placeholder="Skill name" value="{{ name }}" data-error-style="inline">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="skillShort">Short</label>
      <div class="controls">
        <input type="text" id="skillShort" name="shortName" placeholder="Short Name" value="{{ shortName }}" data-error-style="inline">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="stackOverflowId">Stack Id</label>
      <div class="controls">
        <input type="text" id="skillSoId" name="soId" placeholder="Stack tag id" value="{{ soId }}" data-error-style="inline">
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        {{#if _id }}
          <a href="#" class="save btn btn-large">Update</a>
          <a href="#" class="cancel btn">Cancel</a>
        {{else}}
          <a href="#" class="save btn btn-large btn-primary">Create</a>
        {{/if}}
      </div>
    </div>
  </div>

</fieldset>