<div id="requestNav"></div>

<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Request save</h4>
</div>

<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Error</h4>
</div>

<div class="colA">
  <fieldset id="marketingTagsInfo"></fieldset>
  <fieldset id="info"></fieldset>
  <fieldset id="events"></fieldset>
</div>

<div class="colB">
  <fieldset id="calls"></fieldset>
  <fieldset id="orders" style="display:none">
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="width:30px">Total</th>
          <th>Order #</th>
          <th style="width:35px">Pay</th>
          <th>Hours</th>
          <th style="width:24px">Profit</th>
        </tr>
        <tr id="rowsSummary"></tr>
      </thead>
      <tbody></tbody>
    </table>
  </fieldset>
  <fieldset id="suggested"></fieldset>
  <fieldset id="suggestions"></fieldset>
</div>
